<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>비에스앤리조트도고콘도</title>

	<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/moblie_reset.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">

	
	<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/mobile_layout3.css" type="text/css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalmobile.css" type="text/css">

	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr//css/commonR.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/m/history/history_m.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr//css/reservation/initR.css">
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="http://static.hotelgangneung.kr/js/swiper.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script src="http://static.bscondo.co.kr//js/common.js"></script>
	<script src="http://static.bscondo.co.kr//js/reservation/init.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

</head>
<body>

	<h1 class="hidden">비에스투어앤리조트도고콘도</h1>

	<div id="bs-wrap">

		<header class="header" id="gnb-header">
			<div class="hd-top">		
			</div>
			<div class="hd-area clr">
				<div class="glb clr">
					<a href="#" class="gLogo"><img src="http://img.bscondo.co.kr/top_logo.png" alt="비에스앤리조트로고"></a>
				
					<nav class="gNav show-md">
						<ul class="gnb clr">
							<li class="nth-1">
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li class="nth-2">
								<a href="../gallery/index.html">객실안내</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="#room01">디럭스온돌</a></li>
										<li><a href="#room02">디럭스더블</a></li>
										<li><a href="#room03">디럭스트윈</a></li>
										<li><a href="#room04">디럭스테마(키즈룸)</a></li>
										<li><a href="#room05">스위트</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-3">
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li class="nth-4">
								<a href="../group/index.html">단체문의</a>
							</li>
							<li class="nth-5">
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<li class="nth-6">
								<a href="../reservation/index.html">예약하기</a>
							</li>
							<li class="nth-7 on">
								<a href="../reservation/index.html">예약확인</a>
							</li>
						</ul>
					</nav>
					
					<button type="button" class="navTab-m show-xs" id="navTab-m">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="gNav-m hidden-md" id="gNav-m">
						<ul class="gnb-m clr">
							<li>
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li>
								<a href="../gallery/index.html">객실안내</a>
							</li>
							<li>
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li>
								<a href="../group/index.html">단체문의</a>
							</li>
							<li>
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<li>
								<a href="../reservation/index.html">예약/예약확인</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<div class="main container cf">
			<section class="main-contents">
				<h2 class="hidden">예약하기</h2>
			</section>
		</div>
		
		<section class="history" id="setTop">
			<div class="container">
				<ul class="his-tab clr" id="his-tab">
					<li class="on"><a href="javascript:;" class="btn-a">전체</a></li>
					<li><a href="javascript:;" class="btn-a">예약 진행중</a></li>
					<li><a href="javascript:;" class="btn-a">예약불가 및 취소</a></li>
				</ul>
			</div>
			
			<div class="clr"></div>
			<!--별도 고코 PC/모바일 예약하기 위치-->
			<div id="wrapper">
				<div id="scroll_box">

				</div>
			</div>
		</section>
		
		<div class="clr"></div>
		<footer class="footer">
			<div class="container clr">

				<ul class="f_menu">
					<li><a href="javascript:;">이용약관</a></li>
					<li><a href="javascript:;">개인정보처리방침</a></li>
				</ul>

				<div class="cf-box clr">
					<p class="p-0">&lt;고객센터 안내&gt;</p>
					<div class="cf-in">
						<div class="callFor cf0">
							<span class="f-bd">고객센터 안내</span>
							문의에 따라 해당 고객센터로<br>
							전화주시면,문의사항을<br>
							해결해 드리겠습니다.
						</div>
						<a class="callFor cf1" href="tel:1666-1243">
							<span class="s1">예약문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>확정, 변경, 취소<span class="xs-hidden">&#41;</span><span class="xs-block"></span>/이벤트 문의</span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-542-7007</span>
							<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>
						</a>
						<a class="callFor cf2" href="tel:010-8844-0409">
							<span class="s1">프론트</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-428-9422~3</span>
							<span class="s1-2">주중/주말 06시 ~ 02시</span>
						</a>
						<a class="callFor cf3" href="tel:010-8844-0409">
							<span class="s1">단체문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-9544-8281</span>
							<span class="s1-2">주중/주말 06시 ~ 02시</span>
						</a>
					</div>
				</div>
				
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.bscondo.co.kr/footer_logo.png" alt="bscond">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							비에스투어앤리조트<br>
							주소 : 충청남도 아산시 도고면 기곡로62번길 6-8
							<br>
							사업자등록번호 : 312-86-43769 <span class="i-l"></span> 통신판매업 : 2017-충남아산-0196
							<br>
							<small>COPYRIGHT ⓒ 비에스투어앤리조트 ALL RIGHT RESERVED</small>
						</p>
					</address>
					
				</div>
			</div>
		</footer>




	</div>

</body>
</html>
