<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>비에스앤리조트도고콘도</title>

	<link rel="stylesheet" type="text/css" href="http://static.hotelgangneung.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	
	<link rel="stylesheet" type="text/css" href="../../static/css/commonR.css">
	
	<!-- 불러오는 css위치 -->
	<link rel="stylesheet" type="text/css" href="http://static.hotelgangneung.kr/css/layout2.css">
	<link rel="stylesheet" href="http://static.go.co.kr/css/totalweb.css" type="text/css">
	
	<link rel="stylesheet" type="text/css" href="../../static/css/reservation/initR.css">


	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

	<script src="../../static/js/common.js"></script>
	
	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css', 'http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>

<body>

	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">

		<header class="header" id="gnb-header">
			<div class="hd-top">		
			</div>
			<div class="hd-area clr">
				<div class="glb clr">
					<a href="#" class="gLogo"><img src="http://img.bscondo.co.kr/top_logo.png" alt="비에스앤리조트로고"></a>
				
					<nav class="gNav show-md">
						<ul class="gnb clr">
							<li class="nth-1">
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li class="nth-2">
								<a href="../gallery/index.html">객실안내</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="#room01">디럭스온돌</a></li>
										<li><a href="#room02">디럭스더블</a></li>
										<li><a href="#room03">디럭스트윈</a></li>
										<li><a href="#room04">디럭스테마(키즈룸)</a></li>
										<li><a href="#room05">스위트</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-3">
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li class="nth-4">
								<a href="../group/index.html">단체문의</a>
							</li>
							<li class="nth-5">
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<li class="nth-6 on">
								<a href="../reservation/index.html">예약/예약확인</a>
							</li>
						</ul>
					</nav>
					
					<button type="button" class="navTab-m show-xs" id="navTab-m">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="gNav-m hidden-md" id="gNav-m">
						<ul class="gnb-m clr">
							<li>
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li>
								<a href="../gallery/index.html">객실안내</a>
							</li>
							<li>
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li>
								<a href="../group/index.html">단체문의</a>
							</li>
							<li>
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<li>
								<a href="../reservation/index.html">예약/예약확인</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<div class="container">

			<section class="main-contents type-confirm">
				<h3>예약내역조회</h3>	
			</section>
			
			
			<div id="wrapper">
				<div id="container">
				
					<div class="sub_wrap">
						<div class="reservation_list">
							<ul class="tab">
								<li onclick="location.href='http://ocean2you.co.kr/history/?dd=Sws5TzdVKg==&amp;tgubun=SBIs'">전체</li>
								<li class="on" onclick="location.href='http://ocean2you.co.kr/history/?dd=Sws5TzdVKg==&amp;tgubun=QBAn'">
									예약 진행중인 상품
								</li>
								<li onclick="location.href='http://ocean2you.co.kr/history/?dd=Sws5TzdVKg==&amp;tgubun=Sh8uQDtK'">
									예약불가 및 취소상품

								</li>
							</ul>

							<ul class="period">
								<li><a href="http://ocean2you.co.kr/history/?dd=Sws5TzdVKg==&amp;period=year&amp;tgubun=QBAn" title="1년"><img src="http://img.go.co.kr/btn_period4.jpg" alt="1년" id="year"></a></li>
								<li><a href="http://ocean2you.co.kr/history/?dd=Sws5TzdVKg==&amp;period=6month&amp;tgubun=QBAn"><img src="http://img.go.co.kr/btn_period3.jpg" alt="6개월" id="6month"></a></li>
								<li><a href="http://ocean2you.co.kr/history/?dd=Sws5TzdVKg==&amp;period=3month&amp;tgubun=QBAn" title="3개월"><img src="http://img.go.co.kr/btn_period2.jpg" alt="3개월" id="3month"></a></li>
								<li><a href="http://ocean2you.co.kr/history/?dd=Sws5TzdVKg==&amp;period=all&amp;tgubun=QBAn"><img src="http://img.go.co.kr/btn_period1.jpg" alt="전체" id="all"></a></li>
							</ul>

							<table class="member_info_t">
								<colgroup>
									<col width="150">
									<col width="350">
									<col width="180">
									<col width="150">
									<col width="150">
								</colgroup>
								<tbody>
									<tr>
										<th>접수일자</th>
										<th>숙소명</th>
										<th>투숙일</th>
										<th>예약상태</th>
										<th>출력하기</th>
									</tr>
									<tr>
										<td colspan="5">예약/구매 내용이 없습니다.</td>
									</tr>
								</tbody>
							</table>

							<div id="number2" style="margin-bottom:60px">
								<span><img alt="첫 페이지" src="http://img.go.co.kr/btn_pre02.jpg"></span>
								<span style="margin-right: 10px;"><img alt="이전 페이지" src="http://img.go.co.kr/btn_pre01.jpg"></span>
								<span class="page_ov">&nbsp;1&nbsp;</span> <span style="margin-left: 10px;"><img alt="다음 페이지" src="http://img.go.co.kr/btn_next01.jpg"></span>
								<span><img alt="끝 페이지" src="http://img.go.co.kr/btn_next02.jpg"></span>
							</div>


							<h3 class="reser_stepT"><img src="http://img.go.co.kr/customer_txt011.jpg" alt="예약현황 안내"></h3>

							<table class="reser_step">
								<colgroup>
									<col width="155">
									<col width="555">
								</colgroup>
								<tbody>
									<tr>
										<td colspan="2" height="143"></td>
									</tr>
									<tr>
										<td height="117"></td>
										<td>
											객실, 투숙일, 옵션을 선택하신 후 결제하기 버튼을 누르시면<br> 결제페이지로 넘어갑니다.
										</td>
									</tr>
									<tr>
										<td height="117"></td>
										<td>
											무통장 결제 시 결제대기상태이며, 무통장입금은 입금이 완료될때까지는 예약진행이 되지않습니다.<br> 객실이 가능하더라도 입금이 늦어질경우 선착순으로 객실이 마감될 수 있습니다.
										</td>
									</tr>
									<tr>
										<td height="107"></td>
										<td>
											고객님의 결제내역이 확인 되었습니다.<br> 잠시 기다려 주시면 상담원의 연락(문자 또는 전화)를 받으실 수 있습니다.<br> 취소 및 변경을 원하실 경우 고객센터(goco_tel)로 문의하시거나 <a href="http://ocean2you.co.kr/customer/?dd=XgwpVzs=&amp;brd=RhAl">1:1문의</a>에 접수 부탁 드립니다.
										</td>
									</tr>
									<tr>
										<td height="107"></td>
										<td>
											고객님이 예약하신 상품으로 예약가능여부를 확인중입니다.<br> 예약확정 및 불가안내는 18시 이전 접수건의 경우, 당일 22시까지 순차적으로 문자 또는 전화를 통해 <br> 안내해 드립니다.(주말 및 휴일은 다음 영업일 안내)
										</td>
									</tr>
									<tr>
										<td height="179"></td>
										<td>
											<span>원하시는 상품의 예약이 성공적으로 완료 시</span> 문자 또는 전화로 예약확정안내 내용을 보내드리며, <br> 성함 및 예약번호로 시설이용이 가능하십니다.<br><br>
											<span>원하시는 상품의 예약이 불가능할 시</span> 예약취소 및 환불처리가 이루어집니다.<br> 무통장 입금의 경우 익일 정오 12시 이전에 일괄적으로 환불 처리되오니 참고 바랍니다.<br> (주말 및 공휴일은 익일 영업일에 처리)
										</td>
									</tr>
								</tbody>
							</table>



						</div>
					</div>
				</div>
				<!-- container 끝-->
			</div>

			
			
			<!-- 불러 오는 영역-->
			<!--<div id="wrapper">
				<div id="contents">
					
				</div>

				<div class="clr"></div>
			</div>-->
			

		</div>

		<div class="clr"></div>
		<footer class="footer">
			<div class="container clr">

				<ul class="f_menu">
					<li><a href="javascript:;">이용약관</a></li>
					<li><a href="javascript:;">개인정보처리방침</a></li>
				</ul>

				<div class="cf-box clr">
					<p class="p-0">&lt;고객센터 안내&gt;</p>
					<div class="cf-in">
						<div class="callFor cf0">
							<span class="f-bd">고객센터 안내</span>
							문의에 따라 해당 고객센터로<br>
							전화주시면,문의사항을<br>
							해결해 드리겠습니다.
						</div>
						<a class="callFor cf1" href="tel:1666-1243">
							<span class="s1">예약문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>확정, 변경, 취소<span class="xs-hidden">&#41;</span><span class="xs-block"></span>/이벤트 문의</span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-542-7007</span>
							<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>
						</a>
						<a class="callFor cf2" href="tel:010-8844-0409">
							<span class="s1">프론트</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-428-9422~3</span>
							<span class="s1-2">주중/주말 06시 ~ 02시</span>
						</a>
						<a class="callFor cf3" href="tel:010-8844-0409">
							<span class="s1">단체문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-9544-8281</span>
							<span class="s1-2">주중/주말 06시 ~ 02시</span>
						</a>
					</div>
				</div>
				
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.bscondo.co.kr/footer_logo.png" alt="bscond">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							비에스투어앤리조트<br>
							주소 : 충청남도 아산시 도고면 기곡로62번길 6-8
							<br>
							사업자등록번호 : 312-86-43769 <span class="i-l"></span> 통신판매업 : 2017-충남아산-0196
							<br>
							<small>COPYRIGHT ⓒ 비에스투어앤리조트 ALL RIGHT RESERVED</small>
						</p>
					</address>
					
				</div>
			</div>
		</footer>
		



	</div>

</body>
</html>