<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/commonR.css">
<!--	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/gallery/initR.css">-->
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/commonR.css"> -->
	<link rel="stylesheet" type="text/css" href="../../static/css/gallery/initR.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script src="http://static.bscondo.co.kr/js/common.js"></script>
	<script src="http://static.bscondo.co.kr/js/gallery/init.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

	<!--[if lt IE 9]>
		<script src="http://static.bscondo.co.kr/js/common_ie8.js"></script>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">
		
		<header class="header" id="gnb-header">
			<div class="hd-top">		
			</div>
			<div class="hd-area clr">
				<div class="glb clr">
					<a href="#" class="gLogo"><img src="http://img.bscondo.co.kr/top_logo.png" alt="비에스앤리조트로고"></a>
					
					<!-- <div class="d1">
						<a class="faq-a show-md" id="faq-a" href="#">무료객실 이벤트 당첨안내</a>
						<a class="mFaq-a show-xs" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
					</div> -->
				
					<nav class="gNav show-md">
						<ul class="gnb clr">
							<li class="nth-1">
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<!--180118 객실서브 메뉴 변경-->
							<li class="nth-2 on">
								<a href="../gallery/index.html">객실안내</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="#room01">스탠다드 온돌</a></li>
										<li><a href="#room02">디럭스 온돌</a></li>
										<li><a href="#room03">디럭스 침대</a></li>
										<li><a href="#room04">디럭스 키즈</a></li>
										<li><a href="#room05">디럭스 패밀리</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-3">
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li class="nth-4">
								<a href="../group/index.html">단체문의</a>
							</li>
							<li class="nth-5">
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<!-- 20180212 메뉴 추가 -->
							<li class="nth-5">
								<a href="../tourplace/index.html">주변관광지</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="../tourplace/index.html">스파, 온천/워터파크</a></li>
										<li><a href="../tourplace/index02.html">사찰/성당</a></li>
										<li><a href="../tourplace/index03.html">자연관광지</a></li>
										<li><a href="../tourplace/index04.html">기타관광지</a></li>
										<li><a href="../tourplace/index05.html">추천관광코스</a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="../reservation/index.html">예약확인</a>
							</li>
							<li class="nth-6">
								<a href="../reservation/index.html">객실예약</a>
							</li>
						</ul>
					</nav>
					
					
					<button type="button" class="navTab-m show-xs" id="navTab-m">
						<span></span>
						<span></span>
						<span></span>
					</button>
					
					<nav class="gNav-m hidden-md" id="gNav-m">
						<ul class="gnb-m clr">
							<li>
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li>
								<a href="../gallery/index.html">객실안내</a>
							</li>
							<li>
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li>
								<a href="../group/index.html">단체문의</a>
							</li>
							<li>
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<!-- 20180212 메뉴 추가 -->
							<li>
								<a href="../tourplace/index.html">주변관광지</a>
							</li>
							<li>
								<a href="../reservation/index.html">예약확인</a>
							</li>
							<li>
								<a href="../reservation/index.html">객실예약</a>
							</li>
						</ul>
					</nav>
				</div>
				
				
			</div>
		</header>
		
		<div style="" class="rWing">
			<!-- 20180321 전체배너 group_bn.png 를 group_bn_01.png로 변경 -->
			<img src="http://img.bscondo.co.kr/group_bn_01.png" alt="" style="cursor:pointer" onclick="javascript:reserve_list_loca();">
			<!--<br>-->
			<!-- 181214 온천수 이미지추가-->
			<img src="http://img.bscondo.co.kr/spa_bn.png" alt="" style="">
        </div>
        
		<div class="container" id="setTop">
			
			<section class="main-contents" id="main-contents">
				<h2 class="hidden">객실안내</h2>
				<div class="menu_tap hidden-md clr">
					<ul class="clr">
						<li><a href="#room01">스탠다드 온돌</a></li>
						<li><a href="#room02">디럭스 온돌</a></li>
						<li><a href="#room03">디럭스 침대</a></li>
						<li><a href="#room04">디럭스 키즈</a></li>
						<li><a href="#room05">디럭스 패밀리</a></li>
					</ul>
				</div>
                <!-- 181214 온천수배너 추가 -->
                <div class="bn-spa-area">
                   <p class="bn-spa-box">
                        <img src="http://img.bscondo.co.kr/spa_tbn.png" alt="365일 천연 온천수 ! 전 객실 온천수 공급으로 더 큰 만족을 드립니다" class="hidden-xs">
                        <img src="http://img.bscondo.co.kr/m/spa_tbn.png" alt="365일 천연 온천수 ! 전 객실 온천수 공급으로 더 큰 만족을 드립니다" class="hidden-md">
                   </p>
                </div>
                <div class="bn-amenity-area">
                	<div class="bn-box">
                        <img src="http://img.bscondo.co.kr/gallery/amenity.png" alt="어메니티" class="bn-img">
						<p class="txt">
							<span class="c-blue">최상급 어메니티 제공!</span><br>
							BS콘도에서는 특급호텔 "라마다"에서 제공하는 동일한 어메니티를 기본으로 증정해 드리고 있습니다.<br>
							<span class="hidden-xs">우수한 품질의 </span>최고급 어메니티로 휴식의 품격을 높여드립니다.
                 		</p>
                   </div>
                </div>
				
				<!-- 180118 객실안내 스탠다드 추가 및 내용 수정 -->
				<div class="d-part nth-1">
					<div class="room_wr clr" id="room01">
						<div class="flt-1">
							<h3 class="ftfm-nt">스탠다드 온돌(27평)</h3>
							<table class="drx_txt clr">
								<tr>
									<th>기준인원</th>
									<td>기준4인 / 최대7인</td>
								</tr>
								<tr>
									<th>이용시간</th>
									<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
								</tr>
								<tr>
									<th>객실구성</th>
									<td>27평형, 온돌방(1), 거실 겸 주방(1), 욕실(1) </td>
								</tr>	
								<tr>
									<th>객실비품</th>
									<td>TV, 에어컨, 싱크대, 조리도구, 냉장고, 전기밥솥, 수건 <span class="t-point">※ 전 객실 천연 온천수 공급</span></td>
								</tr>
								<tr>
									<th>인원추가</th>
									<td>기준인원 초과 인당 2만원(36개월 이상)</td>
								</tr>																					
							</table>
							<div class="txt_Wr">
								<p class="d_txt dot">객실입실과 퇴실시간을 꼭 지켜주세요.</p>
							</div>
						</div>
						<div class="bxBox flt-2">
							<ul class="bxS">
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/standard/room01.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/standard/room02.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/standard/room03.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/standard/room04.jpg" alt="룸사진"></li>
							</ul>
							<ul class="bxP clr">
								<li><a data-slide-index="0" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/standard/room01.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="1" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/standard/room02.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="2" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/standard/room03.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="3" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/standard/room04.jpg" alt="룸사진"></a></li>
							</ul>
						</div>
						
						<div class="btn-area"><a href="" class="a-btn">예약하기 <span class="ic-rArrow rArrow"></span></a></div>
					</div>
				</div>
				<div class="d-part nth-2">
					<div class="room_wr clr" id="room02">
						<div class="flt-1">
							<h3 class="ftfm-nt">디럭스 온돌(27평)</h3>
							<table class="drx_txt clr">
								<tr>
									<th>기준인원</th>
									<td>기준4인 / 최대7인</td>
								</tr>
								<tr>
									<th>이용시간</th>
									<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
								</tr>
								<tr>
									<th>객실구성</th>
									<td>27평형, 온돌방(1), 거실 겸 주방(1), 욕실(1)</td>
								</tr>	
								<tr>
									<th>객실비품</th>
									<td>TV, 에어컨, 싱크대, 조리도구, 냉장고, 전기밥솥, 수건 <span class="t-point">※ 전 객실 천연 온천수 공급</span></td>
								</tr>
								<tr>
									<th>인원추가</th>
									<td>기준인원 초과 인당 2만원(36개월 이상)</td>
								</tr>																					
							</table>
							<div class="txt_Wr">
								<p class="d_txt dot">객실입실과 퇴실시간을 꼭 지켜주세요.</p>
							</div>
						</div>
						<div class="bxBox flt-2">
							<ul class="bxS">
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/delux/room01.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/delux/room02.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/delux/room03.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/delux/room04.jpg" alt="룸사진"></li>
							</ul>
							<ul class="bxP clr">
								<li><a data-slide-index="0" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/delux/room01.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="1" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/delux/room02.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="2" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/delux/room03.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="3" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/delux/room04.jpg" alt="룸사진"></a></li>
							</ul>
						</div>
						
						
						<div class="btn-area"><a href="" class="a-btn">예약하기 <span class="ic-rArrow rArrow"></span></a></div>
					</div>
				</div>
				<div class="d-part nth-3">
					<div class="room_wr clr" id="room03">
						<div class="flt-1">
							<h3 class="ftfm-nt">디럭스 침대(27평)</h3>
							<table class="drx_txt clr">
								<tr>
									<th>기준인원</th>
									<td>기준4인 / 최대7인</td>
								</tr>
								<tr>
									<th>이용시간</th>
									<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
								</tr>
								<tr>
									<th>객실구성</th>
									<td>27평형, 더블 혹은 트윈 침대방(1), 거실 겸 주방(1), 욕실(1) </td>
								</tr>	
								<tr>
									<th>객실비품</th>
									<td>TV, 에어컨, 싱크대, 조리도구, 냉장고, 전기밥솥, 수건 <span class="t-point">※ 전 객실 천연 온천수 공급</span></td>
								</tr>
								<tr>
									<th>인원추가</th>
									<td>기준인원 초과 인당 2만원(36개월 이상)</td>
								</tr>																					
							</table>
							<div class="txt_Wr">
								<p class="d_txt dot">객실입실과 퇴실시간을 꼭 지켜주세요.</p>
							</div>
						</div>
						<div class="bxBox flt-2">
							<ul class="bxS">
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxDouble/room01.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxDouble/room02.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxDouble/room03.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxDouble/room04.jpg" alt="룸사진"></li>
							</ul>
							<ul class="bxP clr">
								<li><a data-slide-index="0" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxDouble/room01.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="1" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxDouble/room02.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="2" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxDouble/room03.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="3" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxDouble/room04.jpg" alt="룸사진"></a></li>
							</ul>
						</div>
						
						<div class="btn-area"><a href="" class="a-btn">예약하기 <span class="ic-rArrow rArrow"></span></a></div>
					</div>					
				</div>
				<div class="d-part nth-4">
					<div class="room_wr clr" id="room04">
						<div class="flt-1">
							<h3 class="ftfm-nt">디럭스 키즈(27평)</h3>
							<table class="drx_txt clr">
								<tr>
									<th>기준인원</th>
									<td>기준4인 / 최대7인</td>
								</tr>
								<tr>
									<th>이용시간</th>
									<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
								</tr>
								<tr>
									<th>객실구성</th>
									<td>27평형, 온돌방(1), 거실 겸 주방(1), 욕실(1)</td>
								</tr>	
								<tr>
									<th>객실비품</th>
									<td>TV, 에어컨, 싱크대, 조리도구, 냉장고, 전기밥솥, 세면용품,수건 <span class="t-point">※ 전 객실 천연 온천수 공급</span></td>
								</tr>
								<tr>
									<th>인원추가</th>
									<td>기준인원 초과 인당 2만원(36개월 이상)</td>
								</tr>																					
							</table>
							<div class="txt_Wr">
								<p class="d_txt">* 객실입실과 퇴실시간을 꼭 지켜주세요.</p>
							</div>
						</div>
						<div class="bxBox flt-2">
							<ul class="bxS">
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxTheme/room01.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxTheme/room02.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxTheme/room03.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxTheme/room04.jpg" alt="룸사진"></li>
							</ul>
							<ul class="bxP clr">
								<li><a data-slide-index="0" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxTheme/room01.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="1" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxTheme/room02.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="2" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxTheme/room03.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="3" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxTheme/room04.jpg" alt="룸사진"></a></li>
							</ul>
						</div>
						
						<div class="btn-area"><a href="" class="a-btn">예약하기 <span class="ic-rArrow rArrow"></span></a></div>
					</div>																										
				</div>
				<div class="d-part nth-5">
					<div class="room_wr clr" id="room05">
						<div class="flt-1">
							<h3 class="ftfm-nt">디럭스 패밀리(41평)</h3>
							<table class="drx_txt clr">
								<tr>
									<th>기준인원</th>
									<td>기준4인 / 최대7인</td>
								</tr>
								<tr>
									<th>이용시간</th>
									<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
								</tr>
								<tr>
									<th>객실구성</th>
									<td>41평형, 방(2), 거실 겸 주방(1), 욕실(1)</td>
								</tr>	
								<tr>
									<th>객실비품</th>
									<td>TV, 에어컨, 싱크대, 조리도구, 냉장고, 전기밥솥, 수건 <span class="t-point">※ 전 객실 천연 온천수 공급</span></td>
								</tr>
								<tr>
									<th>인원추가</th>
									<td>기준인원 초과 인당 2만원(36개월 이상)</td>
								</tr>																					
							</table>
							<div class="txt_Wr">
								<p class="d_txt">* 객실입실과 퇴실시간을 꼭 지켜주세요.</p>
							</div>
						</div>
						<div class="bxBox flt-2">
							<ul class="bxS">
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxSweet/room01.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxSweet/room02.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxSweet/room03.jpg" alt="룸사진"></li>
								<li><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxSweet/room04.jpg" alt="룸사진"></li>
							</ul>
							<ul class="bxP clr">
								<li><a data-slide-index="0" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxSweet/room01.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="1" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxSweet/room02.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="2" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxSweet/room03.jpg" alt="룸사진"></a></li>
								<li><a data-slide-index="3" href="javascript:;"><img src="http://img.bscondo.co.kr/gallery/slideImg/deluxSweet/room04.jpg" alt="룸사진"></a></li>
							</ul>
						</div>
												
						<div class="btn-area"><a href="" class="a-btn">예약하기 <span class="ic-rArrow rArrow"></span></a></div>
					</div>	
				</div>
				
				<!-- 180904 북극보호 -->
<!--
				<div class="area-arctic cf">
					<div class="d-1">
						<img src="http://img.ocean2you.co.kr/renew/facil/arctic.jpg" alt="북극보호마크" class="hidden-xs">
						<img src="http://img.ocean2you.co.kr/renew/facil/arctic_m.jpg" alt="북극보호마크" class="show-xs">
					</div>
					<div class="d-2">
						환경 운동가인 비비안 웨스트우드(Vivienne Westwood)의 북극보호(Save The Arctic) 캠페인을 적극 지지하는 저희 리조트는 일회용품으로 이뤄지는 객실 어메니티를 제공하지 않는 방법으로 환경보호에 동참하고 있습니다. <br>
						고객님의 이해와 협조를 부탁 드립니다. 감사합니다.
					</div>
				</div>
-->
				<!-- // -->
			</section>
			
		</div>
		
		<div class="clr"></div>
		<footer class="footer-2">
			<div class="container clr">

				<ul class="f_menu clr">
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .term-wrap').show();">이용약관</a></li>
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .privacy-wrap').show();">개인정보처리방침</a></li>
				</ul>

				<!-- 20180517 텍스트 추가 및 수정 -->
				<div class="cf-box clr">
					<p class="p-0">고객센터 안내</p>
				    <p class="p-1">문의사항에 따라 아래의 고객센터로 연락 부탁드립니다.</p>
				    
				    <!-- 20180517 태그 수정 및 변경 -->
					<div class="cf-in">
						<a class="callFor cf1 clr">
							<p class="s1">예약문의<span class="s1-2">예약 확정, 변경, 취소 / 이벤트 관련 문의</span></p>
							<span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘">1666-6701</span>
							<span class="s3">(주중 09시 30분 ~ 25시 / 주말 09시 30분 ~ 24시)</span>
						</a>
						<a class="callFor cf2 clr">
							<p class="s1">프론트<span class="s1-2">체크인, 체크아웃 / 시설이용 관련 문의</span></p>
							<span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘">041-428-9422~3</span>
							<span class="s3">(주중/주말 06시 ~ 02시)</span>
						</a>
						<a class="callFor cf3 clr">
							<p class="s1">단체문의<span class="s1-2">워크샵, 학생, 산업단체 / 단체이용 관련 문의</span></p>
							<span class="s2"><img src="http://img.bscondo.co.kr/i_call.png" alt="전화아이콘">010-9544-8281</span>
							<span class="s3">(주중/주말 06시 ~ 02시)</span>
						</a>
					</div>
				</div>
				<!--// -->
				
				<!-- 180529 수정 -->
				<div class="flt-box clr">
                    <div class="flt-1">
                        <!-- 20180517 이미지 변경 -->
                        <img class="f-logo" src="http://img.bscondo.co.kr/footer_logo2.png" alt="BS콘도 도고온천 호텔앤리조트">
                    </div>

                    <div class="flt-2">
                        <address>
                            <!-- 20180517 텍스트, 태그 추가 및 수정 -->
                            <p class="nth-1">
                                (주)비에스투어앤리조트<br>
                                대표자 : 공병식<br>
                                주소 : 충청남도 아산시 도고면 기곡로62번길 6-8<br>
                                사업자등록번호 : 312-86-43769<br>
                                통신판매업 : 2017-충남아산-0196<span class="intv"></span>▶사업자정보확인<br>
                                관광사업등록번호 : 제 2013-000001호<span class="intv"></span>메일 : dogo121212@naver.com
                                <!--<small>COPYRIGHT ⓒ (주)비에스투어앤리조트 ALL RIGHT RESERVED</small>-->
                            </p>
                        </address>
                    </div>
				</div>
				
				<!-- 180529 고코투어 추가 -->
				<div class="flt-box clr">
                    <div class="flt-1">
                        <img class="f-logo goco" src="http://img.bscondo.co.kr/f_gcLogo.png" alt="최고의 할인여행 고코투어">
                    </div>

                    <div class="flt-2">
                        <address>
                            <p class="nth-1">
                                (주)바로네트웍스<br>
                                서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
                                사업자번호 : 332-85-00016<span class="intv type01"></span>통신판매업 : 제 2009-4290040-30-2-0033호<br>
                                여행업등록번호 : 제2015-02호<br>
                                여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
                                ※ 바로네트웍스는 BS콘도의 공식 온라인 총판으로서 온라인 예약 및<br> 결제를 대행합니다. 
                            </p>
                        </address>
                    </div>
				</div>
			</div>
		</footer>
		
		
		
		
		
	</div>
		
</body>
</html>