<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/commonR.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/group/initR.css">
<!--
	<link rel="stylesheet" type="text/css" href="../../static/css/commonR.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/group/initR.css">
-->
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

	<script src="http://static.bscondo.co.kr/js/common.js"></script>
<!--	<script src="../../static/js/common.js"></script>-->

	
	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>


	<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/commonR_ie8.css">
		<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/group/initR_ie8.css">
		
		<script src="http://static.bscondo.co.kr/js/common_ie8.js"></script>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">
		
		<header class="header" id="gnb-header">
			<div class="hd-top">		
			</div>
			<div class="hd-area clr">
				<div class="glb clr">
					<a href="#" class="gLogo"><img src="http://img.bscondo.co.kr/top_logo.png" alt="비에스앤리조트로고"></a>
				
					<nav class="gNav show-md">
						<ul class="gnb clr">
							<li class="nth-1">
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li class="nth-2">
								<a href="../gallery/index.html">객실안내</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="#room01">디럭스온돌</a></li>
										<li><a href="#room02">디럭스더블</a></li>
										<li><a href="#room03">디럭스트윈</a></li>
										<li><a href="#room04">디럭스테마(키즈룸)</a></li>
										<li><a href="#room05">스위트</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-3">
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li class="nth-4 on">
								<a href="../group/index.html">단체문의</a>
							</li>
							<li class="nth-5">
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<li class="nth-6">
								<a href="../reservation/index.html">예약/예약확인</a>
							</li>
						</ul>
					</nav>
					
					<button type="button" class="navTab-m show-xs" id="navTab-m">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="gNav-m hidden-md" id="gNav-m">
						<ul class="gnb-m clr">
							<li>
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li>
								<a href="../gallery/index.html">객실안내</a>
							</li>
							<li>
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li>
								<a href="../group/index.html">단체문의</a>
							</li>
							<li>
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<li>
								<a href="../reservation/index.html">예약/예약확인</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="container">

			<section class="intro-sec clr">
				<div class="d-row">
					<p class="p-1 thColor2-2">
						<strong>단체행사를 계획하고 있으신가요?</strong><br> 모든것이 완벽한 도고BS콘도에서 <br>아름다운 추억을 만들어 드립니다.
					</p>
					<div class="d-map">
						<img src="http://img.bscondo.co.kr/group/org_01.jpg" alt="단체여행계획" />
					</div>
					<p class="p-2">
						BS도고콘도는 천연 유황온천의 보양 휴양과편안한<br> 부대시설은 물론, 온천 워터파크 파라다이스 도고와<br> 단, 5분 거리, 리솜스파캐슬과 25분 거리에 있는 등<br> 뛰어난 접근성을 자랑합니다.
					</p>
					<hr class="sun">
					<!--180319 수정-->
					<p class="txt_wr c-red">
						BS콘도는 200객실의 대형리조트이며<br>
						1,500명 이상을 수용 가능 합니다. 
					</p>
					<!--End-->
					<!--popOpen 클래스 제거-->
					<p class="area-btn"><a href="javascript:;" class="" onclick="$(window).scrollTop($('#etcSetTop').offset().top - $('#gnb-header').height());">단체 문의하기 <span class="ic-rArrow"></span></a></p>
				</div>
			</section>
			<hr>
			<section class="room-sec">
				<h2 class="h2-tit">BS도고콘도 객실 안내</h2>
					<p class="p0">편안하고 아늑함을 마음 껏 즐길 수 있는 BS콘도 만의 공간</p>
					<ul class="ul-list clr" id="roomList">
						<li class="li-item nth-1">
							<figure><img src="http://img.bscondo.co.kr/group/con_room00.jpg" alt="디럭스 온돌"></figure>
							<div class="d-row-1">
								<div class="s-name">스탠다드 온돌<span class="f-sm">(27평)</span>
										<p class="d-row">(기준4인 / 최대6인)</p>
									</div>
								<a href="javascript:;" class="a-btn">자세히 보기</a>
							</div>
						</li>
						<li class="li-item nth-2">
							<figure><img src="http://img.bscondo.co.kr/group/con_room01.jpg" alt="디럭스 온돌"></figure>
							<div class="d-row-1">
								<div class="s-name">디럭스 온돌<span class="f-sm">(27평)</span>
										<p class="d-row">(기준4인 / 최대6인)</p>
									</div>
								<a href="javascript:;" class="a-btn">자세히 보기</a>
							</div>
						</li>
						<li class="li-item nth-3">
							<figure><img src="http://img.bscondo.co.kr/group/con_room02.jpg" alt="디럭스 더블"></figure>
							<div class="d-row-1">
								<div class="s-name">디럭스 침대<span class="f-sm">(27평)</span>
										<p class="d-row">(기준4인 / 최대6인)</p>
									</div>
								<a href="javascript:;" class="a-btn">자세히 보기</a>
							</div>
						</li>
						<li class="li-item nth-4">
							<figure><img src="http://img.bscondo.co.kr/group/con_room04.jpg" alt="디럭스 키즈"></figure>
							<div class="d-row-1">
								<div class="s-name">디럭스 키즈<span class="f-sm">(27평)</span>
										<p class="d-row">(기준4인 / 최대6인)</p>
									</div>
								<a href="javascript:;" class="a-btn">자세히 보기</a>
							</div>
						</li>
						<li class="li-item nth-5">
							<figure><img src="http://img.bscondo.co.kr/group/con_room05.jpg" alt="스위트"></figure>
							<div class="d-row-1">
								<div class="s-name">스위트<span class="f-sm">(41평)</span>
										<p class="d-row">(기준4인 / 최대8인)</p>
									</div>
								<a href="javascript:;" class="a-btn">자세히 보기</a>
							</div>
						</li>
					</ul>

			</section>
			<hr>

			<section class="facil-sec">
				<h2 class="h2-tit">부대시설 안내</h2>
				<p class="p0">한 자리에서 모든 것을 할 수 있는 BS콘도 만의 특별한 부대시설 안내</p>
				<ul class="ul-list clr">
					<li class="li-item">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/facil_01.jpg" alt="바베큐장">
							<figcaption>바베큐장</figcaption>
						</figure>
					</li>
					<li class="li-item">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/facil_02.jpg" alt="한식당">
							<figcaption>한식당</figcaption>
						</figure>
					</li>
					<li class="li-item">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/facil_03.jpg" alt="대식당">
							<figcaption>대식당</figcaption>
						</figure>
					</li>
					<li class="li-item">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/facil_04.jpg" alt="연회장">
							<figcaption>연회장</figcaption>
						</figure>
					</li>
					<li class="li-item">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/facil_05.jpg" alt="노래방">
							<figcaption>노래방</figcaption>
						</figure>
					</li>
					<li class="li-item">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/facil_06.jpg" alt="편의점">
							<figcaption>편의점</figcaption>
						</figure>
					</li>
					<li class="li-item">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/facil_07.jpg" alt="오락실">
							<figcaption>오락실</figcaption>
						</figure>
					</li>
				</ul>
			</section>
			<hr>
			<!-- 180119 주변 관광지 안내 컨텐츠 수정 -->
			<section class="facil-sec program-sec">
				<h2 class="h2-tit">주변 관광지 안내</h2>
				<p class="p0">더욱 알찬 여행을 즐기는 방법! 추천 주변 관광지를 소개합니다.</p>
				<h3 class="h3-2">스파/온천 워터파크</h3>
				<ul class="ul-list type-2 clr">
					<li class="li-item">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_01.jpg" alt="주변관광지사진">
							<figcaption>파라다이스 스파도고<br><span class="f-sm">도보 5분<span class="hidden-xs"> 소요 (500m 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_01_02.jpg" alt="주변관광지사진">
							<figcaption>아산 스파비스<br><span class="f-sm">차량 20분<span class="hidden-xs"> 소요 (13km거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_01_03.jpg" alt="주변관광지사진">
							<figcaption>리솜 스파캐슬<br><span class="f-sm">차량 25분<span class="hidden-xs"> 소요 (22km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_01_04.jpg" alt="주변관광지사진">
							<figcaption>온양온천 신천탕<br><span class="f-sm">차량 35분<span class="hidden-xs"> 소요 (22km 거리)</span></span></figcaption>
						</figure>
					</li>
				</ul>
				<h3 class="h3-2">휴양 관광지</h3>
				<ul class="ul-list type-2 clr">
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_05.jpg" alt="주변관광지사진">
							<figcaption>아산 레일바이크<br><span class="f-sm">차량 4분<span class="hidden-xs"> 소요 (2km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_06.jpg" alt="주변관광지사진">
							<figcaption>피나클랜드<br><span class="f-sm">차량 20분<span class="hidden-xs"> 소요 (13km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_07.jpg" alt="주변관광지사진">
							<figcaption>세계꽃식물원<br><span class="f-sm">차량 5분<span class="hidden-xs"> 소요 (3km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_08.jpg" alt="주변관광지사진">
							<figcaption>코미디홀<br><span class="f-sm">차량 4분<span class="hidden-xs"> 소요 (2km 거리)</span></span></figcaption>
						</figure>
					</li>
				</ul>
				<h3 class="h3-2">기타 관광지</h3>
				<ul class="ul-list type-2 clr">
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_09.jpg" alt="주변관광지사진">
							<figcaption>삽교함상공원<br><span class="f-sm">차량 30분<span class="hidden-xs"> 소요 (15km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_10.jpg" alt="주변관광지사진">
							<figcaption>삽교호관광지<br><span class="f-sm">차량 30분<span class="hidden-xs"> 소요 (15km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_11.jpg" alt="주변관광지사진">
							<figcaption>온양 민속박물관<br><span class="f-sm">차량 25분<span class="hidden-xs"> 소요 (10km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_12.jpg" alt="주변관광지사진">
							<figcaption>외암민속마을<br><span class="f-sm">차량 25분<span class="hidden-xs"> 소요 (11km 거리)</span></span></figcaption>
						</figure>
					</li>
				</ul>
				<h3 class="h3-2">사찰/성당</h3>
				<ul class="ul-list type-2 clr">
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_13.jpg" alt="주변관광지사진">
							<figcaption>현충사<br><span class="f-sm">차량 40분<span class="hidden-xs"> 소요 (13km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_14.jpg" alt="주변관광지사진">
							<figcaption>공세리 성당<br><span class="f-sm">차량 40분<span class="hidden-xs"> 소요 (13km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item type-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_15.jpg" alt="주변관광지사진">
							<figcaption>봉곡사<br><span class="f-sm">차량 40분<span class="hidden-xs"> 소요 (10km 거리)</span></span></figcaption>
						</figure>
					</li>
					<li class="li-item nth-m2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/group/park_16.jpg" alt="주변관광지사진">
							<figcaption>세심사<br><span class="f-sm">차량 20분<span class="hidden-xs"> 소요 (10km 거리)</span></span></figcaption>
						</figure>
					</li>
				</ul>
			</section>
			<hr id="etcSetTop">
			<!--180124 단체문의팝업 페이지 내 추가 아이디 제거-->
			<section class="etc-sec" id="etc-sec">
				<div class="d-box-1 d-cm">
					<p class="p-0">BS도고콘도가 행복과 즐거움을 책임집니다.</p>
					<p class="p-1">모든 것이 완벽한 BS콘도에서 아름다운 추억을 만들어보세요!</p>
					<!--180319 추가-->
					<p class="p-1 c-red mt-0">
						BS콘도는 200객실의 대형리조트이며 1,500명 이상을 수용 가능 합니다.
					</p>
					<!--End-->
					<div class="contact-pop type-2" id="contact-pop" style="z-index: 0;">
						<div class="d-top i-chk-bef">
							<span class="s-1">은 </span>필수 입력 사항입니다.
						</div>
						<ul class="ul-tb nece">
							<li class="li-tr">
								<span class="s-lbl i-chk-aft">예약자</span>
								<input type="text" class="wd-1">
								<hr class="show-xs">
								<span class="s-lbl i-chk-aft ml-1">연락처</span>
								<input type="text" class="wd-2">
								<span class="mg-"></span>
								<input type="text" class="wd-2">
								<span class="mg-"></span>
								<input type="text" class="wd-2">
								<div class="show-xs"></div>
							</li>
							<li class="li-tr">
								<span class="s-lbl i-chk-aft">이메일</span>
								<input type="text" class="wd-3">
							</li>
						</ul>
						<ul class="ul-tb">
							<li class="li-tr">
								<span class="s-lbl">단체명</span>
								<input type="text" class="wd-1">
								<hr class="show-xs">
								<span class="s-lbl ml-1">행사분류</span>
								<select name="" id="" class="wd-1 wd-1-2">
									<option value="">수련회</option>
									<option value="">워크샵/오티</option>
									<option value="">세미나/단체행사</option>
									<option value="">학술모임</option>
									<option value="">각종잔치</option>
									<option value="">기타</option>
								</select>
							</li>
							<li class="li-tr">
								<span class="s-lbl">이용일</span>
								<input type="text" class="wd-4">
								<select name="" id="" class="wd-1 wd-1-2">
									<option value="">1박 2일</option>
									<option value="">2박 3일</option>
									<option value="">3박 4일</option>
									<option value="">4박 5일</option>
									<option value="">5박 이상</option>
								</select>
							</li>
							<li class="li-tr">
								<span class="s-lbl">인원</span>
								<span class="s-txt">남자</span>
								<input type="text" class="wd-5"><span>명</span>
								<span class="s-txt">여자</span>
								<input type="text" class="wd-5"><span>명</span>
								<span class="mg-l"></span>
								<span class="s-txt">총 인원</span>
								<input type="text" class="wd-6"><span>명</span>
							</li>
							<li class="li-tr">
								<span class="s-lbl">예산</span>
								<input type="text" class="wd-7"><span>원</span>
							</li>
							<li class="li-tr">
								<span class="s-lbl ver-t">기타요청</span>
								<textarea name="" id="" cols="30" rows="10" class="wd-8"></textarea>
							</li>
						</ul>
					</div>
					
					<!--180124 popOpen 클래스 제거 -->
					<p class="area-btn"><a class="a-btn" href="javascript:;">단체 문의하기 <span class="ic-rArrow"></span></a></p>
				</div>
				<hr>
			
				
				
				<div class="d-box-2 d-cm">
					<p class="p-0">단체 행사 문의에 대한 빠른 상담이 필요하신가요?</p>
					<p class="p-1">단체 예약 전용 번호로 연락 주시면 담당자가 빠르게 안내해 드리겠습니다. </p>
					<p class="area-btn02"><a href="tel:010-8544-8281" class="a-btn"><span class="pic-call"></span> <br>010-8544-8281</a></p>
					<p class="area-txt">(주중/주말 06시~02시)</p>
				</div>
			</section>

		</div>


		<!-- 팝업 배경-->
		<!--<div class="dropDown-bg" id="contact-bg" style="display: none;"></div>-->
		<!-- 단체문의 입력폼 -->
		<!--<div class="contact-pop" id="contact-pop" style="display: none;">
			<div class="d-tit hidden-xs">
				<p><span class="hide show-sm-gte t-l"></span>비에스 앤 리조트 단체 행사 문의하기<span class="hide show-sm-gte t-r"></span></p>
				<a href="javascript:;" class="close a-i-x a-x" onclick="$('#contact-pop, #contact-bg').hide();"></a>
			</div>
			<p class="p-cf hidden-xs">
				<img class="pic-chk" src="http://img.bscondo.co.kr/group/pic_chk.png" alt="입력">
				기본 사항만 남겨주시면, 담당자가 빠르게 연락드리도록 하겠습니다.
			</p>
			<div class="d-top i-chk-bef">
				<span class="hidden-xs s-1">은 </span>필수 입력 사항<span class="hidden-xs">입니다.</span>
				<a href="javascript:;" class="close a-i-x a-x show-xs" onclick="$('#contact-pop, #contact-bg').hide();"></a>
			</div>
			<ul class="ul-tb nece">
				<li class="li-tr">
					<span class="s-lbl i-chk-aft">예약자</span>
					<input type="text" class="wd-1">
					<hr class="show-xs">
					<span class="s-lbl i-chk-aft ml-1">연락처</span>
					<input type="text" class="wd-2">
					<span class="mg-"></span>
					<input type="text" class="wd-2">
					<span class="mg-"></span>
					<input type="text" class="wd-2">
					<div class="show-xs"></div>
				</li>
				<li class="li-tr">
					<span class="s-lbl i-chk-aft">이메일</span>
					<input type="text" class="wd-3">
				</li>
			</ul>
			<ul class="ul-tb">
				<li class="li-tr">
					<span class="s-lbl">단체명</span>
					<input type="text" class="wd-1">
					<hr class="show-xs">
					<span class="s-lbl ml-1">행사분류</span>
					<select name="" id="" class="wd-1 wd-1-2">
						<option value="">수련회</option>
						<option value="">워크샵/오티</option>
						<option value="">세미나/단체행사</option>
						<option value="">학술모임</option>
						<option value="">각종잔치</option>
						<option value="">기타</option>
					</select>
				</li>
				<li class="li-tr">
					<span class="s-lbl">이용일</span>
					<input type="text" class="wd-4">
					<select name="" id="" class="wd-1 wd-1-2">
						<option value="">1박 2일</option>
						<option value="">2박 3일</option>
						<option value="">3박 4일</option>
						<option value="">4박 5일</option>
						<option value="">5박 이상</option>
					</select>
				</li>
				<li class="li-tr">
					<span class="s-lbl">인원</span>
					<span class="s-txt">남자</span>
					<input type="text" class="wd-5"><span>명</span>
					<span class="s-txt">여자</span>
					<input type="text" class="wd-5"><span>명</span>
					<span class="mg-l"></span>
					<span class="s-txt">총 인원</span>
					<input type="text" class="wd-6"><span>명</span>
				</li>
				<li class="li-tr">
					<span class="s-lbl">예산</span>
					<input type="text" class="wd-7"><span>원</span>
				</li>
				<li class="li-tr">
					<span class="s-lbl ver-t">기타요청</span>
					<textarea name="" id="" cols="30" rows="10" class="wd-8"></textarea>
				</li>
			</ul>
			<p class="area-btn"><a href="javascript">단체 문의하기 <span class="ic-rArrow"></span></a></p>
			<div class="d-bottom hidden-xs">
				<p class="p-1">
					빠른 상담이 필요하신가요?<br>
					<span class="hide show-lg-1190">연락주시면</span> 담당자가 빠르게 안내해 드리겠습니다.
					<span class="fl-r"><img src="http://img.ocean2you.co.kr/renew/group/pic_callW.png" alt="전화">단체 예약문의 010-8844-0409</span>
				</p>
			</div>
		</div>-->

		

		
		<div class="clr"></div>
		<footer class="footer">
			<div class="container clr">

				<ul class="f_menu">
					<li><a href="javascript:;">이용약관</a></li>
					<li><a href="javascript:;">개인정보처리방침</a></li>
				</ul>

				<div class="cf-box clr">
					<p class="p-0">&lt;고객센터 안내&gt;</p>
					<div class="cf-in">
						<div class="callFor cf0">
							<span class="f-bd">고객센터 안내</span>
							문의에 따라 해당 고객센터로<br>
							전화주시면,문의사항을<br>
							해결해 드리겠습니다.
						</div>
						<a class="callFor cf1" href="tel:1666-1243">
							<span class="s1">예약문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>확정, 변경, 취소<span class="xs-hidden">&#41;</span><span class="xs-block"></span>/이벤트 문의</span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-542-7007</span>
							<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>
						</a>
						<a class="callFor cf2" href="tel:010-8844-0409">
							<span class="s1">프론트</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-428-9422~3</span>
							<span class="s1-2">주중/주말 06시 ~ 02시</span>
						</a>
						<a class="callFor cf3" href="tel:010-8844-0409">
							<span class="s1">단체문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-9544-8281</span>
							<span class="s1-2">주중/주말 06시 ~ 02시</span>
						</a>
					</div>
				</div>
				
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.bscondo.co.kr/footer_logo.png" alt="bscond">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							비에스투어앤리조트<br>
							주소 : 충청남도 아산시 도고면 기곡로62번길 6-8
							<br>
							사업자등록번호 : 312-86-43769 <span class="i-l"></span> 통신판매업 : 2017-충남아산-0196
							<br>
							<small>COPYRIGHT ⓒ 비에스투어앤리조트 ALL RIGHT RESERVED</small>
						</p>
					</address>
					
				</div>
			</div>
		</footer>
		
		
		
		
	</div>
		
</body>
</html>