<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>비에스앤리조트도고콘도</title>

	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	
	<link rel="stylesheet" type="text/css" href="../../../src/css/m/common.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/m/member/init.css">

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script src="../../../src/js/m/common.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

</head>
<body>

	<h1 class="hidden">비에스투어앤리조트도고콘도</h1>

	<div id="bs-wrap">

		<header class="header">
			<div class="hd-area clr">
				<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/m/logo.png" alt="비에스앤리조트로고"></a>
			</div>

			<button type="button" class="navTab" id="navTab">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<nav class="gNav" id="gNav">
				<ul class="gnb clr">
					<li class="nth-1">
						<a href="">콘도소개</a>
					</li>
					<li class="nth-2">
						<a href="">예약/예약확인</a>
					</li>
					<li class="nth-3">
						<a href="">갤러리</a>
					</li>
					<li class="nth-4">
						<a href="">단체문의</a>
					</li>
					<li class="nth-5">
						<a href="">오시는길</a>
					</li>
				</ul>
			</nav>
		</header>

		<div class="main container cf">
		
			<div class="mt-52"></div>
		
			<section class="main-contents">
				<h2 class="hidden">로그인</h2>
				
				<div class="login-outer">
					<div class="login-box clr">
						<div class="naverLogin">
							<ul class="snsLarge clr">
								<li class="naver">
									<a href="javascript:total_login('naver')"><img src="http://img.go.co.kr/mobile/n_logo.jpg">&nbsp;&nbsp;<span>네이버 아이디로 로그인</span></a>
								</li>
								<li class="kakao">
									<a href="javascript:total_login('kakao')"><img src="http://img.go.co.kr/mobile/k2_logo.jpg">&nbsp;&nbsp;<span>카카오톡 아이디로 로그인</span></a>
								</li>
								<li class="facebook">
									<a href="javascript:total_login('facebook')"><img src="http://img.go.co.kr/mobile/f_logo.jpg">&nbsp;&nbsp;<span>페이스북 아이디로 로그인</span></a>
								</li>
								<li class="daum">
									<a href="javascript:total_login('daum')"><img src="http://img.go.co.kr/mobile/daum_logo.jpg">&nbsp;&nbsp;<span>다음 아이디로 로그인</span></a>
								</li>
								<li class="google">
									<a href="javascript:total_login('google')"><img src="http://img.go.co.kr/mobile/g_logo.jpg" width="25">&nbsp;&nbsp;<span>구글 아이디로 로그인</span></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="alert clr">
						<div class="img"><img src="http://img.go.co.kr/icon_alert.jpg"></div>
						<div class="text">
							<span>신규가입시 30,000원 쿠폰팩 증정, 결제금액 1% 적립</span>
							로그인/회원가입 시 이용약관, 개인정보취급방침에 동의하게 됩니다.<br> 회원가입시 SMS/메일링 수신에 동의합니다.<br>
							오션투유리조트 설악비치 호텔앤콘도 의 온라인 공식 대행 여행사 [고코투어]로 로그인됩니다.
						</div>
					</div>
				</div>
			</section>
		</div>
		
		<div class="footer">
			<address>
				<span class="txt">
					(주)비에스투어앤리조트<br>
					충청남도 아산시 도고면 기곡로62번길 6-8 ㅣ 대표: 공병식<br>
					사업자등록번호 : 312-86-43769 ㅣ 예약전화: 041-542-7007<br>
					상담 및 문의전화: 041-428-9422~3 ㅣ 팩스: 041-532-6656<br>
					<small>COPYRIGHT © 2014-2017 (주)비에스투어앤리조트, ALL RIGHT RESERVED.</small>
				</span>
			</address>
		</div>




	</div>

</body>
</html>
