<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>비에스앤리조트도고콘도</title>

	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/m/common.css">
	<link rel="stylesheet" type="text/css" href="../../../src/css/m/intro/init.css">


	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script src="../../../src/js/m/common.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

</head>
<body>

	<h1 class="hidden">비에스투어앤리조트도고콘도</h1>

	<div id="bs-wrap">

		<header class="header">
			<div class="hd-area clr">
				<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/m/logo.png" alt="비에스앤리조트로고"></a>
			</div>

			<button type="button" class="navTab" id="navTab">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<nav class="gNav" id="gNav">
				<ul class="gnb clr">
					<li class="nth-1">
						<a href="">콘도소개</a>
					</li>
					<li class="nth-2">
						<a href="">예약/예약확인</a>
					</li>
					<li class="nth-3">
						<a href="">갤러리</a>
					</li>
					<li class="nth-4">
						<a href="">단체문의</a>
					</li>
					<li class="nth-5">
						<a href="">오시는길</a>
					</li>
				</ul>
			</nav>
		</header>

		<div class="main container cf">
			
			<div class="mt-52"></div>
			
			<section class="main-contents">
				<h2 class="hidden">리조트소개</h2>
				
				<figure><img src="../../../src/img/m/intro/resort.jpg" alt="리조트이미지"></figure>
				
				<div class="d-txt">
					<p class="p-1 ftfm-nt">
						저희 BS투어앤리조트를 찾아주신<br>
						고객여러분 감사합니다.
					</p>
					<p class="p-2">
						2005년 12월 구-IF로 개관한 BS투어앤리조트는 국내 최초의 천연
						유황온천인 도고 온천의 보양 휴양과 안락한 휴가를 보낼 수 있는
						최고의 숙박/관광 시설입니다.<br>
						충남 지역 숙박 시설중 가족 단위의 휴양에 최적화된 시설로서,
						연회, 학술세미나, 학교 현장체험학습, 수련회등의 단체행사에도
						적합한 12개의 중대형 연회장을 완비하고 있습니다.
					</p>
				</div>
			</section>

		</div>

		<div class="footer">
			<address>
				<span class="txt">
					(주)비에스투어앤리조트<br>
					충청남도 아산시 도고면 기곡로62번길 6-8 ㅣ 대표: 공병식<br>
					사업자등록번호 : 312-86-43769 ㅣ 예약전화: 041-542-7007<br>
					상담 및 문의전화: 041-428-9422~3 ㅣ 팩스: 041-532-6656<br>
					<small>COPYRIGHT © 2014-2017 (주)비에스투어앤리조트, ALL RIGHT RESERVED.</small>
				</span>
			</address>
		</div>




	</div>

</body>
</html>
