<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>비에스앤리조트도고콘도</title>

	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/m/common2.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/m/group/init2.css">
<!--	<link rel="stylesheet" type="text/css" href="../../../src/css/m/group/init2.css">-->
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script src="../../../src/js/m/common.js"></script>
	<script src="../../../src/js/m/group/init.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

</head>
<body>

	<h1 class="hidden">비에스투어앤리조트도고콘도</h1>

	<div id="bs-wrap">

		<header class="header">
			<div class="hd-area clr">
				<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/m/logo.png" alt="비에스앤리조트로고"></a>
			</div>

			<button type="button" class="navTab" id="navTab">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<nav class="gNav" id="gNav">
				<ul class="gnb clr">
					<li class="nth-1">
						<a href="">콘도소개</a>
					</li>
					<li class="nth-2">
						<a href="">예약/예약확인</a>
					</li>
					<li class="nth-3">
						<a href="">갤러리</a>
					</li>
					<li class="nth-4">
						<a href="">단체문의</a>
					</li>
					<li class="nth-5">
						<a href="">오시는길</a>
					</li>
				</ul>
			</nav>
		</header>

		<div class="m-container">
			<section class="intro-sec clr">
				<div class="d-row">
					<p class="p-1 thColor2-2">
						<strong>단체여행 및 행사를 계획하고 있으신가요?</strong><br>
						모든것이 완벽한 도고BS콘도에서
						아름다운 추억을 만들어 드립니다.
					</p>
					<div class="d-map">
						<img src="http://img.bscondo.co.kr/m/group/org_01.jpg" alt="단체여행계획"/>
					</div>
					<p class="p-2">
						BS도고콘도는 천연 유황온천의 보양 휴양과편안한<br>
						부대시설은 물론, 온천 워터파크 파라다이스 도고와
						단, 5분 거리, 리솜스파캐슬과 25분 거리에 있는 등
						뛰어난 접근성을 자랑합니다. 
					</p>
					<hr class="sun">
					<p class="txt_wr">
						콘도 내에 바베큐장, 한식당, 대식당, 연회장 및<br>
						노래방, 편의점, 오락실 등을 갖추고 있어 더욱 편안한<br>
						시간을 드립니다.
					</p>
					<p class="area-btn"><a href="javascript:;" class="popOpen">단체 문의하기 <span class="ic-rArrow"></span></a></p>
				</div>
			</section>			
			<hr>

			<section class="room-sec">
				<h3 class="h3-tit">BS도고콘도 객실 안내</h2>
				<p class="p0">편안하고 아늑함을 마음 껏 즐길 수 있는<br> BS콘도 만의 공간</p>
				<ul class="ul-list clr" id="roomList">
					<li class="li-item nth-1">
						<figure><img src="http://img.bscondo.co.kr/m/group/con_room01.jpg" alt="디럭스 온돌"></figure>
						<div class="d-row-1">
							<span class="s-name">디럭스 온돌
								<p class="d-row">(기준4인 / 최대6인)</p>
							</span>
							<a href="javascript:;" class="a-btn">자세히 보기</a>
						</div>
					</li>
					<li class="li-item nth-2">
						<figure><img src="http://img.bscondo.co.kr/m/group/con_room02.jpg" alt="디럭스 더블"></figure>
						<div class="d-row-1">
							<span class="s-name">디럭스 더블
								<p class="d-row">(기준4인 / 최대6인)</p>
							</span>
							<a href="javascript:;" class="a-btn">자세히 보기</a>
						</div>
					</li>					
					<li class="li-item nth-3">
						<figure><img src="http://img.bscondo.co.kr/m/group/con_room03.jpg" alt="디럭스 트윈"></figure>
						<div class="d-row-1">
							<span class="s-name">디럭스 트윈
								<p class="d-row">(기준4인 / 최대6인)</p>
							</span>
							<a href="javascript:;" class="a-btn">자세히 보기</a>
						</div>
					</li>					
					<li class="li-item nth-4">
						<figure><img src="http://img.bscondo.co.kr/m/group/con_room04.jpg" alt="디럭스 키즈"></figure>
						<div class="d-row-1">
							<span class="s-name">디럭스 키즈
								<p class="d-row">(기준4인 / 최대6인)</p>
							</span>
							<a href="javascript:;" class="a-btn">자세히 보기</a>
						</div>
					</li>					
					<li class="li-item nth-5">
						<figure><img src="http://img.bscondo.co.kr/m/group/con_room05.jpg" alt="스위트"></figure>
						<div class="d-row-1">
							<span class="s-name">스위트
								<p class="d-row">(기준4인 / 최대8인)</p>
							</span>
							<a href="javascript:;" class="a-btn">자세히 보기</a>
						</div>
					</li>	
				</ul>
				<p class="p-ps">※ 모든 객실은 4인 기준이며, 최대 7인까지 이용 가능합니다.</p>			
				
			</section>
			<hr>	
			
			<section class="facil-sec">
				<h3 class="h3-tit">부대시설 안내</h3>
				<p class="p0">한 자리에서 모든 것을 할 수 있는 BS콘도 만의 특별한 부대시설 안내</p>
				<ul class="ul-list clr">
					<li class="li-item nth-1">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/m/group/facil_01.jpg" alt="바베큐장">
							<figcaption>바베큐장</figcaption>
						</figure>
					</li>
					<li class="li-item nth-2">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/m/group/facil_02.jpg" alt="한식당">
							<figcaption>한식당</figcaption>
						</figure>
					</li>
					<li class="li-item nth-3">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/m/group/facil_03.jpg" alt="대식당">
							<figcaption>대식당</figcaption>
						</figure>
					</li>
					<li class="li-item nth-4">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/m/group/facil_04.jpg" alt="연회장">
							<figcaption>연회장</figcaption>
						</figure>
					</li>
					<li class="li-item nth-5">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/m/group/facil_05.jpg" alt="노래방">
							<figcaption>노래방</figcaption>
						</figure>
					</li>
					<li class="li-item nth-6">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/m/group/facil_06.jpg" alt="편의점">
							<figcaption>편의점</figcaption>
						</figure>
					</li>
					<li class="li-item nth-7">
						<figure>
							<span class="s-bg"></span>
							<img src="http://img.bscondo.co.kr/m/group/facil_07.jpg" alt="오락실">
							<figcaption>오락실</figcaption>
						</figure>
					</li>					
				</ul>									
			</section>											
			<hr>
			<section class="facil-sec program-sec">
					<h3 class="h3-tit">주변 관광지 안내</h3>
					<p class="p0">더욱 알찬 여행을 즐기는 방법! 추천 주변 관광지를 소개합니다.</p>
					<ul class="ul-list clr">
						<li class="li-item nth-1">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.bscondo.co.kr/m/group/park_01.jpg" alt="파라다이스 스파도고">
								<figcaption>파라다이스 스파도고</figcaption>
							</figure>
						</li>
						<li class="li-item nth-2">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.bscondo.co.kr/m/group/park_02.jpg" alt="아산레일바이크">
								<figcaption>아산레일바이크</figcaption>
							</figure>
						</li>
						<li class="li-item nth-3">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.bscondo.co.kr/m/group/park_03.jpg" alt="리솜스파캐슬">
								<figcaption>리솜스파캐슬</figcaption>
							</figure>
						</li>
						<li class="li-item nth-4">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.bscondo.co.kr/m/group/park_04.jpg" alt="아산스파비스">
								<figcaption>아산스파비스</figcaption>
							</figure>
						</li>
						<li class="li-item nth-5">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.bscondo.co.kr/m/group/park_05.png" alt="세계꽃식물원">
								<figcaption>세계꽃식물원</figcaption>
							</figure>
						</li>
						<li class="li-item nth-6">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.bscondo.co.kr/m/group/park_06.jpg" alt="코미디홀">
								<figcaption>코미디홀</figcaption>
							</figure>
						</li>
						<li class="li-item nth-m">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.bscondo.co.kr/m/group/park_07.jpg" alt="옹기발효음식 전시체험관">
								<figcaption>옹기발효음식 전시체험관</figcaption>
							</figure>
						</li>
						<li class="li-item">
							<figure>
								<span class="s-bg"></span>
								<img src="http://img.bscondo.co.kr/m/group/park_08.jpg" alt="도고산">
								<figcaption>도고산</figcaption>
							</figure>
						</li>
					</ul>
				</section>	
				<hr>
				<section class="etc-sec">
					<div class="d-box-1 d-cm">
						<p class="p-0">BS도고콘도가 행복과 즐거움을 책임집니다.</p>
						<p class="area-btn"><a class="a-btn popOpen" href="javascript:;">단체 문의하기 <span class="ic-rArrow"></span></a></p>
					</div>
					<hr>
					<div class="d-box-2 d-cm">
						<p class="p-0">단체 행사 문의에 대한 빠른 상담이 필요하신가요?</p>
						<p class="p-1">단체 예약 전용 번호로 연락 주시면 담당자가 빠르게 안내해 드리겠습니다. </p>
						<p class="area-btn02"><a href="tel:010-8544-8281" class="a-btn"><span class="pic-call"></span> <br>010-8544-8281</a></p>
						<p class="area-txt">(주중/주말 06시~02시)</p>
					</div>
				</section>																						
		</div>
		
		<!-- 팝업 배경-->
		<div class="dropDown-bg" id="contact-bg" style="display: none;"></div>
		<!-- 단체문의 입력폼 -->
		<div class="contact-pop" id="contact-pop" style="display: none;">
			<div class="d-top i-chk-bef">
				<span class="hidden-xs s-1">은 </span>필수 입력 사항<span class="hidden-xs">입니다.</span>
				<a href="javascript:;" class="close a-i-x a-x show-xs" onclick="$('#contact-pop, #contact-bg').hide();"></a>
			</div>
			<ul class="ul-tb nece">
				<li class="li-tr">
					<span class="s-lbl i-chk-aft">예약자</span>
					<input type="text" class="wd-1">
					<hr class="show-xs">
					<span class="s-lbl i-chk-aft ml-1">연락처</span>
					<input type="text" class="wd-2">
					<span class="mg-"></span>
					<input type="text" class="wd-2">
					<span class="mg-"></span>
					<input type="text" class="wd-2">
					<div class="show-xs"></div>
				</li>
				<li class="li-tr">
					<span class="s-lbl i-chk-aft">이메일</span>
					<input type="text" class="wd-3">
				</li>
			</ul>
			<ul class="ul-tb">
				<li class="li-tr">
					<span class="s-lbl">단체명</span>
					<input type="text" class="wd-1">
					<hr class="show-xs">
					<span class="s-lbl ml-1">행사분류</span>
					<select name="" id="" class="wd-1 wd-1-2">
						<option value="">수련회</option>
						<option value="">워크샵/오티</option>
						<option value="">세미나/단체행사</option>
						<option value="">학술모임</option>
						<option value="">각종잔치</option>
						<option value="">기타</option>
					</select>
				</li>
				<li class="li-tr">
					<span class="s-lbl">이용일</span>
					<input type="text" class="wd-4">
					<select name="" id="" class="wd-1 wd-1-2">
						<option value="">1박 2일</option>
						<option value="">2박 3일</option>
						<option value="">3박 4일</option>
						<option value="">4박 5일</option>
						<option value="">5박 이상</option>
					</select>
				</li>
				<li class="li-tr">
					<span class="s-lbl">인원</span>
					<span class="s-txt">남자</span>
					<input type="text" class="wd-5"><span>명</span>
					<span class="s-txt">여자</span>
					<input type="text" class="wd-5"><span>명</span>
					<span class="mg-l"></span>
					<span class="s-txt">총 인원</span>
					<input type="text" class="wd-6"><span>명</span>
				</li>
				<li class="li-tr">
					<span class="s-lbl">예산</span>
					<input type="text" class="wd-7"><span>원</span>
				</li>
				<li class="li-tr">
					<span class="s-lbl ver-t">기타요청</span>
					<textarea name="" id="" cols="30" rows="10" class="wd-8"></textarea>
				</li>
			</ul>
			<p class="area-btn"><a href="javascript">단체 문의하기 <span class="ic-rArrow"></span></a></p>
		</div>
		
		<div class="footer">
			<address>
				<span class="txt">
					(주)비에스투어앤리조트<br>
					충청남도 아산시 도고면 기곡로62번길 6-8 ㅣ 대표: 공병식<br>
					사업자등록번호 : 312-86-43769 ㅣ 예약전화: 041-542-7007<br>
					상담 및 문의전화: 041-428-9422~3 ㅣ 팩스: 041-532-6656<br>
					<small>COPYRIGHT © 2014-2017 (주)비에스투어앤리조트, ALL RIGHT RESERVED.</small>
				</span>
			</address>
		</div>

	</div>

</body>
</html>
