@charset 'utf-8';

/*----bxSlider초기화----*/
.bx-wrapper .bx-controls-direction {position: absolute; width: 980px; left: 50%; margin-left: -490px; top: 50%; margin-top: -32.5px;}
.bx-wrapper .bx-controls-direction a {background: none; top: 0; width: auto; margin-top: 0; z-index: 51;}
.bx-wrapper .bx-prev {left: 0px;}
.bx-wrapper .bx-next {right: -1px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
, .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {display: none;}

/*
.tit-contents {position: relative; height: 180px; margin-top: 40px; background: url(http://img.gobs.co.kr/gallery/subVisual.jpg) no-repeat center;}
.tit-contents h2 {position: relative; top: 60px; font-size: 35px; text-align: center; color: #fff; font-family: 'Malgun Gothic', 'Nanum Gothic', sans-serif;}
*/

.main-contents {width: 980px; margin: 90px auto 0; padding-bottom: 100px;}
.main-contents h3 .title_ico {display: block; width: 22px; text-align: center; margin: 0 auto;}
.main-contents h3 {font-size: 35px; font-weight: 600; color: #474646; font-family: 'Malgun Gothic', 'Nanum Gothic', sans-serif; margin: 100px auto 20px; letter-spacing: -1px; text-align: center;}
.main-contents .bxP {position: relative; background: #2e2e2e; padding: 15px 20px}
.main-contents .bxP > li {float: left; margin-left: 20px;}
.main-contents .bxP > li:first-child {margin-left: 0;}
.main-contents .bxP > li > a {display: inline-block; position: relative; width: 24.25%; margin-left: 1%;}
.main-contents .bxP > li > a:first-child {margin-left: 0;}
.main-contents .bxP > li > a img {width: 140px;}
.main-contents .contents-1 > h3 {margin-top: 0px;}

.roomInfo {width:980px; margin-top:70px}
.roomInfo h4 {font-size:20px; color:#3b3b3b; float: left; line-height: 60px;}
.roomInfo .tb-roomInfo {width:980px; border-top:2px solid #d0904b; font-size: 13px;}
.roomInfo .tb-roomInfo tr {border-bottom:1px solid #dbdbdb; }
.roomInfo .tb-roomInfo tr th {background-color:#f6f6f6; font-weight:bold; text-align:center;}
.roomInfo .tb-roomInfo tr td {color:#6e6e6e;  padding:15px 0 15px 15px;}
.area-btn {text-align:right;}
.area-btn a {display: inline-block;background:#d0904b; color:#fff; padding:18px 75px; font-weight:700; font-size:16px;}
