#contents {width: 978px; margin-top: 0; border-top: 3px solid #717171; margin-bottom: 100px;}

.main-contents h3 {font-size: 35px; font-weight: 700; color: #434343; font-family: 'Malgun Gothic', 'Nanum Gothic', sans-serif; margin: 30px auto 15px; letter-spacing: -1px;}
/*#main5 {width: 980px;}*/