<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/commonR.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/facil/initR.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	
	<script src="http://static.bscondo.co.kr/js/common.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">
		
		<!--180109 해더 변경-->
		<header class="header" id="gnb-header">
			<div class="hd-top">		
			</div>
			<div class="hd-area clr">
				<div class="glb clr">
					<a href="#" class="gLogo"><img src="http://img.bscondo.co.kr/top_logo.png" alt="비에스앤리조트로고"></a>
				
					<nav class="gNav show-md">
						<ul class="gnb clr">
							<li class="nth-1">
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li class="nth-2">
								<a href="../gallery/index.html">객실안내</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="#room01">스탠다드 온돌</a></li>
										<li><a href="#room02">디럭스 온돌</a></li>
										<li><a href="#room03">디럭스 침대</a></li>
										<li><a href="#room04">디럭스 키즈</a></li>
										<li><a href="#room05">스위트</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-3 on">
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li class="nth-4">
								<a href="../group/index.html">단체문의</a>
							</li>
							<li class="nth-5">
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<li class="nth-6">
								<a href="../reservation/index.html">예약/예약확인</a>
							</li>
						</ul>
					</nav>
					
					<button type="button" class="navTab-m show-xs" id="navTab-m">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="gNav-m hidden-md" hidden-md id="gNav-m">
						<ul class="gnb-m clr">
							<li>
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li>
								<a href="../gallery/index.html">객실안내</a>
							</li>
							<li>
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li>
								<a href="../group/index.html">단체문의</a>
							</li>
							<li>
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<li>
								<a href="../reservation/index.html">예약/예약확인</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<div class="container" id="setTop">
			
			<!-- <div class="main-contents cm-s">
				<img class="mainImg show-md" src="http://img.bscondo.co.kr/facil/full.jpg" alt="부대시설사진">
				<img class="mainImg-m show-xs" src="http://img.bscondo.co.kr/facil/m_full.jpg" alt="부대시설사진">
			</div> -->
			<!--2018-01-16 바베큐파티-->
			<section class="main-contents cm-s">
				<div class="bbq-part">
					<div class="d-top">
						<p class="p-0">즐겁고 <span class="s-1 f-bd">맛있는 추억</span> 만들기</p>
						<h2>" 친구, 가족과 함께하는 <span class="f-bd">바베큐 파티<i>!</i></span> "</h2>
						<strong>바베큐장</strong>
					</div>
					<!-- 20180118 d-intro2 및 이밎 변경 -->
					<div class="d-intro2 cf">
						<figure><img src="http://img.bscondo.co.kr/facil/facil_00.jpg" alt="바베큐장"></figure>
					</div>
					<div class="d-cont">
						<p class="p-row">
							<span>※</span> 동절기에는 천막 내부에서 바베큐를 이용하실 수 있으며, <span class="show-xs"></span>내부에 난로가 있어 따뜻하게 즐기실 수 있습니다.</span>
						</p>
						<div class="d-row cf">
							<div class="flt-1">
								<p class="f-bd nth-1">Rental</p>
								<p class="nth-2">바베큐장 대여</p>
							</div>
							<div class="flt-2">
								<p>4인기준 테이블 숯, 집기류 제공, 반찬제공 안됨</p>
								<p><span class="s-1">현장 판매가 : 30,000원</span></p>
							</div>
						</div>
						<div class="d-row cf">
							<div class="flt-1">
								<p class="f-bd nth-1">Couple</p>
								<p class="nth-2">커플세트 / <span class="f-bd">2인</span></p>
							</div>
							<div class="flt-2">
								<p>삼겹살 100g, 목살 150g, 새우 2마리, 훈제오리 4P, 소시지 2P, 마늘과 버섯 2P, 된장찌개, 공기밥 2개</p>
								<p>정상가 : 49,000원  /  <span class="s-1">온라인 판매가 : 48,000원</span></p>
							</div>
						</div>
						<div class="d-row cf">
							<div class="flt-1">
								<p class="f-bd nth-1">Family</p>
								<p class="nth-2">패밀리세트 / <span class="f-bd">4인</span></p>
							</div>
							<div class="flt-2">
								<p>삼겹살 250g, 목살 300g, 새우 4마리, 훈제오리 6P, 소시지 4P, 마늘과 버섯 4P, 된장찌개, 공기밥 4개</p>
								<p>정상가 : 69,000원  /  <span class="s-1">온라인 판매가 : 68,000원</span></p>
							</div>
						</div>
					</div>
					<div class="d-bottom cf">
						<div class="flt-1">
							<p class="dot">바베큐 세트메뉴를 드셔도 단품 추가 가능합니다.</p>
							<p class="dot">상추, 마늘, 기본 반찬류는 무한리필 됩니다.</p>
							<p class="dot">세트메뉴 이용 시 외부음식은 반입금지입니다.</p>
							<p class="dot">
								운영시간 : 18시 ~ 새벽 1시(23시 까지 입장가능)<br> 
    						(23시 입장하는 고객님에 한해서, 바베큐장 정리는 BS콘도에서 진행해 드립니다.)
							</p>
						</div>
						<div class="flt-2">
							<p class="dot">현장에서 주류/음료 및 전기통닭구이도 판매중입니다.</p>
							<p class="dot">바베큐장의 자리만 대여 시 30,000원</p>
							<p class="pl-1"\>(4인기준 테이블, 숯, 집기류 제공, 반찬제공 안됨)</p>
							<p class="dot">위치안내 : 콘도 옆 전용 BS바베큐장</p>
						</div>
					</div>
					
				</div>
				
				<div class="d-part nth-2">
					<h3><img src="http://img.bscondo.co.kr/title_icon.png" alt="아이콘" class="title_ico"/>한식당</h3>
					<p class="p-txt">
						BS콘도 1층에 위치한 한식당에서 <span class="show-xs"></span>정성껏 준비한 식사를 준비하고 있습니다.<br>
						청결하고 맛있는 한식당에서 맛있게 즐기세요.
					</p>
					<figure><img class="basicImg" src="http://img.bscondo.co.kr/facil/facil_02.jpg" alt="한식당"></figure>
				</div>
				<div class="d-part nth-3">
					<h3><img src="http://img.bscondo.co.kr/title_icon.png" alt="아이콘" class="title_ico"/>대식당</h3>
					<p class="p-txt">
						BS콘도 1층에 위치한 대식당입니다.<br>
						넓은 공간에서 많은 사람들과 함께 식사 및 행사 등을 <span class="show-xs"></span>진행하실 수 있습니다.
					</p>
					<figure><img class="basicImg" src="http://img.bscondo.co.kr/facil/facil_03.jpg" alt="대식당"></figure>
				</div>
				<div class="d-part nth-4">
					<h3><img src="http://img.bscondo.co.kr/title_icon.png" alt="아이콘" class="title_ico"/>연회장</h3>
					<p class="p-txt">
						기업행사, 오리엔테이션을 할 수 있는 <span class="show-xs"></span>넓고 편안한 연회장을 제공합니다.<br>
						각종 행사를 위한 특별한 시간을 만나보세요.
					</p>
					<figure><img class="basicImg" src="http://img.bscondo.co.kr/facil/facil_04.jpg" alt="연회장"></figure>
				</div>
				<div class="d-part nth-5">
					<h3><img src="http://img.bscondo.co.kr/title_icon.png" alt="아이콘" class="title_ico"/>노래방</h3>
					<p class="p-txt">
						신나게 더 신나게~<span class="show-md"></span>
						좋은 사람들과의 스트레스를 풀어줄 <span class="show-xs"></span>BS콘도 노래방에서 하루를 마무리 해보세요.
					</p>
					<figure><img class="basicImg" src="http://img.bscondo.co.kr/facil/facil_05.jpg" alt="노래방"></figure>
				</div>
				<div class="d-part nth-6">
					<h3><img src="http://img.bscondo.co.kr/title_icon.png" alt="아이콘" class="title_ico"/>편의점</h3>
					<p class="p-txt">
						주류, 음료, 간식 등의 편의 상품을 모두 갖추고 있습니다.<br>
						1층에 위치하고 있어 더욱 편리한 <span class="show-xs"></span>BS콘도 편의점을 많이 애용해 주세요.
					</p>
					<figure><img class="basicImg" src="http://img.bscondo.co.kr/facil/facil_06.jpg" alt="편의점"></figure>
				</div>
				<div class="d-part nth-7">
					<h3><img src="http://img.bscondo.co.kr/title_icon.png" alt="아이콘" class="title_ico"/>오락실</h3>
					<p class="p-txt">
						BS콘도 지하에 위치한 오락실에서 지인과 함께 <span class="show-xs"></span>즐거운 시간을 드립니다.<br>
						다양한 게임과 함께 신나는 게임타임 !
					</p>
					<figure><img class="basicImg" src="http://img.bscondo.co.kr/facil/facil_07.jpg" alt="오락실"></figure>
				</div>
				
			</section>

			
		</div>
		
		
		<div class="clr"></div>
		<footer class="footer">
			<div class="container clr">

				<ul class="f_menu">
					<li><a href="javascript:;">이용약관</a></li>
					<li><a href="javascript:;">개인정보처리방침</a></li>
				</ul>

				<div class="cf-box clr">
					<p class="p-0">&lt;고객센터 안내&gt;</p>
					<div class="cf-in">
						<div class="callFor cf0">
							<span class="f-bd">고객센터 안내</span>
							문의에 따라 해당 고객센터로<br>
							전화주시면,문의사항을<br>
							해결해 드리겠습니다.
						</div>
						<a class="callFor cf1" href="tel:1666-1243">
							<span class="s1">예약문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>확정, 변경, 취소<span class="xs-hidden">&#41;</span><span class="xs-block"></span>/이벤트 문의</span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-542-7007</span>
							<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>
						</a>
						<a class="callFor cf2" href="tel:010-8844-0409">
							<span class="s1">프론트</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>체크인, 체크아웃<span class="xs-block"></span>시설이용문의<span class="xs-hidden">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-428-9422~3</span>
							<span class="s1-2">주중/주말 06시 ~ 02시</span>
						</a>
						<a class="callFor cf3" href="tel:010-8844-0409">
							<span class="s1">단체문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="xs-hidden">&#40;</span>워크샵, 학생단체,<span class="xs-block"></span> 산업단체 등<span class="xs-hidden">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-9544-8281</span>
							<span class="s1-2">주중/주말 06시 ~ 02시</span>
						</a>
					</div>
				</div>
				
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.bscondo.co.kr/footer_logo.png" alt="bscond">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							비에스투어앤리조트<br>
							주소 : 충청남도 아산시 도고면 기곡로62번길 6-8
							<br>
							사업자등록번호 : 312-86-43769 <span class="i-l"></span> 통신판매업 : 2017-충남아산-0196
							<br>
							<small>COPYRIGHT ⓒ 비에스투어앤리조트 ALL RIGHT RESERVED</small>
						</p>
					</address>
					
				</div>
			</div>
		</footer>
		
		
	</div>
		
</body>
</html>