@charset 'utf-8';

.header {background: #eaeaea;}

.main-contents {position: relative;}
.main-contents figure {width: 96%; margin: 0px auto; padding: 10px 0;}
.main-contents figure > img {width: 100%;}
.main-contents .d-txt {width: 96%; margin: 0 auto; padding: 10px 0 30px;}
.main-contents .d-txt .p-1 {font-size: 17px; font-weight: 700; line-height: 1.3;}
.main-contents .d-txt .p-2 {color: #7d7d7d; font-size: 12px; margin-top: 12px; word-break: keep-all;}