.main-contents hr.sun {margin: 30px auto;}
.main-contents .btn-area {position: relative; text-align: center;}
.main-contents .btn-area .btn-a {position: relative; display: inline-block; width: 306px; margin: 0 12px; height: 64px; font-size: 20px; font-family: "Nanum Gothic", sans-serif; text-align: center; background: #ECB84A; border: 1px solid #ECB84A; color: #fff; line-height: 64px; border-radius: 4px; box-sizing: border-box; font-weight: 700;}
.main-contents .btn-area .btn-a.a-1 {
	border: 1px solid #ECB84A; color: #ECB84A;
	background: #fefeff; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefeff 0%, #f1f3f4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fefeff 0%,#f1f3f4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fefeff 0%,#f1f3f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefeff', endColorstr='#f1f3f4',GradientType=0 ); /* IE6-9 */
}
.main-contents .btn-area .btn-a.a-1 > img {position: relative; left: -8px; margin-left: -26px;}
.main-contents .btn-area .btn-a .rArrow {position: relative; left: 32px; top: 2px;}
.main-contents .btn-area .btn-a .rArrow:after {width: 10px; height: 10px; border-width: 2px;}
.main-contents .btn-area .btn-a.a-1 .rArrow:after { border-color: #ecb84a;}
.main-contents .btn-area .btn-a.a-2 .rArrow:after {border-color: #fff;}

/* 20180228_날씨추가_다솜 */
.wing-box {display:block; position:absolute; margin:0 auto; text-align:center; left:50%; margin-left:-153px; padding-top:615px;}
.m-rWing2 {display: none;}
.weath-wrap {z-index:21; display:block; position:relative; overflow:hidden; width:305px; height:58px; margin:0 auto; border:2px solid #fff; border-radius:50px;}
.weath-wrap .weath-box {display:table; position:relative; box-sizing:border-box; width:100%; height:100%; padding:0 13px 1px; border-radius:50px; background:#fff; opacity:0.1; filter:alpha(opacity=10);}
.weath-wrap .weath-box p, .weath-wrap .weath-box span {font-weight:bold; letter-spacing:-0.75px; color:#fff; font-family: 'Nanum Gothic', 'Malgun Gothic', 'Dotum', sans-serif;}
.weath-wrap .weath-box p {display:table-cell; position:relative; vertical-align:middle; text-align:center;}
.weath-wrap .weath-box p:before {content:''; display:block; position:absolute; width:1px; height:33px; top:17px; left:0; margin-top:-5px; background:#bbbbbb; opacity:0.59; filter:alpha(opacity=59);}
.weath-wrap .weath-box p:first-child:before {content:none;}
.weath-wrap .weath-box .weath-img {width:52px; padding-right:3px;}
.weath-wrap .weath-box .weath-txt span {display:inline-block; width:100%; font-size:15px;}
.weath-wrap .weath-box .weath-txt .day {line-height:16px; margin-top:-7px;}
.weath-wrap .weath-box .weath-txt .location {margin-top:-2px; line-height:20px; vertical-align:top;}
.weath-wrap .weath-box .tem-txt {width:74px; padding-left:10px; text-align:left;}
.weath-wrap .weath-box .tem-txt span {display:inline-block; letter-spacing:-2px;}
.weath-wrap .weath-box .tem-txt .tem-num {min-width:38px; padding-right:4px; font-size:34px; text-align:right; line-height:34px;}
.weath-wrap .weath-box .tem-txt .tem-cel {position:absolute; font-size:24px; top:12px}
