<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="../../src/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../../src/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../src/css/waycome/init.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">
		
		<header class="header">
			<div class="hd-top">
				
			</div>
			<div class="hd-area clr">
				<div class="glb">
					<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/logo.jpg" alt="비에스앤리조트로고"></a>
				</div>
				<nav class="gNav">
					<ul class="gnb clr">
						<li class="nth-1">
							<a href="">콘도소개</a>
						</li>
						<li class="nth-2">
							<a href="">예약/예약확인</a>
						</li>
						<li class="nth-3">
							<a href="">갤러리</a>
							<div class="gDep2-nav">
								<ul class="gnb-dep2" id="gnb-dep2">
									<li><a href="javascript:;">디럭스온돌</a></li>
									<li><a href="javascript:;">디럭스더블</a></li>
									<li><a href="javascript:;">디럭스트윈</a></li>
									<li><a href="javascript:;">디럭스테마(키즈룸)</a></li>
									<li><a href="javascript:;">스위트</a></li>
								</ul>
							</div>
						</li>
						<li class="nth-4">
							<a href="">단체문의</a>
						</li>
						<li class="nth-5 on">
							<a href="">오시는길</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		
		<div class="container">
			
			<section class="tit-contents">
				<h2>오시는 길</h2>
			</section>
			
			<section class="main-contents">
				<h3>찾아오시는 길</h3>
				
				<div class="mapBox">
					<!-- 구글 지도 -->
					<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3196.3914832748883!2d126.88584031564068!3d36.76117487995675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ae669b55168f9%3A0xc2335e09f584c03c!2z67mE7JeQ7Iqk7Yis7Ja07JWk66as7KGw7Yq4IOuPhOqzoOy9mOuPhA!5e0!3m2!1sko!2skr!4v1513062640124" width="980" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
					
					<!-- * Daum 지도 - 지도퍼가기 -->
					<!-- 1. 지도 노드 -->
					<div id="daumRoughmapContainer1513069369588" class="root_daum_roughmap root_daum_roughmap_landing"></div>

					<!-- 2. 설치 스크립트 -->
					<script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>

					<!-- 3. 실행 스크립트 -->
					<script charset="UTF-8">
						new daum.roughmap.Lander({
							"timestamp" : "1513069369588",
							"key" : "kvb7",
							"mapWidth" : "980",
							"mapHeight" : "450",
						}).render();
					</script>
					
					<div class="mapInfo">
						<ul>
							<li><span class="map_i"><img src="http://img.bscondo.co.kr/waycome/map_add.jpg" style="margin-right:10px">주소</span> 충청남도 아산시 도고면 기곡로62번길 6-8 </li>
							<li><span class="map_i"><img src="http://img.bscondo.co.kr/waycome/map_phon.jpg" style="margin-right:10px">전화번호</span> 1666-6186 </li>
						</ul>
					</div>
				</div>
				
				<div class="waytocome">
					<h4>고속도로 및 일반도로 이용시</h4>
					<table class="tb-way" border="0" cellpadding="0" cellspacing="0" width="980px">
						<tbody>
							<tr>
								<th>서울(강남/분당권) 방면</th>
								<td>서울(강남/분당권) → 경부고속도로 → 천안IC → 예산방향(자동차전용도로) → 도고온천 → BS투어앤리조트[구IF콘도]</td>
							</tr>
							<tr>
								<th>서울(강서/일산권) 방면</th>
								<td>서울(강서/일산권) → 서해안고속도로 → 송악IC → 삽교방조제 → 인주 → 도고온천 → BS투어앤리조트[구IF콘도]</td>
							</tr>
							<tr>
								<th>서울(경부고속도로) 방면</th>
								<td>서울(경부고속도로) → 안성IC → 평택방향(좌회전) → 38번국도직진 → 아산,팽성방향 → 인주(도고온천방향) → <br>도고온천 → BS투어앤리조트[구IF콘도]</td>
							</tr>
							<tr>
								<th>인천 방면</th>
								<td>인천 → 서해안고속도로 → 서평택IC → 아산만방조제 → 도고온천 → BS투어앤리조트[구IF콘도]</td>
							</tr>
							<tr>
								<th>부산(대구) 방면</th>
								<td>부산(대구) → 경부고속도로 → 천안IC → 아산(온양)시내 → 도고온천 → BS투어앤리조트[구IF콘도]</td>
							</tr>
							<tr>
								<th>광주 방면</th>
								<td>광주 → 호남고속도로 → 경부고속도로 → 천안IC → 아산(온양)시내 → 도고온천 → BS투어앤리조트[구IF콘도]</td>
							</tr>
							<tr>
								<th>대전 방면</th>
								<td>대전 → 유성JC → 예산(수덕사)IC → 21번국도도고온천방향 → 도고온천 → BS투어앤리조트[구IF콘도]</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="waytocome">
					<h4>주변관광지에서 오시는 길</h4>
					<table class="tb-way" border="0" cellpadding="0" cellspacing="0" width="980px">
						<tbody>
							<tr>
								<th>도고파라다이스스파</th>
								<td>도고파라다이스스파 → 도보5~10분 → BS투어앤리조트(구IF콘도)</td>
							</tr>
							<tr>
								<th>덕산리솜스파캐슬</th>
								<td>덕산리솜스파캐슬 → 덕산온천관광호텔 뒤편 4차선 도로 → 서산/삽교방면(45번국도) → 예산/홍성방면(21번국도)<br>→ 도고온천 → BS투어앤리조트[구IF콘도](차량으로 약 15분 소요</td>
							</tr>
							<tr>
								<th>아산스파비스</th>
								<td>아산스파비스 → 공주/예산방면(39번국도) → 홍성/예산방면(21번국도) → 도고온천→BS투어앤리조트[구IF콘도](차량으로 약 15분 소요) </td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
			
		</div>
		
		<div class="footer">
			<div class="copyright">
				<span class="txt">
					상호명 : (주)투어포유  ㅣ 대표이사 : 이희열 ㅣ 고객상담 및 빠른객실문의 1666-6186 ㅣ 서울특별시 강남구 테헤란로82길 15, 14층(대치동, 디아이타워)<br>
					사업자등록번호 : 549-88-00105 ㅣ 통신판매업 : 제2015-서울강남-02198호 ㅣ 여행업등록번호 : 제2015-30호 <a href="javascript:pop.open('registration.jpg', '400', '568');"><img src="http://img.bscondo.co.kr/footer_icon.jpg"></a><br>
					여행영업보증서 : 국내여행 제100-000-2015 0298 5571호<br><br>
					copyright 2015 by bstourresort co., all rights reserved. 
				</span>
			</div>
		</div>
		
		
		
		
	</div>
		
</body>
</html>