@charset 'utf-8';

@media (max-width: 979px) {
	.main-contents .menu_tap {margin: 0 auto; position: fixed; z-index: 52; background: #fff; width: 100%; padding-top: 60px; top: 0; left:0;}
	.main-contents .menu_tap ul {width: 96%; position: relative; margin: 0 auto;}
	.main-contents .menu_tap ul li {float: left; border: 1px solid #aeaeae; border-right: none; box-sizing: border-box; width: 20%; height: 30px; line-height: 30px;}
	.main-contents .menu_tap ul li:last-child {border-right: 1px solid #aeaeae;}
	.main-contents .menu_tap ul li a {font-size: 11px; text-align: center; display: block; letter-spacing: -0.8px; color: #474646; font-weight: 600;}
	.main-contents .menu_tap ul li.on a {color:#e56017;}
	
	.main-contents .tp-tit {position:relative; padding-top:35px; font-size:20px; font-weight:bold; text-align:center; color:#474646;}
	.main-contents .tp-area {position:relative; margin:0 2%; padding:15px 0 20px; border-top:1px solid #dedede;}
	.main-contents .tp-area.fir {border-top:0;}
	.main-contents .tp-area .tp-imgbox {position:relative; padding-bottom:20px; text-align:center;}
	.main-contents .tp-area .tp-txtbox {position:relative;}
	.main-contents .tp-area .tp-txtbox .tpsub-tit {margin:0px 0px 4px; font-size:16px; font-weight:bold; letter-spacing:-1px; text-align:center; color:#ff6a18;}
	.main-contents .tp-area .tp-txtbox .tp-point {font-size:12px; letter-spacing:-1px; word-break:keep-all; text-align:center; color:#d96100;}
	.main-contents .tp-area .tp-txtbox dd p {padding-top:12px; font-size:12px; line-height:18px; word-break:keep-all; text-align:left; color:#3c3c3c;}
	.main-contents .tp-area .tp-txtbox .tp-time {padding-top:0; text-align:center;}
	.main-contents .tp-area .tp-txtbox .tp-time:before {content:'▶'; padding-right:3px;}
	.main-contents .tp-area .tp-txtbox .tp-telbox {word-spacing:-2px;}
	.main-contents .tp-area .tp-txtbox .tp-telbox:before {content:'☎';}
	.main-contents .tp-area .tp-txtbox p.tp-telbox ~ p.tp-telbox {padding-top:0;}
	.main-contents .tp-area .tp-txtbox .tp-telbox .tp-tel {cursor:pointer;}
	
}

@media (min-width: 980px) {
	.main-contents .tp-tit {position:relative; margin:0 auto; padding-top:35px; font-size:35px; font-weight:600; letter-spacing:-1px; text-align:left; font-family:'Malgun Gothic', 'Nanum Gothic', sans-serif; color:#474646;}
	.main-contents .tp-area {position:relative; min-height:209px; padding:25px 0; border-top:1px solid #dedede;}
	.main-contents .tp-area.fir {border-top:0;}
	.main-contents .tp-area .tp-imgbox {position:absolute; top:33px;}
	.main-contents .tp-area .tp-txtbox {position:relative; width:694px; margin-left:296px;}
	.main-contents .tp-area .tp-txtbox .tpsub-tit {margin:0px 0px 6px; font-size:20px; font-weight:600; letter-spacing:-1px; text-align:left; color:#ff6a18;}
	.main-contents .tp-area .tp-txtbox .tp-point {font-size:15px; letter-spacing:-1px; word-break:keep-all; text-align:left; color:#d96100;}
	.main-contents .tp-area .tp-txtbox dd p {padding-top:25px; font-size:15px; line-height:20px; word-break:keep-all; color:#3c3c3c;}
	.main-contents .tp-area .tp-txtbox .tp-time {padding-top:0;}
	.main-contents .tp-area .tp-txtbox .tp-time:before {content:'▶'; padding-right:3px;}
	.main-contents .tp-area .tp-txtbox .tp-telbox {word-spacing:-2px;}
	.main-contents .tp-area .tp-txtbox .tp-telbox:before {content:'☎';}
	.main-contents .tp-area .tp-txtbox p.tp-telbox ~ p.tp-telbox {padding-top:0;}
	.main-contents .tp-area .tp-txtbox .tp-telbox .tp-tel {cursor:default;}
}