.login-outer {position: relative;  padding: 15px 25px 35px; width:740px; margin: 100px auto; background:#fff; border:1px solid #dedede; letter-spacing:-0.1px; font-family: "Nanum Gothic", sans-serif;}
.login-outer .login-box {}
.login-outer .login-box .naverLogin h4 {font-size:18px; color:#5a2400; font-weight: 400; margin-bottom: 25px;}
.login-outer .login-box .naverLogin .snsLarge {margin:auto; width:268px}
.login-outer .login-box .naverLogin .snsLarge ul {margin:auto; width:268px}
.login-outer .login-box .naverLogin .snsLarge li {text-align:center; letter-spacing:-0.3px; font-weight:600; line-height:55px; font-size:15px; margin-bottom: 10px;}
.login-outer .login-box .naverLogin .snsLarge li a {position: relative; display:block; width:268px; height:55px; border-radius: 5px; box-sizing: border-box;}
.login-outer .login-box .naverLogin .snsLarge li a img {position: absolute; top: 19px; left: 19px;}
.login-outer .login-box .naverLogin .snsLarge li a span {position: relative; display: inline-block; width: 210px;
	float:right; border-left: 1px solid; text-align: center; border-left: 1px solid rgba(0,0,0,.196);}
.login-outer .login-box .naverLogin .snsLarge li.daum a span {width: 207px;}
.login-outer .login-box .naverLogin .snsLarge .naver a {color:#fff; background:#1ec800;}
.login-outer .login-box .naverLogin .snsLarge .kakao a {color:#3b1e1e; background:#ffeb00;}
.login-outer .login-box .naverLogin .snsLarge .facebook a {color:#fff; background:#3b5998;}
.login-outer .login-box .naverLogin .snsLarge .daum a {color:#4681bd; border:3px solid #4681bd; line-height:50px; box-sizing: border-box;}
.login-outer .login-box .naverLogin .snsLarge .twitter a {color:#fff; background:#32ccfe;}
.login-outer .login-box .naverLogin .snsLarge .google a {color:#fff; background:#d34837;}
.login-outer .login-box .naverLogin .snsLarge .naver a img {width: 20px;}
.login-outer .login-box .naverLogin .snsLarge .daum a img {width: 25px; top: 12px; left: 15px;}
.login-outer .login-box .naverLogin .snsLarge .facebook a img {width: 25px; top: 13px; left: 16px;}
.login-outer .login-box .naverLogin .snsLarge .kakao a img {top: 17px; left: 17px;}

.login-outer .login-box .naverLogin .alert {margin-top: 30px; text-align: center;}
.login-outer .login-box .naverLogin .alert .img {margin: 0 auto;}
.login-outer .login-box .naverLogin .alert .text {display: inline-block; vertical-align: top;}
.login-outer .login-box .naverLogin .alert .img {width:42px}
.login-outer .login-box .naverLogin .alert .text {padding-left:10px;line-height:18px; font-size: 13px; text-align: left;}
.login-outer .login-box .naverLogin .alert .text span {color:#ff610a}