<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/commonR.css">
	<!-- 180212 css생성 -->
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/tourplace/initR.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script src="http://static.bscondo.co.kr/js/common.js"></script>
	
	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

	<!-- 180212 css생성 -->
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://static.bscondo.co.kr/css/commonR_ie8.css" />
		<link rel="stylesheet" href="http://static.bscondo.co.kr/css/tourplace/initR_ie8.css" />
		<script src="http://static.bscondo.co.kr/js/common_ie8.js"></script>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->

	<script type="text/javascript">
		function tourplace(num) {
			$(".tourplace").hide();
			$(".tourplace_"+(num)).show();
			$(".tour_li").removeClass("on");
			$(".tour_li_"+(num)).addClass("on");
			$('html').scrollTop(0);
		}
	</script>
</head>
<body>
	<h1 class="hidden">비에스앤리조트도고콘도</h1>
	
	<div id="bs-wrap">
		<div class="layer-pop-bg" id="faqWrap-back" style="display: none;">
			<div class="faqWrap" id="faqWrap">
				<h2>무료객실 이벤트 당첨안내 <span class="s1">FAQ</span><a href="javascript:;" class="i-x"><img src="http://img.ocean2you.co.kr/renew/i_x.png" alt="닫기"></a></h2>
				<ul class="ul1">
					<li>
						<div class="d1"><span class="s-tit">무료숙박권 이벤트문자를 받았습니다. 실제 진행하는 이벤트가 맞나요?</span> <span class="s-dArr"></span></div>
						<div class="d2">
							네. 맞습니다.<br>
							저희 도고BS콘도를 이용하셨던 고객님들을 대상으로 선착순 300분에게 무료숙박권 증정하는 이벤트를 진행하고 있습니다.<br>
							무료숙박권을 신청하시고 2018년 04월 30일까지 주중, 주말 상관없이 원한는 날짜에 원하는 객실로 이용하시면 됩니다.
						</div>
					</li>
					<li>
						<div class="d1"><span class="s-tit">무료숙박권인데 결제창이 있습니다. 왜 결제를 해야하나요?</span> <span class="s-dArr"></span></div>
						<div class="d2">
							경품지급에 따른 제세공과금 및 봉사료가 포함된 금액을 결제 하셔야 이용하실수 있습니다.
						</div>
					</li>
					<li>
						<div class="d1"><span class="s-tit">무료숙박권 이벤트는 왜 하는건가요?</span> <span class="s-dArr"></span></div>
						<div class="d2">
							저희 도고BS콘도를 이용하셨던 고객님들께 또한번의 추억을 드리고자, 이렇게 무료숙박권 이벤트를 진행하고 있습니다.<br>
							온천으로 유명한 아산에서 소중한 사람들과의 온천여행을 즐기시기 바랍니다.
						</div>
					</li>
					<li>
						<div class="d1"><span class="s-tit">주말에도 예약이 가능한가요?</span> <span class="s-dArr"></span></div>
						<div class="d2">
							네. 가능합니다.<br>
							무료숙박권을 신청하시면 2018년 04월 30일까지 주중, 주말 관계없이 원하시는 날짜, 원하시는 객실로 예약이 가능합니다.<br>
							다만, 일별 제공되는 이벤트 객실은 한정수량으로 제공됩니다.<br>
							특히 주말의 경우에는 예약신청 고객님이 몰릴 수 있으니, 주말 예약을 원하신다면 되도록 미리 예약을 진행해 주시기 바랍니다.
						</div>
					</li>
					<li>
						<div class="d1"><span class="s-tit">객실은 어디로 배정이 되는건가요?</span> <span class="s-dArr"></span></div>
						<div class="d2">
							객실은 디럭스 패밀리를 제외하고 전객실을 이용하실 수 있습니다.<br>
							스탠다드 온돌, 디럭스 온돌, 디럭스베드, 디럭스 키즈 모두 선택가능합니다.
						</div>
					</li>
					<li>
						<div class="d1"><span class="s-tit">인원은 몇 명까지 투숙가능한가요?</span> <span class="s-dArr"></span></div>
						<div class="d2">
							객실의 기준인원은 4명이며 최대 6명까지 투숙이 가능합니다.<br>
							추가인원 있는경우, 인당 2만원(엑스트라베드포함)의 추가비용을 현장에서 결제해주시면 됩니다.
						</div>
					</li>
					<li>
						<div class="d1"><span class="s-tit">파라다이스스파도고, 아산스파비스 등 스파할인권도 제공하나요?</span> <span class="s-dArr"></span></div>
						<div class="d2">
							네. 본 이벤트에 참여하시면 스파할인권을 체크인시에 제공하고 있습니다.<br><br>
							제공하는 스파할인권은 4인까지 동일한 할인혜택이 가능합니다.<br>
							- 파라다이스스파도고 는 50% 할인권<br>
							- 아산스파비스는 40% 할인권<br>
							스파관련 추가 인원이 있는 경우에는,<br>
							해당 시설의 요금정책에 맞는 금액을 지불하셔야 합니다.
						</div>
					</li>
					<li>
						<div class="d1"><span class="s-tit">부대시설은 어떤게 있나요?</span> <span class="s-dArr"></span></div>
						<div class="d2">
							# 바베큐장<br>
							- 커플세트2인, 패밀리세트4인, 바베큐장 대여 등으로 선택이용이 가능합니다.<br>

							# 한식당<br>
							- 조식 및 식사가 가능합니다.<br>

							# 이외 연회장, 편의점, 노래방, 오락실등의 부대시설이 있습니다.

						</div>
					</li>
					<li>
						<div class="d1"><span class="s-tit">궁금한건 어디로 전화하면 되나요?</span> <span class="s-dArr"></span></div>
						<div class="d2">도고BS콘도 예약실 041-542-7007 또는 1666-6701로 문의주시면 전문 상담원이 빠르게 안내해 드리도록 하겠습니다.</div>
					</li>
				</ul>
			</div>
		</div>
		
		<header class="header" id="gnb-header">
			<div class="hd-top">		
			</div>
			<div class="hd-area clr">
				<div class="glb clr">
					<a href="#" class="gLogo"><img src="http://img.bscondo.co.kr/top_logo.png" alt="비에스앤리조트로고"></a>
					
					<div class="d1">
						<a class="faq-a show-md" id="faq-a" href="#">무료숙박권 이벤트 안내</a>
						<a class="mFaq-a show-xs" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
					</div>
					
					<nav class="gNav show-md">
						<ul class="gnb clr">
							<li class="nth-1 on">
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li class="nth-2">
								<a href="../gallery/index.html">객실안내</a>
								<div class="gNavDep2">
									<ul class="gnbDep2 clr">
										<li><a href="#room01">스탠다드 온돌</a></li>
										<li><a href="#room02">디럭스 온돌</a></li>
										<li><a href="#room03">디럭스 침대</a></li>
										<li><a href="#room04">디럭스 키즈</a></li>
										<li><a href="#room05">스위트</a></li>
									</ul>
								</div>
							</li>
							<li class="nth-3">
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li class="nth-4">
								<a href="../group/index.html">단체문의</a>
							</li>
							<li class="nth-5">
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<!-- 180212 메뉴 추가 -->
							<li class="nth-7 on">
								<a href="../tourplace/index.html">주변관광지</a>
								<div class="gNavDep3">
									<ul class="gnbDep3 clr">
										<li class="tour_li_1 tour_li"><a onclick="tourplace(1);">스파, 온천/워터파크</a></li>
										<li class="tour_li_2 tour_li"><a href="javascript:tourplace(2);">사찰/성당</a></li>
										<li class="tour_li_3 tour_li"><a href="javascript:tourplace('3');">자연관광지</a></li>
										<li class="tour_li_4 tour_li on"><a href="javascript:tourplace('4');">기타관광지</a></li>
										<li class="tour_li_5 tour_li"><a href="javascript:tourplace('5');">추천관광코스</a></li>
									</ul>
								</div>
							</li>
							<li>
								<a href="../reservation/index.html">예약확인</a>
							</li>
							<li class="nth-6">
								<a href="../reservation/index.html">객실예약</a>
							</li>
						</ul>
					</nav>
					
					<!-- 모바일 메뉴 -->
					<button type="button" class="navTab-m show-xs" id="navTab-m">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<nav class="gNav-m hidden-md" id="gNav-m">
						<ul class="gnb-m clr">
							<li>
								<a href="../intro/index.html">콘도소개</a>
							</li>
							<li>
								<a href="../gallery/index.html">객실안내</a>
							</li>
							<li>
								<a href="../facil/index.html">부대시설</a>
							</li>
							<li>
								<a href="../group/index.html">단체문의</a>
							</li>
							<li>
								<a href="../waycome/index.html">오시는길</a>
							</li>
							<!-- 180212 메뉴 추가 -->
							<li>
								<a href="../tourplace/index.html">주변관광지</a>
							</li>
							<li>
								<a href="../reservation/index.html">예약확인</a>
							</li>
							<li>
								<a href="../reservation/index.html">객실예약</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
		<!-- 180212 컨텐츠 영역 -->
		<div class="container" id="setTop">
			<section class="main-contents cm-s">
				<!-- 모바일 서브 메뉴 -->
				<div class="menu_tap hidden-md clr">
					<ul class="clr">
						<li class="tour_li_1 tour_li"><a href="javascript:tourplace('1');">스파/온천</a></li>
						<li class="tour_li_2 tour_li"><a href="javascript:tourplace('2');">사찰/성당</a></li>
						<li class="tour_li_3 tour_li"><a href="javascript:tourplace('3');">자연관광지</a></li>
						<li class="tour_li_4 tour_li on"><a href="javascript:tourplace('4');">기타관광지</a></li>
						<li class="tour_li_5 tour_li"><a href="javascript:tourplace('5');">추천코스</a></li>
					</ul>
				</div>
				
				<div class="tourplace_1 tourplace" style="display: none;">
					<h2 class="tp-tit">스파, 온천/워터파크</h2>
					
					<div class="tp-area fir">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/spa01.jpg" alt="도고온천(파라다이스 스파도고)">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">도고온천(파라다이스 스파도고)</h3>
								<p class="tp-point">유황을 함유하고 있어 각종 병에 특효가 있는</p>
							</dt>
							<dd>
								<p class="tp-time">약 20분 소요(13.23Km 거리 위치)</p>
								<p>온천의 고장 충남 아산의 랜드마크, 국민보양온천 1호인 파라다이스 스파 도고는 자연의 매력을 한껏 느낄 수 있고, 건강한 휴식을 즐길 수 있는 휴양시설이다. 온천수의 수온이 35도 이상으로 의학적 효능이 우수한 광물질이 일정량 이상 포함되어 있고 운동욕장(바데풀), 온천욕장, 노천탄 등의 시설을 갖추고 있는 온천으로 전국 각지에서 여행객이 머무는 명소가 되고 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-537-7100" class="tp-tel">041-537-7100</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/spa02.jpg" alt="아산 스파비스">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">아산 스파비스</h3>
								<p class="tp-point">알칼리성온천으로 20여종의 인체에 유익한 성분 다량 함유!</p>
							</dt>
							<dd>
								<p class="tp-time">약 15분 소요 (11.27km 거리 위치)</p>
								<p>아산시 음봉면 신수리에 위치한 아산스파비스는 수도권에서 1시간대에 접근이 가능하며, 기존의 단순온천 시설과는 달리 국내 최초의 온천수를 이용한 신개념의 테마온천으로 수치료 바데풀과 어린이용 키즈풀, 사계절 이용이 가능한 실외온천풀에서 물놀이와 온천을 할아버지 할머니 아빠, 엄마 ,자녀 온 가족이 함께 즐길수 있는 가족 건강테마온천이다. 5,600명이 동시이용가능한 실내외 워터파크 및 대욕장에는 계절에 따라 딸기, 쑥, 솔잎, 인삼, 허브를 이용한 23개의 이벤트탕과 기능탕을 이용할 수 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-539-2000" class="tp-tel">041-539-2000</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/spa03.jpg" alt="리솜스파캐슬">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">리솜스파캐슬</h3>
								<p class="tp-point">가족중심, 아이들도 안전한 워터파크</p>
							</dt>
							<dd>
								<p class="tp-time">약 1시간 소요 (38.00km 거리 위치)</p>
								<p>리솜오션캐슬의 패밀리 브랜드로서 '스파'를 테마로한 국내 최초의 스파리조트이다. 충절의 고장 충남 예산에 위치하여 서울 및 수도권에서 약 1시간 30분 소요되는 뛰어난 접근성을 자랑하며 멋진 풍광의 산과 서해바다, 풍부한 문화관광지가 30분 거리 내에 있어 탁월한 입지 조건을 자랑한다. 전문적이고 체계회 된 시설과 프로그램 제공으로 세계적인 스파리조트로서의 면모를 갖추고 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-330-8000" class="tp-tel">041-330-8000</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/spa04.jpg" alt="온양온천">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">온양온천</h3>
								<p class="tp-point">58도씨의 고온의 역대 임금이 이용한 왕실온천</p>
							</dt>
							<dd>
								<p class="tp-time">약 3분 소요 (1.21km 거리 위치)</p>
								<p>온양온천은 지질이 쥬라기 및 백악기 화강암류로 되어 있으며 37.8°C~54.9°C 내외로 고열온천이다. 온천수의 수질은 알칼리성으로 수질이 좋고 수량이 풍부하여 각종 성인병과 피부미용에도 효과가 매우 크다. 또한 온양온천은 온천수가 뛰어날 뿐만 아니라 온천관광호텔과 상가, 음식점, 유흥업소, 수영장과 같은 편의시설이 잘 발달되어 많은 관광객이 찾는 온천지역 최대의 명소로 자리하고 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:1644-2468" class="tp-tel">1644-2468</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/spa05.jpg" alt="훼미리랜드 충무풀장">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">훼미리랜드 충무풀장</h3>
								<p class="tp-point">다양한 레저시설을 갖추고 있는 종합적인 휴식공간</p>
							</dt>
							<dd>
								<p class="tp-time">약 10분 소요 (5.98km 거리 위치)</p>
								<p>(주)훼미리랜드 충무풀장은 총 부지면적 3만평으로, 지하 300m에서 채수하는 맑고 시원한 청정수를 공급하는 수영장이다. 30년된 플라타나스의 시원한 나무그늘과 염치저수지를 배경으로 음식을 조리할 수 있는 공간과 수영캠프, 식당, 스낵 등 먹거리 공간이 마련되어 있고, 부대시설로 테니스장, 낚시터 등 다양한 레저시설 또한 갖추고 있는 종합적인 휴식공간이다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-544-2155" class="tp-tel">041-544-2155</a> 
								</p>
							</dd>
						</dl>
					</div>
				</div>
				<!--tourplace_2-->
				<div class="tourplace_2 tourplace" style="display: none;">
					<h2 class="tp-tit">사찰/성당</h2>
					
					<div class="tp-area fir">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/temple01.jpg" alt="현충사">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">현충사</h3>
								<p class="tp-point">충무공이순신 추모하는 향불이 끊이지 않는..</p>
							</dt>
							<dd>
								<p class="tp-time">약 10분 소요 (5.28km 거리 위치)</p>
								<p>온양온천에서 4km 떨어진 아산시 염치읍 방화산 기슭에 위치한 이순신 장군의 사당으로 공이 성장하여 무과급제 할 때까지 사시던 곳이다. 충무공이 1598년 노량해전에서 순국하신 지 108년이 지난 숙종 32년(1706) 이곳에 충무공의 얼을 기리기 위하여 사당을 세웠으며 1707년 숙종께서 친히 현충사란 이름을 내렸다. 1932년에 일제 시대에 이충무공 유적 보존회가 결성되어 사당을 중건하였고 1945년 해방 후에는매년 4월28일에 전 국민의 뜻으로 충무공 탄신기념제전을 올려 공을 추모하여 왔다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-539-4600" class="tp-tel">041-539-4600</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/temple02.jpg" alt="봉곡사">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">봉곡사</h3>
								<p class="tp-point">옛 돌기와,청기와 등을 소장하고 있는</p>
							</dt>
							<dd>
								<p class="tp-time">약 20분 소요 (12.76km 거리 위치)</p>
								<p>봉곡사는 송악면 유곡리에 소재하고 있으며, 이 사찰은 봉수산 북쪽에 있는 동향사 면의 기슭에 조영(造營)되었는데 울창한 송림으로 에워싸인 진입로와 배(背)산이 청정도장의 면모를 돋보이게 하는 곳으로 현재 대웅전과 향각전, 그리고 30여개의 료사(寮舍:작은집, 기거하는 곳)가 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-543-4004" class="tp-tel">041-543-4004</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/temple03.jpg" alt="세심사">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">세심사</h3>
								<p class="tp-point">영인산 기슭에 있는 오래된 절</p>
							</dt>
							<dd>
								<p class="tp-time">약 25분 소요 (16.74km 거리 위치)</p>
								<p>세심사는 염치읍 산양리 영인산 기슭에 있는 오래된 절로써 1968년 일타(日陀)와 도견(道堅)이 절 입구에 있는'세심당(洗 心堂)'이라는 부도에서 이름을 따와 세심사로 고쳤다. 현존하는 건물로는 대웅전을 비롯하여 영산전·산신각·범종각·요사채가 있다. 대웅전 안에는 소조아미타좌상이 봉안되어 있고, 불화로는 영산회상후불탱화와 신중탱화가 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-543-2696" class="tp-tel">041-543-2696</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/temple04.jpg" alt="인취사">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">인취사</h3>
								<p class="tp-point">고려시대 창건한 사찰</p>
							</dt>
							<dd>
								<p class="tp-time">약 15분 소요 (8.25km 거리 위치)</p>
								<p>신창면 읍내리 학성산 기슭에 위치하고 있는 인취사는 고려시대 창건한 사찰로 경내에 삼층석탑 2기와 극락전과 삼존불상 등이 있으며 경내에서 수습된 기와 와편이 있다. 또한 여름에는 연꽃축제가 며칠 간 성대하게 열리며 그 행사로는 백일장, 시낭송 등이 있어 인취사를 찾는 관광객들에게 다양하고 흥미로운 볼거리와 참여할 수 있는 문화공간을 제공한다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-542-6441" class="tp-tel">041-542-6441</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/temple05.jpg" alt="공세리성당">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">공세리성당</h3>
								<p class="tp-point">수백년 된 느티나무와 각종 수림으로 쌓여 경관이 매우 아름다운 천주교성지</p>
							</dt>
							<dd>
								<p class="tp-time">약 20분 소요 (18.19km 거리 위치)</p>
								<p>아산만과 삽교천을 잇는 인주면 공세리 언덕 위에 세워진 천주교 대전교구 소속의 본당으로 1894년에 교회가 설립되었다. 본당은 1922년에 완공되어 충청남도 최초의 본당이 되었다. 경내에는 병인 박해 때 순교한 3인의 묘소가 조성되어 있으며 경내에는 본당과 사제관, 피정의 집, 회합실 등이 있으며 수백년 된 느티나무와 각종 수림으로 쌓여 있어 경관이 매우 아름다운 천주교성지다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-533-8181" class="tp-tel">041-533-8181</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/temple06.jpg" alt="맹씨행단">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">맹씨행단</h3>
								<p class="tp-point">조선 청백리 명재상 맹사성이 살던 집</p>
							</dt>
							<dd>
								<p class="tp-time">약 10분 소요 (5.82km 거리 위치)</p>
								<p>맹씨 행단이란 맹씨가 사는 은행나무 단(檀)이 있는 집이란 뜻이다. 우리 나라 살림집 가운데 가장 오래된 옛 모습을 간직한 곳으로 사적 제109호이다. 맹씨행단이 자리잡은 곳은 풍수적으로도 매우 길하여 기를 담은 자리라고도 한다. 맹씨 행단은 본래 고려말의 최영장군이 살던 집이었는데 이웃집에 살던 맹사성의 사람됨을 눈여겨본 최영이 손녀사위로 삼고 맹사성 일가는 이곳에서 뿌리를 내리게 되었다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:010-5454-7523" class="tp-tel">010-5454-7523</a> 
								</p>
							</dd>
						</dl>
					</div>
				</div>
				<!--tourplace_2-->
				<!--tourplace_3-->
				<div class="tourplace_3 tourplace" style="display: none;">
					<h2 class="tp-tit">자연관광지</h2>
					
					<div class="tp-area fir">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature01.jpg" alt="아산생태곤충원/아산그린타워/장영실 과학관">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">아산생태곤충원/아산그린타워/장영실 과학관</h3>
								<p class="tp-point">어린이가 행복한 아산!</p>
							</dt>
							<dd>
								<p class="tp-time">약 10분 소요 (3.98km 거리 위치)</p>
								<p>아산생태곤충원은 곤충체험 뿐만 아니라 주변에서 흔히 볼 수 없는 이색 볼거리를 제공하고 있다. 열대열매 파파야, 애플망고, 커피나무가 익어가고 있어 어린이들에게 열대열매의 생육과정을 교육시킬 수 있는 교육의 장소로도 활용되고 있다. 아산생태공원 내에 위치한 그린타워 전망대는 1층은 전망대(망원경 6대) 2층은 레스토랑이 입점해 150m 높이에서 아산시를 한 눈에 조망할 수 있다. 아산 장영실과학관은 1층 어린이과학관과 과학공장실, 기획전시실, 4D영상관을 비롯하여 2층 장영실과학관에서는 물, 바람, 금속, 빛, 우주 등 5가지 테마를 주제로 장영실의 업적과 현대과학을 보고, 듣는 체험을 통해 알기 쉽도록 과학을 재해석 하였다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-532-1167" class="tp-tel">041-532-1167~8</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature02.jpg" alt="신정호관광지">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">신정호관광지</h3>
								<p class="tp-point">자연경관이 수려한 사계절 휴양지</p>
							</dt>
							<dd>
								<p class="tp-time">약 6분 소요 (3.54km 거리 위치)</p>
								<p>신정호는 수면이 92ha이며 1926년에 만들어진 인공호수 이다. 이곳은 자연경관이 수려해 사계절 휴양지로 많은 관광객이 모여드는 곳 이기도하다. 주변에 신정호관광지가 조성되어 잔디광장, 야영장, 조류사, 체육시설, 조각공원, 8.45m의 이충무공동상이 있다. 특히 조각공원내에는 조각품과 야생화원이 조성되어 지역주민 및 청소년들을 위한 문화예술체험의 장으로 활용되고있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-540-2518" class="tp-tel">041-540-2518</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature03.jpg" alt="강당골">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">강당골</h3>
								<p class="tp-point">심산유곡의 정취를 맛볼 수 있는</p>
							</dt>
							<dd>
								<p class="tp-time">약 15분 소요 (8.45km 거리 위치)</p>
								<p>광덕산 내의 계곡인 강당골은 일명 양화담이라고도 한다. 이곳은 물이 맑고 계곡의 주변은 울창한 고목이 숲을 이루고 있어서 심산유곡의 정취를 맛볼 수 있으며 계곡의이 암반으로 되어 있어 물과 숲과 돌이 절묘한 조화를 이루는 아름다운 곳으로 도시생활의 피로를 풀기 위해 많은 사람들이 찾아오고 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:1644-2468" class="tp-tel">1644-2468</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature04.jpg" alt="저수지와 낚시터">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">저수지와 낚시터</h3>
								<p class="tp-point">아산의 유명 등산로와 낚시터</p>
							</dt>
							<dd>
								<p class="tp-time">약 15분 소요 (12.44km 거리 위치)</p>
								<p>냉정낚시터, 도고낚시터, 동암낚시터, 문방낚시터, 봉재낚시터, 상성낚시터, 성내낚시터, 신봉낚시터, 송악낚시터, 신수리낚시터, 쌍용낚시터, 월랑낚시터, 잔실낚시터, 죽산낚시터</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature05.jpg" alt="피나클랜드">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">피나클랜드</h3>
								<p class="tp-point">물,빛,바람을 주제로 한 다목적 테마파크</p>
							</dt>
							<dd>
								<p class="tp-time">약 20분 소요 (15.43km 거리 위치)</p>
								<p>자연과 문화의 어울림 속에 여유로운 휴식과 새로움을 추구하는 피나클랜드, 피나클은 '최정상의 땅'이라는 뜻을 가지고 있다. 정상에 올라 바라보면, 아산만과 서해바다의 아름다운 풍경이 눈 앞에 시원하게 펼쳐지고 주제별로 나뉘어진 특색있는 소정원과 산책로, 넓은 잔디광장, 친근한 동물들과의 만남, 전망대와 시원한 폭포의 진경산수, 빛과 바람을 이용한 조형물 '태양의 인사'가 관광객을 맞이한다. 피나클랜드는 가족나들이, 현장학습, 문화체험 등의 다채로운 이벤트가 가능한 복합문화공간으로 기대되는 곳이기도 하다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-534-2580" class="tp-tel">041-534-2580</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature06.jpg" alt="세계꽃식물원">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">세계꽃식물원</h3>
								<p class="tp-point">다른곳보다 한 달 이상 일찍이 계절 꽃을 감상할 수 있는</p>
							</dt>
							<dd>
								<p class="tp-time">약 20분 소요 (15.10km 거리 위치)</p>
								<p>세계 꽃 식물원은 2004년 3월 20일 17,000여㎡의 유리온실을 리모델링하여 세계 유명 꽃 1천여 종을 한데 모은 초대형 실내 식물원이다. 1만5,000여의㎡ 화훼단지 내에 연중 다양한 테마별 꽃과 식물을 관람할 수 있도록 식물원을 꾸며 1년 내내 20가지 테마의 꽃 축제를 개최하는 꽃 식물원으로서 동백, 튤립, 베고니아, 백합 등을 테마로 국내에 소개되지 않은 세계 각국의 아름다운 꽃들을 매달 새롭게 체험할 수 있는 곳이다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-544-0747" class="tp-tel">041-544-0747</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature07.jpg" alt="영인산자연휴양림">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">영인산자연휴양림</h3>
								<p class="tp-point">서해바다,삽교천,아산만방조제와 아산시가지를 한눈에 볼 수 있는</p>
							</dt>
							<dd>
								<p class="tp-time">약 20분 소요 (12.36km 거리 위치)</p>
								<p>영인면 아산리 일원에 위치하고 있는 영인산은 예로 부터 산이 영험하다 하여 영인산이라 부르고 있고 정상에 백제 초기의 석성으로 추정되는 영인산성이 위치하고 있으며 "민족의 시련과 영광의 탑"이 세워져 있다. 산 정상에 서면 서해바다, 삽교천, 아산만방조제와 아산시가지를 한눈에 볼 수 있다. 또한 국민휴식공간으로 시에서 조성한 자연 휴양림이 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:1577-6611" class="tp-tel">1577-6611</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature08.jpg" alt="왜목일출">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">왜목일출</h3>
								<p class="tp-point">서해바다 일출의 명소 당진 왜목마을</p>
							</dt>
							<dd>
								<p class="tp-time">약 1시간 20분 소요 (63.41km 거리 위치)</p>
								<p>왜목마을은 충남 당진시 서해의 최북단에 위치하고 있는 마을이다. 마을의 이름 ‘왜목’은 마을의 지형이 바다로 왜가리 목처럼 가늘고 길게 뻗어나갔다 해서 붙여진 이름이다. 마을이름에서 상상할 수 있듯이 이 마을은 지형적으로 바다를 동서로 양분하면서 당진시의 최북단 서해바다로 가늘고 길게 뻗어나간 특이한 지형을 하고 있다. 이와 같은 지리적 특성 때문에 해 뜰 무렵 마을의 바닷가에서 동쪽을 바라보면 서해바다의 일출을 감상할 수 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature09.jpg" alt="서해대교">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">서해대교</h3>
								<p class="tp-point">당진시의 랜드마크 서해대교</p>
							</dt>
							<dd>
								<p class="tp-time">약 50분 소요 (43.27km 거리 위치)</p>
								<p>호주 시드니의 하버브릿지, 미국 센프란시스코의 금문교(Golden gate bridge), 부산의 광안대교, 인천의 인천대교 등 대도시의 랜드마크 구실을 하고 있는 다리들은 공사기간만 해도 수년을 헤아리는 대규모 난공사의 현장으로도 유명하다. 1993년 11월 착공하여 2000년 11월까지 7년의 공사 끝에 완공됨으로써 당진시의 랜드마크로 떠오른 서해대교는 총연장 353km의 서해고속도로 건설공사 구간 중 가장 큰 난공사 구간이었으며, 완공 후 서해고속도로의 명물로 자리 잡았다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature10.jpg" alt="난지섬해수욕장">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">난지섬해수욕장</h3>
								<p class="tp-point">해수욕과 레프팅, 갯바위낚시를 한곳에서</p>
							</dt>
							<dd>
								<p class="tp-time">약 1시간 25분 소요 (71.08km 거리 위치)</p>
								<p>난초와 지초가 많이 자생한다 하여 난지섬로 이름 붙여진 이 섬은 도비도 선착장에서 여객선을 타고 가야한다. 여객선을 타고 대난지섬로 향하면 경관이 아름답기로 유명한 서해의 다도해 풍경 속으로 들어가는 것. 여객선에서 서해의 푸른 바다에 기암괴석을 거느린 크고 작은 섬들을 구경하다 보면 유람선을 타고 관광을 하는 듯 착각에 빠질 정도다. 서해의 다도해 풍경을 감상하다 보면 어느새 반달모양으로 해안을 감싸고 있는 송림과 백사장이 펼쳐진 섬 안의 해수욕장에 닿게 된다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature11.jpg" alt="제방질주(방조제)">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">제방질주(방조제)</h3>
								<p class="tp-point">당진의 3대 방조제</p>
							</dt>
							<dd>
								<p class="tp-time">약 30분 소요 (25.40km 거리 위치)</p>
								<p>당진시에는 1970년대 처음으로 건설된 삽교호방조제를 비롯하여 당진시 송산면과 석문면을 잇는 석문방조제와 당진시 석문면과 서산시 대산면을 잇는 대호방조제 등 3개의 방조제가 있다. 완공 후 당진시의 명소이자 전국적 관광지로 명성 높은 삽교호방조제를 비롯하여 석문·대호방조제 또한 당진시의 관광명소로서 당진의 3대 제방을 연계하여 질주하는 드라이브코스로 이름나 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature12.jpg" alt="솔뫼성지">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">솔뫼성지</h3>
								<p class="tp-point">숲속을 거닐다</p>
							</dt>
							<dd>
								<p class="tp-time">약 45분 소요 (25.63km 거리 위치)</p>
								<p>당진시 우강면 솔뫼로 132에 위치하고 있는 솔뫼성지는 우리나라 최초의 신부인 안드레아 김대건 신부가 출생한 곳으로 그의 생가와 동상, 기념관이 있는 곳이다. 국내 제1의 가톨릭 성지로 명성 자자 한 이곳은 1984년 5월 한국천주교 200주년을 기념하기 위해 내한한 교황요한바오로 2세로부터 그가 성인으로 시성된 후 전세계 카톨릭 교회의 공경의 대상이 됨에 따라 역사적으로나 종교적으로 중요한 문화유적으로 순례자들의 발길이 끊이지 않는 곳이다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature13.jpg" alt="도비도해양체험">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">도비도해양체험</h3>
								<p class="tp-point">바다와 육지를 넘나드는 최고의 체험지</p>
							</dt>
							<dd>
								<p class="tp-time">약 1시간 25분 소요 (71.36km 거리 위치)</p>
								<p>도비도 앞바다는 썰물 때 갯벌이 바다 쪽으로 길게 갈라져 마치 모세의 기적을 연출하는 무창포의 갯벌과 비슷한 광경을 볼 수 있는 곳이다. 물 빠진 갯벌을 따라 바다 깊숙이 들어 갈 수 있는 것이 도비도 갯벌의 특성. 때문에 다양한 바다생물의 생태체험도 하면서 조개, 게, 고동, 낙지 등 수산시장에서 사먹던 수산물을 이곳에서 직접 잡아볼 수 있다. 이 때문에 주말과 휴일이면 도비도 갯벌은 시장에서 사먹는 다양한 해산물들이 어떻게 살고 있는지, 어떻게 잡아야 하는지, 궁금한 아이들을 앞세운 도시민들로 붐빈다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature14.jpg" alt="삽교함상공원">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">삽교함상공원</h3>
								<p class="tp-point">보고 체험할 수 있는 군함테마공원</p>
							</dt>
							<dd>
								<p class="tp-time">약 30분 소요 (25.40km 거리 위치)</p>
								<p>당진 최고의 관광지로 이름 높은 삽교호국민관광지 앞바다에 군함이 두 척 떠 있다. 떠 있기만 할 뿐 더 이상 군함으로써의 기능을 상실한 이 배들은 현역시절 민간인 절대 통제구역이었던 함정이다. 퇴역함으로써 국민의 품으로 돌아 온 두 척의 함정 중 한척은 해군과 해병대의 전통과 문화, 무기와 장비들을 직접 보고 체험할 수 있게 리모델링 되었고, 한척은 있는 그대로 전시해 놓아 함정의 진면모를 두루 살펴볼 수 있도록 하고 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature15.jpg" alt="아미망루">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">아미망루</h3>
								<p class="tp-point">내포땅 당진을 한눈에 담을 수 있는 곳 아미산원</p>
							</dt>
							<dd>
								<p class="tp-time">약 1시간 소요 (41.91km 거리 위치)</p>
								<p>아미산(峨嵋山-349m)은 당진시의 명산이다. 산이 위치하고 있는 곳은 당진시 남부에 위치하고 있는 면천면에 있는 산으로 다불산(310m)과 몽산(298m)으로 양 날개를 펼치듯 능선을 뻗어 연봉을 이루는 산이다. 다불산은 서쪽에, 몽산은 남쪽에 위치하고 세 산은 아미산 정상을 기준으로 각각의 산 정상까지 직선거리로 1.6km와 1.5km의 거리를 두고 가깝게 자리하고 있는 지형적 특성을 살려 세 산 모두를 연결하는 원점회귀형 종주코스가 개발되어 있어서 낮은 산이지만 아기자기한 산행을 즐길 수 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature16.jpg" alt="삽교호관광지">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">삽교호관광지</h3>
								<p class="tp-point">서해대교, 호수, 바다가 한눈에</p>
							</dt>
							<dd>
								<p class="tp-time">약 30분 소요 (25.40km 거리 위치)</p>
								<p>1979년 10월 26일 고 박정희 대통령의 마지막 공식행사가 된 유서 깊은 곳으로 우리나라 최고의 관광명소인 서해대교를 비롯하여 호수와 바다를 한눈에 감상할 수 있으며 수산물시장과 함상공원, 해양테마과학관, 친수공간, 놀이동산이 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature17.jpg" alt="왜목관광지">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">왜목관광지</h3>
								<p class="tp-point">바해 뜨고 지는 왜목마을</p>
							</dt>
							<dd>
								<p class="tp-time">약 1시간 20분 소요 (63.20km 거리 위치)</p>
								<p>동해의 일출이 정열적이라면 왜목마을의 일출은 서정적이라 할 수 있다. 하지와 동지를 기준으로 국화도와 장고항 해안선 끝자락 산을 사이에 두고 해돋이를 감상할 수 있으며 해안선을 따라 수변데크가 설치되어 맨발로 해변을 산책할 수 있다. 해가 장고항의 노적봉(남근바위)에 걸리는 11월과 2월이 마치 한폭의 동양화처럼 아름다워 전국의 사진작가들이 많이 찾는다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature18.jpg" alt="도비도 농어촌휴양단지">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">도비도 농어촌휴양단지</h3>
								<p class="tp-point">농어촌 종합체험장</p>
							</dt>
							<dd>
								<p class="tp-time">약 1시간 25분 소요 (71.37km 거리 위치)</p>
								<p>도비도 농어촌 휴양단지는 원래 섬이었으나, 대호방조제를 축조하면서 육지로 변한 곳으로 도시민과 농어민의 교류센터로 환경 농업의 산 교육장이다. 주말이면 조개, 게, 고둥, 소라, 낙지 등을 잡기 위해 많은 사람들이 찾고 겨울에는 풍부한 먹이를 찾아 많은 철새들이 몰려와 장관을 이룬다. 단지내에는 숙박시설(95개실)과 세미나실, 전망대, 유람선 선착장, 암반해수탕, 조각공원 편의시설이 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature19.jpg" alt="아그로랜드 태신목장">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">아그로랜드 태신목장</h3>
								<p class="tp-point">푸른 초원에서 느낄 수 있는 아름다운 추억</p>
							</dt>
							<dd>
								<p class="tp-time">약 45분 소요 (33.08km 거리 위치)</p>
								<p>아그로랜드 태신목장은 한국 낙농업의 태동기에 설립되어 지금에 이르기까지 축산업의 발전을 위해 땀 흘려 노력해 온 목장이다. 국내 최초 '낙농체험목장' 인증을 받아 2004년부터 목장을 개방하여 젖소와 가축 그리고 목장을 체험할 수 있게 되었다. 푸른 초원에서 느낄 수 있는 목가적인 풍경과 살아 숨 쉬는 대자연속에서 사람과 공존하는 동물들의 삶을 경험할 수 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-356-5342" class="tp-tel">041-356-5342</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/nature20.jpg" alt="송악스머프마을">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">송악스머프마을</h3>
								<p class="tp-point">버섯과 정겨움이 있는 산속 청정!</p>
							</dt>
							<dd>
								<p class="tp-time">약 45분 소요 (33.08km 거리 위치)</p>
								<p>본래 온양군 남사면의 지역으로서 산이 매우 크므로 거상골, 거산 또는 변하여 거상골이라 하는데 1914년 행정구역 폐합에 따라 용두원, 성동, 구만리를 병합하여 거산리라 하여 아산면 송악리에 편입되었다. 공주시와 접하고 국도 39호선이 관통하는 해발110-430ｍ에 이르며 거산1리에 위치한 전형적 산골형 마을이다. 전답농과 버섯재배를 주요 수입원으로 삼고 있으며 버섯 종균 배양시설 및 재배사 운영, 사슴을 사육하는 농가가 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-543-2360" class="tp-tel">041-543-2360</a> 
								</p>
							</dd>
						</dl>
					</div>
				</div>
				<!--tourplace_3-->
				<!--tourplace_4-->
				<div class="tourplace tourplace_4" style="display: block;">
					<h2 class="tp-tit">기타관광지</h2>
					
					<div class="tp-area fir">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/etc01.jpg" alt="이순신종합운동장">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">이순신종합운동장</h3>
								<p class="tp-point">시민의 행복과 건강을 최우선으로</p>
							</dt>
							<dd>
								<p class="tp-time">약 6분 소요 (1.95km 거리 위치)</p>
								<p>아산 시민의 행복과 건강을 최우선으로 생각하여 만들어진 이순신 종합운동장은 주경기장, 보조경기장, 농구장, 배드민턴장, 건강 스포츠교실(댄스스포츠, 에어로빅, 헬스) 등 종합적인 체육시설을 운영·관리 하고 있다. 각종 체육 문화 행사를 개최하여 아산 최고의 종합스포츠 공간으로 자리잡고 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-537-3931" class="tp-tel">041-537-3931</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/etc02.jpg" alt="외암민속마을">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">외암민속마을</h3>
								<p class="tp-point">사람사는 따뜻한 온기가 느껴지는 순박한 전통마을</p>
							</dt>
							<dd>
								<p class="tp-time">약 10분 소요 (6.08km 거리 위치)</p>
								<p>국가지정 중요민속자료 제236호로 (1999년 12월 28일) 국가에서 지정 보호하고 있는 마을로 약5백년 전에 이 마을에 정착한 예안 이씨 일가가 지금까지 주류를 이루어 살고 있다. 문중에 걸출한 인물들이 많아서 큰집이 들어서기 시작했고 지금도 옛 모습을 간직한 집들의 이끼 낀 돌담을 돌면 이 마을의 역사를 짐작할 수 있는데 돌담너머로 집집 마다 뜰 안에 심어 놓은 과일나무 및 마을 입구의 장승을 비롯하여 조선시대의 생활상을 엿볼 수 있는 디딜방아, 연자방아, 물레방아, 초가지붕 등이 보존되어 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-541-0848" class="tp-tel">041-541-0848</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/etc03.jpg" alt="온양민속박물관">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">온양민속박물관</h3>
								<p class="tp-point">선인들의 살아온 발자취와 민속자료가 가득한</p>
							</dt>
							<dd>
								<p class="tp-time">약 3분 소요 (1.71km 거리 위치)</p>
								<p>권곡동에 위치한 온양민속박물관은 우리민족이 살아온 발자취와 민속자료들을 입체적으로 전시하여 우리 고유 전통문화의 정취를 느껴보게 하고 세계속에 한국문화의 독창성을 선양할 수 있는 산 교육장으로 72,600㎡의 대지에 건립되었다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-542-6001" class="tp-tel">041-542-6001</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/etc04.jpg" alt="옹기발효음식 전시체험관">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">옹기발효음식 전시체험관</h3>
								<p class="tp-point">선조들의 지혜로운 삶과 발자취를 직접 느낄 수 있는</p>
							</dt>
							<dd>
								<p class="tp-time">약 20분 소요 (13.50km 거리 위치)</p>
								<p>아산시의 옹기 및 발효음식 전시체험관은 아산의 자랑인 옹기와 함께 다양한 전통 음식문화를 충남 옹기의 본고장인 도고면 신언리에서 만날 수 있다. 옹기의 역사, 옹기문화 이해와 정보제공, 옹기제작과정, 옹기의 과학성 등을 소개함으로 옹기 우수성을 알리고 실생활에서 활용할 수 있는 다양한 옹기 인테리어 제품을 감상할 수 있으며 옹기가마를 통해 원하는 데로 직접 옹기를 구울 수 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-549-0075" class="tp-tel">041-549-0075</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/etc05.jpg" alt="아산레일바이크와 코미디홀">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">아산레일바이크 / 코미디홀</h3>
								<p class="tp-point">즐길거리가 가득한 즐거운 아산!</p>
							</dt>
							<dd>
								<p class="tp-time">약 25분 소요 (16.41km 거리 위치)</p>
								<p>아산레일바이크는 왕복 5.5Km에 이르며 소요시간은 약 45분 정도 소요된다. 좌석거리 조절 및 유압브레이크와 안전벨트,자전거 알림벨 및 범퍼, 미끄럼방지 안전 바닥판으로 안전하게 운행된다. 또한 같은 주차장을 이용할 수 있는 가까운 거리에 아산 쇼타임 코미디홀이 있어 개그콘서트 출연진 및 개그맨들의 라이브 개그무대를 관람할 수 있다. 희극인들의 역사를 보여주는 코미디 갤러리와 석양을 바라볼 수 있는 카페도 함께 있다.</p>
								<p class="tp-telbox">
									아산레일바이크 문의전화
									<a href="tel:041-547-7882" class="tp-tel">041-547-7882</a> 
								</p>
								<p class="tp-telbox">
									코미디홀 문의전화
									<a href="tel:041-542-5145" class="tp-tel">041-542-5145</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/etc06.jpg" alt="도고컨트리클럽">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">도고컨트리클럽</h3>
								<p class="tp-point">유서깊은 관광지를 끼고 유명 온천휴양지에 자리잡은</p>
							</dt>
							<dd>
								<p class="tp-time">약 25분 소요 (13.78km 거리 위치)</p>
								<p>유서깊은 관광지를 끼고 유명 온천휴양지에 자리잡은 도고컨트리클럽은 1972년 11월 24일 창립하여 총면적 904,536㎡에 정규18홀 규모를 갖추고 서울에서 경부고속도로를 이용하여 약 1시간30분, 서해안고속도로를 이용하여 1시간 정도 소요되는 광역수도권내에 위치하고 있는 도고컨트리클럽은 오랜 전통과 함께 폭이 넓고 긴 페어웨이와 잘 다듬어진 그린으로 전 코스가 시원스러우며 완만해 남녀노소 라운딩에 큰 무리가 없는 코스이나, 생각보다는 쉽지않은 아기자기하고 매력있는 명문 골프장이다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-542-4411" class="tp-tel">041-542-4411</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/etc07.jpg" alt="기지시줄다리기박물관">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">기지시줄다리기박물관</h3>
								<p class="tp-point">500년 전통 중요무형문화재 제75호</p>
							</dt>
							<dd>
								<p class="tp-time">약 40분 소요 (38.13km 거리 위치)</p>
								<p>당진시 송악읍 기지시리에 위치한 『기지시 줄다리기 박물관』에는 우리의 소중한 문화유산인 『기지시줄다리기』는 물론 우리나라전통적인 줄다리기와 해외의 줄다리기 문화에 대해서도 전시 및 소개를 해놓았다. 박물관 내에는 줄다리기에 대한 각종 자료는 물론 줄다리는 체험시설과 60~70년대의 저자거리를 연출해 놓고 있어 가족과 함께 방문하여 역사문화를 체험하며 즐기기에 좋은 곳이다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:041-350-3114" class="tp-tel">041-350-3114</a> 
								</p>
							</dd>
						</dl>
					</div>
				</div>
				<!--tourplace_4-->
				<!--tourplace_5-->
				<div class="tourplace tourplace_5" style="display: none;">
					<h2 class="tp-tit">추천관광코스</h2>
					
					<div class="tp-area fir">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/course01.jpg" alt="생태학습코스">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">생태학습코스</h3>
								<p class="tp-point">온양온천역 출발 → 신정호관광지(1시간) → 점심(1시간) → 생태곤충원/장영실과학관전망대(1시간) → 현충사(1시간) → 온양온천역 도착</p>
							</dt>
							<dd>
								<p>온양온천 권역엔 아이들과 함께할 수 있는 관광지가 즐비합니다.</p>
								<p>신정호 관광지에는 토끼와 양, 수생식물전시장, 체육공원, 음악분수, 조가공원 등이 있어 잔디밭을 뛰어놀기도 하고 동물 먹이주기 체험과 호숫가 산책, 야외바베큐 장에선 간단한 음식을 조리해먹을 수도 있다.</p>
								<p>환경과학공원에 위치한 장영실과학관은 아이들의 과학적 상상과 호기심을 충족시켜줄 수 있는 각종 실험들이 즐비하고, 4D영상관에서는 장영실과 관련된 영상을 상영하고 있어 꼭 한 번 체험해볼만하다.</p>
								<p>생태곤충원은 소각장에서 나오는 열을 이용해 겨울에도 25도를 유지하는데, 다양한 허브식물과 타란튤라, 전갈, 미어캣 등 40여종의 살아있는 곤충이 전시되어 있고 직접 만져볼 수 있어 체험학습장으로 큰 역할을 한다. 바로 옆의 그린타워 전망대에서는 150m 상공에서 아래를 내려다보는 짜릿한 경험 또한 만끽할 수 있다.</p>
								<p>마지막으로 이순신장군의 얼이 살아숨쉬는 현충사로 가면, 잘 조성된 조경과 경관, 은행나무길을 만나볼 수 있으며, 이순신기념관이 최근 건립되어 각종 전시물과 영상 또한 만나볼 수 있다. 그야말로 아이들의 생태학습을 위한 꽉찬 1일 코스라 할 수 있다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:1577-6611" class="tp-tel">1577-6611</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/course02.jpg" alt="시간여행코스">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">시간여행코스</h3>
								<p class="tp-point">온양온천역 출발 → 봉곡사(40분) → 외암민속마을(1시간) → 점심(1시간) → 맹씨행단(40분) → 온양민속박물관(1시간) → 온양온천욕</p>
							</dt>
							<dd>
								<p>아산의 청정지역인 송악면에는 웰빙마을, 울창한 숲, 호숫길 등 명승지를 품은 둘레길 천년의 숲길이 조성되어 있는데, 봉곡사 입구의 울창한 소나무숲을 호젓이 걸어 올라가면 신라 진성여왕때 도선국사가 창건한 천년고찰 봉곡사를 만날 수 있다. 기와불사 받은 기와가 올려 진 대웅전에선 소박한 꿈을 엿볼 수 있다.</p>
								<p>살아있는 민속박물관인 외암민속마을 엔 조선시대 생활상을 살펴볼 수 있는 민속관이 있으며, 주민들이 실제 살고 있는 km 돌담길로 이어진 마을 또한 둘러볼 수 있다. 고택, 돌담길, 전통 정원들이 잘 보존되어 수많은 영화 및 드라마 촬영지로도 알려져 있다.</p>
								<p>조선 초 정승을 지낸 맹사성의 옛집을 부르는 이름이자 우리 나라에서 가장 오래된 살림집인 맹씨행단에는 맹사성이 심은 은행나무와 고택, 세덕사, 구괴정, 기념관 등이 있다. 청렴한 그의 정신을 돌아볼 수 있다.</p>
								<p>온양민속박물관은 외암마을과는 또다른 볼거리를 제공하는데, 조상의 생활상을 그대로 재현해 놓은 2만여 점의 민속품을 소장하고 있어 농어업, 민속공예, 세시풍속과 놀이 등의 실내전시장과 야외전시 및 공원까지 볼거리가 풍부하다.</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:1577-6611" class="tp-tel">1577-6611</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/course03.jpg" alt="레일바이크코스">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">레일바이크코스</h3>
								<p class="tp-point">온양온천역 출발 → 신정호관광지(1시간) → 점심(1시간) → 옹기체험관(1시간) → 레일바이크(1시간) → 세계꽃식물원(1시간) → 도고온천욕</p>
							</dt>
							<dd>
								<p>신정호 관광지에는 토끼와 양, 수생식물전시장, 체육공원, 음악분수, 조가공원 등이 있어 잔디밭을 뛰어놀기도 하고 동물 먹이주기 체험과 호숫가 산책, 야외바베큐 장에선 간단한 음식을 조리해먹을 수도 있다.</p>
								<p>옹기체험관은 예약을 통해 옹기제작체험이나 청국장쿠키만들기, 장아찌주먹밥 등 발효음식 담그기 체험을 해볼 수 있다.</p>
								<p>세계꽃식물원은 사계절 내내 세계 각국의 원예종 식물들과 구근식물들을 만나볼 수 있는 국내 최대규모 실내식물원으로 꽃 손수건과 액자만들기, 새 먹이주기, 꽃비빔밥, 허브 등의 웰빙체험도 할 수 있다.</p>
								<p>또한 장항선 폐철도를 활용해 조성된 레일바이크를 가족과 함께 호젓한 벌판을 배경으로 한바탕 구르고나면 청량함과 화합을 도모할 수도 있다.</p>
								<p>그렇게 쌓인 피로를 온천욕으로 풀고나면 체험으로 가득찬 도고온천 코스 완주 !</p>
								<p class="tp-telbox">
									문의전화
									<a href="tel:1577-6611" class="tp-tel">1577-6611</a> 
								</p>
							</dd>
						</dl>
					</div>
					
					<div class="tp-area">
						<div class="tp-imgbox">
							<img src="http://img.bscondo.co.kr/tourplace/course04.jpg" alt="초록힐링코스">
						</div>
						<dl class="tp-txtbox">
							<dt>
								<h3 class="tpsub-tit">초록힐링코스</h3>
								<p class="tp-point">온양온천역 출발 → 공세리성당(1시간) → 피나클랜드(1시간) → 점심(1시간) → 영인산 산림/박물관 수목원/휴양림 → 아산온천욕</p>
							</dt>
							<dd>
								<p>공세리성당에는 병인박해 당시의 유물과 유품 및 대전교구 최초의 감실을 비롯 1,500여 점의 유물을 간직하고 있는 성지 박물관이 있다. 성당주위에는 삼백 년 이상된 보호수 일곱 그루와 피정의 집이 있으며, 각종 영화나 드라마 촬영지로 각광받고 있다.</p>
								<p>피나클랜드는 바람, 물, 빛을 주제로 특색있는 소정원과 산책로, 넓은 잔디광장, 친근한 동물과의 만남이 있는 다목적 테마파크로 전망대에 오르면 서해대교가 한눈에 들어오고 마차타기, 승마체험 등 다양한 체험활동도 할 수 있다.</p>
								<p>영인산자연휴양림은 맑은 깨끗한 자연과 함께 편의시설 및 놀이시설이 잘 갖추어진 휴양지로 통나무로 만든 숲 속의 집, 수목 유전자원의 보존과 자연학습장 역할을 하는 수목원, 산림과 임업의 자료 연구 및 전시를 안내하는 산림박물관 등을 동시에 만날 수 있고, 최근 포레스트 어드벤처와 짚라인 어드벤처가 설치되어 이색스포츠 또한 경험할 수 있다.</p>
								<p>초록으로 힐링된 후에는 아산온천에 들러 온천욕을 하여 피로를 풀고나면 아산온천 초록힐링코스도 완주!</p>
								<!-- p>
									공세리성당에는 병인박해 당시의 유물과 유품 및 대전교구 최초의 감실을 비롯 1,500여 점의 유물을 간직하고 있는 성지 박물관이 있다. 성당주위에는 삼백 년 이상된 보호수 일곱 그루와 피정의 집이 있으며, 각종 영화나 드라마 촬영지로 각광받고 있다.<br><br>
									피나클랜드는 바람, 물, 빛을 주제로 특색있는 소정원과 산책로, 넓은 잔디광장, 친근한 동물과의 만남이 있는 다목적 테마파크로 전망대에 오르면 서해대교가 한눈에 들어오고 마차타기, 승마체험 등 다양한 체험활동도 할 수 있다.<br><br>
									영인산자연휴양림은 맑은 깨끗한 자연과 함께 편의시설 및 놀이시설이 잘 갖추어진 휴양지로 통나무로 만든 숲 속의 집, 수목 유전자원의 보존과 자연학습장 역할을 하는 수목원, 산림과 임업의 자료 연구 및 전시를 안내하는 산림박물관 등을 동시에 만날 수 있고, 최근 포레스트 어드벤처와 짚라인 어드벤처가 설치되어 이색스포츠 또한 경험할 수 있다<br><br>
									초록으로 힐링된 후에는 아산온천에 들러 온천욕을 하여 피로를 풀고나면 아산온천 초록힐링코스도 완주!
								</p -->
								<p class="tp-telbox">
									문의전화
									<a href="tel:1577-6611" class="tp-tel">1577-6611</a> 
								</p>
							</dd>
						</dl>
					</div>
				</div>
				<!-- tourplace_5 -->
			</section>
		</div>
		
		
		<!-- 이용약관/개인정보처리방침 팝업 -->
		<div class="layer-pop-bg privacy-bg" id="privacy-bg">
			<!--이용약관-->
			<div class="term-wrap cm-s" >
				<div class="d-top"><strong>이용약관</strong><a href="javascript:;" class="a-i-x a-x" onclick="$('#privacy-bg, #privacy-bg .term-wrap').hide(); $('body').css('overflow', 'auto');"></a></div>
				<div class="d-cont">
					<div class="txt">
						<strong class="title">제 1 조 (목적)</strong>
						<ol>
							<p>(1) 본 규정은 (주)비에스투어앤리조트 도고콘도가 제공 하는 온라인회원의 이용조건, 회원가입에 관련된 사항 및 절차 그리고 기타 필요한 사항을 규정함을 목적으로 합니다.</p>
						</ol>
						<strong class="title">제 2 조 (약관의 효력 및 변경)</strong>
						<ol>
							<li>(1) 본 약관은 전기통신사업법 제31조, 동법 시행규칙 제21조의 2에 따라 공시 절차를 거친 후 서비스 화면에 게시하거나 전자우편, 기타의 방법으로 회원에게 통지함으로써 효력을 발생합니다.</li>
							<li>(2) (주)비에스투어앤리조트 도고콘도는 사이트운영과 영업상의 중요 사유가 있을 때 본 약관을 변경할 수 있으며, 변경된 약관은 회사 웹사이트를 통해 온라인회원에게 공시함으로써 효력이 발생합니다. </li>
						</ol>

						<strong class="title">제 3 조 (약관외 준칙)</strong>
						<ol>
							<li>본 약관에 명시되지 않은 사항이 관계법령에 규정되어 있을 경우에는 그 규정에 따릅니다. </li>
						</ol>

						<strong class="title">제 4 조 (개인 정보의 수집목적 및 이용목적)</strong>
						<ol>
							<li>(주)비에스투어앤리조트 도고콘도(이하 "회사" 라 칭한다)는 온라인회원(이하 "도우미" 이라 칭한다)를 모집하여 저렴한 가격에 리조트 및 렌터카(이하 사업부문)를 예약 할 수 있도록 하고, 영업과 관련된 다양한 정보를 제공함으로써 회사와 회원간의 상호 유대관계 를 통하여 영업의 활성화 및 레져산업 발전을 그 목적으로 한다.</li>
						</ol>
						<strong class="title">제 5 조 (용어의 정의)</strong>
						<ol>
							<li>본 약관에서 사용하는 용어의 정의는 다음과 같습니다. </li>
							<li>(1) 온라인회원 : 회원가입을 신청하고 회사가 이를 승낙하여 회원 ID를 발급 받은자를 말하며 사업부문을 이용시 특별할인과 다양한 혜택을 제공 받을 수 있는 사이버 네티즌을 말합니다. </li>
							<li>(2) 회 원 I D : 이용자 식별과 서비스 이용을 위하여 회원이 선정하고 회사가 부여하는 문자와 숫자의 조합을 말합니다.</li>
							<li>(3) 비 밀 번 호 : 이용자와 회원 ID가 일치하는지를 확인하고 통신상의 자신의 비밀보호를 위하여 회원 자신이 선정한 문자와 숫자의 조합을 말합니다. </li>
							<li>(4) 해지 및 탈퇴 : 회사 또는 회원이 서비스 개통 후에 그 이용계약을 종료시키는 의사 표시를 말합니다.</li>
						</ol>
						<strong class="title">제 6 조 (회원가입절차,회사의승낙 및 이용계약의 성립)</strong>
						<ol>
							<li>(1) 가입신청은 회사 홈페이지의 회원가입 양식에 따라 기록하여 신청합니다.</li>
							<li>(2) 회원에 가입해서 서비스를 이용하고자 하는 자는 회사 홈페이지에서 회원가입양식에 따라 회사에서 요청하는 개인 신상정보를 제공해야 합니다.</li>
							<li>(3) 회사는 다음 각 호에 해당하는 서비스 가입신청에 대하여 이를 응낙하지 아니합니다. </li>
							<li>① 신청서의 내용을 허위로 기재하였거나 다른 사람의 명의를 도용하여 신청하였을 때</li>
							<li>② 사회의 안녕 질서 및 미풍양속을 저해할 목적으로 신청하였을 때 </li>
							<li>③ 회사 홈페이지를 상업적으로 이용할 목적으로 신청하였을 때 </li>
							<li>④ 회사가 정한 개인 신용불량거래자가 신청하였을 때 </li>
							<li>⑤ 회사의 서비스를 이용하기 위한 요건이 미비 되었을 때 </li>
							<li>⑥ 기타 회사의 사이트 운영에 지장을 초래할 수 있다고 간주할 때 </li>
						</ol>
						<strong class="title">제 7 조 (개인정보의 보유기간)</strong>
						<ol>
							<li>등록된 개인정보는 회사에서 관리하며 개인정보의 보유기간은 가입한 시점후 등록 해지(탈퇴)하는 시점까지로 합니다.</li>
						</ol>
						<strong class="title">제 8 조 (서비스 내용)</strong>
						<ol>
							<li>회사는 이용자에게 회사의 제반시설 사용시 요금할인, 이메일을 활용한 정보제공 등의 서비스를 제공하며, 구체적인 혜택 및 서비스에 대한 내용은 회원 가입혜택란에 게시합니다. 다만, 게시내용은 회사의 사정에 따라 변동이 있을 수 있습니다.</li>
							<li>(1) 서비스 이용은 제 6 조 3항의 가입신청 제한사유가 없는 한 이용자가 회원 가입을 신청하고 회사가 이를 승낙함으로써 이루어집니다. </li>
							<li>(2) 서비스 이용시간은 회사의 업무상 또는 기술상 특별한 지장이 없는 한 연중 무휴, 1일 24시간을 원칙으로 합니다. 다만, 정기점검 등의 필요로 회사가 정한 날 또는 시간은 예외적으로 서비스 이용을 제한할 수 있습니다. </li>
						</ol>
						<strong class="title">제 9 조 (회사의 의무)</strong>
						<ol>
							<li>(1) 회사는 제 8조 2항에서 정한 사유 이외에는 이 약관에서 정한 바에 따라 계속적,안정적으로 서비스를 제공할 의무가 있습니다. </li>
							<li>(2) 회사는 서비스 제공과 관련하여 취득한 회원의 개인신상정보를 본인의 사전 승낙없이 타인(회사이외의 자)에게 누설 또는 배포할 수 없으며, 회사의 서비스 및 관련 업무 이외의 상업적 목적으로 사용할 수 없습니다. 다만, 다음 각호에 해당하는 경우에는 그러하지 아니합니다. </li>
							<li>① 관계법령에 의해 수사상의 목적으로 관계기관으로부터 요구받은 경우</li>
							<li>② 정보통신윤리위원회의 요청이 있는 경우 </li>
						</ol>
						<strong class="title">제 10 조 (회원의 의무) </strong>
						<ol>
							<li>(1) 회원은 본 약관 및 관계법령을 준수하여야 하며, 기타 회사의 업무수행에 지장을 초래하는 행위를 할 수 없습니다. </li>
							<li>(2) 회원은 서비스를 이용하여 얻은 정보를 회사의 승낙 없이 복사, 복제, 개조, 번역하여 타인에게 제공할 수 없습니다. </li>
							<li>(3) 회원은 주소 및 연락처 등 이용신청사항이 변경된 경우에는 온라인으로 본인이 개인 정보를 수정하거나 전화 등을 통하여 이를 즉시 회사에 알려야 합니다. 또한 이용자의 개인신상정보를 변경하지 않아 발생하는 불이익에 대해서는 회사가 책임지지 않습니다. </li>
							<li>(4) 회원는 회사에서 승낙한 경우를 제외하고는 서비스를 이용하여 영업활동을 할 수 없습니다. </li>
							<li>(5) 회원은 서비스의 이용과 관련하여 다음 각호의 행위를 하여서는 안됩니다.</li>
							<li>① 다른회원의 ID를 부정사용하는 행위</li>
							<li>② 인터넷 예약서비스를 통하여 제공되는 콘도객실을 회원이 예약하여 타인에게 상업적인 목적으로 이용케하는 행위</li>
							<li>③ 범죄행위를 목적으로 하거나 범죄행위를 교사하는 행위 </li>
							<li>④ 선량한 풍속, 기타 사회질서를 저해하는 행위</li>
							<li>⑤ 타인의 명예를 손상시키거나 불이익을 주는 행위</li>
							<li>⑥ 정보통신설비의 오동작이나 정보등의 파괴를 유발시키는 해킹, 컴퓨터 바이러스 프로그램등의 유포행위</li>
							<li>⑦ 타인의 의사에 반하여 광고성 정보등 일정한 내용을 전송하는 행위</li>
							<li>⑧ 서비스의 안정적인 운영에 지장을 주거나, 줄 우려가 있는 일체의 행위 </li>
							<li>⑨ 기타 관련법령이나 회사가 정한 이용조건에 위배되는 경우 </li>
						</ol>
						<strong class="title">제 11 조 (회원정보의 열람 및 변경)</strong>
						<ol>
							<li>회원은 필요시 언제든지 "등록내용변경" 메뉴를 통하여 회원정보를 수시로 열람 할 수 있으며 등록된 정보에 대하여 본인이 직접 수정 할 수 있습니다.</li>
						</ol>
						<strong class="title">제 12 조 (게시물에 대한 권리, 의무, 삭제)</strong>
						<ol>
							<li>게시물에 대한 저작권을 포함한 모든 권리 및 책임은 이를 게시한 회원에게 있으며 고객센터에 10조 5항과 관련된 자료가 게재되었을 경우 운영자의 판단에 의하여 게시물은 삭제 할 수 있습니다.</li>
						</ol>
						<strong class="title">제 13 조 (서비스 이용책임)</strong>
						<ol>
							<li>(1) 회원이 서비스를 이용하여 게시 또는 전송한 자료의 내용에 관하여 발생되는 책임은 회원에게 있습니다. </li>
							<li>(2) 회원에게 통보된 회원 ID와 비밀번호, 신용카드번호, 비밀번호관리 및 이용상의 부주의로 인하여 발생되는 과실 또는 제3자에 의한 부정사용등에 대한 책임은 회원에게 있습니다.
							다만, 회사의 관리상 중과실이 있는 경우에는 그러하지 아니합니다. </li>
						</ol>
						<strong class="title">제 14 조 (서비스의 제한 및 정지)</strong>
						<ol>
							<li>전시, 사변, 천재지변 또는 이에 준하는 국가비상사태가 발생하거나 발생할 우려가 있는 경우와 전기통신사업법에 의한 기간통신사업자가 전기 통신 서비스를 중지하는 등 기타 부득이 한 사유가 있는 경우에는 서비스의 전부 또는 일부를 제한하거나 정지할 수 있습니다.</li>
						</ol>
						<strong class="title">제 15 조 (서비스 해지 및 탈퇴) </strong>
						<ol>
							<li>(1) 회원이 서비스 이용계약을 해지하고자 할 때에는 언제든지 회원 탈퇴가 가능 하며 본인이 직접 "등록내용변경" 메뉴를 통하여 탈퇴신청을 할 수 있습니다. </li>
							<li>탈퇴와 함께 회원에 관련된 모든 서비스는 이용하실 수 없습니다.</li>
							<li>(2) 회사는 이용자가 제 10조에서 규정한 회원의무를 위반하는 경우에는 회원 본인에게 제공되는 서비스를 즉시 중단할 수 있으며, 임의로 회원 자격을 박탈할 수 있습니다. </li>
							<li>(3) 제 2항에 의해 해지된 회원에 대하여는 일정기간 재 가입을 제한할 수 있습니다. </li>
						</ol>
						<strong class="title">제 16 조 (손해배상)</strong>
						<ol>
							<li>회사는 무료로 제공되는 서비스와 관련하여 회원에게 어떠한 손해가 발생 하더라도 동 손해가 회사의 중과실에 의한 경우를 제외하고 이에 대한 책임을 부담하지 아니합니다.</li>
						</ol>
						<strong class="title">제 17 조 (회사의 면책조항) </strong>
						<ol>
							<li>(1) 회사는 회원이 서비스에 게재한 정보, 자료, 사실의 정확성, 신뢰성 등 그 내용에 관하여는 어떠한 책임을 부담하지 아니하며, 회원은 자기의 책임아래 서비스를 이용합니다. </li>
							<li>(2) 회원은 회사에서 제공하는 서비스를 이용했을 경우 이에 대한 모든 책임은 회원에게 있으며 회원은 회사를 상대로 서비스에 대한 이의를 제기 할 수 없으며 이에 대한 모든 책임은 회원에게 있습니다. </li>
							<li>(3) 회원이 회사의 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나 서비스 자료에 대한 선택 또는 이용으로 발생하는 불이익에 대하여 회사는 책임을 지지 아니합니다. </li>
							<li>(4) 회사는 회원들의 귀책사유로 인한 서비스 이용 장애에 대하여 책임을지지 아니합니다.</li>
							<li>(5) 회사는 회원이 게시 또는 전송한 자료의 내용에 관하여는 책임을 지지 아니 합니다. </li>
							<li>(6) 회사는 회원 상호간 또는 회원과 제3자 상호간에 서비스를 매개로 하여 물품거래 등을 한 경우에는 책임을 지지 아니합니다. </li>
						</ol>
						<strong class="title">제 18 조 (분쟁의 조정) </strong>
						<ol>
							<li>본 계약내용에 대한 이의 발생시 회사와 회원은 관계법령 및 상 관례에 따라 서로 협의하여 호혜적 차원에서 결정하며, 협의가 성립되지 아니할 때에 관할법원은 (주)비에스투어앤리조트 도고콘도 소재지 관할법원으로 합니다.</li>
						</ol>
					</div>
				</div>
			</div>
			
			<!-- 개인정보처리방침 -->
			<div class="privacy-wrap cm-s">
				<div class="d-top"><strong>개인정보 취급방침</strong>
					<a href="javascript:;" class="a-i-x a-x" onclick="$('#privacy-bg, #privacy-bg .privacy-wrap').hide(); $('body').css('overflow', 'auto');"></a>
				</div>
				<div class="d-cont">
					본 개인정보취급방침은 (주)비에스투어앤리조트 도고콘도의 인터넷 홈페이지 www.bstnr.com을 이용하는 회원 혹은 비회원(이하 통칭하여 "이용자"라 한다)의 개인정보에 대한 관리 및 운영에 관한 내용입니다. <br><br> (주)비에스투어앤리조트 도고콘도는 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 정보통신서비스 제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다. (주)비에스투어앤리조트 도고콘도의 홈페이지 개인정보취급방침은 다음과 같습니다.
					<br><br>
					<strong class="privacy">1. 수집하는 개인정보의 항목 및 수집방법</strong><br> 가) 수집하는 개인정보 항목<br><br> (주)비에스투어앤리조트 도고콘도는 회원가입, 상담, 각종 서비스의 제공을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br> - 로그인ID, 비밀번호, 고객이름, 고객이메일주소, 전화번호<br/>
					<br> 나) 개인정보 수집 방법 (주)비에스투어앤리조트 도고콘도는 서면양식에 서명하거나, (주)비에스투어앤리조트 도고콘도에서 운영하는 홈페이지의 회원가입, 고객센터, 게시판, 이벤트 참여, 전화 및 팩스를 통한 본인확인 제공등의 방법으로 개인정보를 수집합니다. 이용자는 (주)비에스투어앤리조트 도고콘도가 마련한 개인정보취급방침 또는 이용약관의 내용에 대해 「동의」버튼을 클릭함으로써 개인정보 수집에 대하여 동의여부를 표시할 수 있으며, 「동의」버튼을 클릭할 경우에는 개인정보 수집에 동의한 것으로 봅니다. <br><br>

					<strong class="privacy">2. 개인정보의 수집 및 이용목적</strong><br> ① 서비스 제공을 위한 계약의 이행 : 객실예약, 예약 및 결제 정보 전달, 콘텐츠 제공, 금융거래 본인인증 및 금융서비스 등 ② 회원관리 : 회원제 서비스 이용, 본인 식별절차 이용, 가입의사 확인, 불만처리등 민원처리 ③ 마케팅 및 광고 활용 : 신규상품 또는 이벤트 정보 안내<br><br>

					<strong class="privacy">3. 개인정보 제 3자 제공 </strong><br>가. (주)비에스투어앤리조트 도고콘도는 법령에 근거가 있거나 정부의 관련 방침, 지시 등 예외적인 경우를 제외하고는 이용자의 사전 동의없이 이용자의 개인정보를 본 지침상의 정보이용 목적의 범위를 넘어 사용하거나 제3자에게 제공하지 않습니다.<br> 나. (주)비에스투어앤리조트 도고콘도는 회원으로부터 개인정보를 수집하거나 제3자에게 제공할 때에는 회원 동의를 받고 있습니다.<br><br>

					<strong class="privacy">4. 개인정보의 보유 및 이용기간</strong><br> 가. 이용자가 제공한 개인정보는 (주)비에스투어앤리조트 도고콘도가 제공하는 서비스를 받는 동안 (주)비에스투어앤리조트 도고콘도가 보유ㆍ이용하게 됩니다.<br> 나. 단, 회원 본인이 직접 삭제하거나 수정한 정보, 수집목적을 달성한 정보삭제를 요청한 경우에는 재생할 수 없는 방법에 의하여 완전히 삭제하며, 추후 열람이나 이용이 불가능한 상태로 처리합니다.전자상거래등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존하여야 하는 기록은 일정기간 보관 후 파기합니다.<br> - 계약 또는 청약철회 등에 관한 기록 (보존기간 : 5년) : 전자상거래 등에서의 소비자 보호에 관한 법률 <br> - 대금결제 및 재화 등의 공급에 관한 기록 (보존기간 : 5년) : 전자상거래 등에서의 소비자 보호에 관한 법률 <br> - 소비자의 불만 또는 분쟁처리에 관한 기록 (보존기간 : 3년) : 전자상거래 등에서의 소비자 보호에 관한 법률 <br> - 홈페이지 방문에 관한 기록 (보존 기간: 3개월) : 통신비밀보호법 <br> - 이벤트 참여 기록 (보존 기간 : 1년) : 회사 방침으로 정한 정보 보유 사유 <br> - 기타 보유 정보: 정보의 수집 및 이용 목적이 달성된 때<br> 라. 전항의 규정에도 불구하고, 상법, 전자상거래 등에서의 소비자 보호에 관한 법률 등 관계법령의 규정에 따라 보존의 필요성이 있는 경우 혹은 요금의 정산, 소송 등 법적 분쟁에 대비하기 위하여 개인정보에 대한 계속적인 보유의 필요성이 있어 보유목적, 기간, 보유하는 개인정보 항목을 명시하여 고지한 경우 등은 이용자의 개인정보를 보관할 수 있습니다. <br><br>
					<br>
					<strong class="privacy">5. 개인정보 파기방법</strong><br>이용자의 개인정보가 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. <br><br> 가. 파기절차<br> - 이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조)일정 기간 저장된 후 파기됩니다.<br> - 동 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.<br><br> 나. 파기방법<br> - 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.<br> - 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다<br><br>

					<strong class="privacy">6. 아동의 개인정보 및 법정대리인의 권리와 그 행사방법</strong><br> 가. (주)비에스투어앤리조트 도고콘도는 만14세 미만 아동으로부터 개인정보를 수집하거나, 이미 수집된 정보를 제3자에게 제공하거나 동의 받은 범위를 초과하여 사용할 경우에는 법정대리인의 동의를 얻도록 하고 있습니다. 따라서, 만14세 미만의 아동은 본인의 정보를 법정대리인의 동의를 득한 경우에만 등록할 수 있습니다.<br> - 온라인 : 만 14세 미만 어린이에 대한 회원가입을 제한하고 있음.<br> - 오프라인 : 법정대리인 동의시 회원가입 가능<br><br> 나. 만14세 미만 아동의 법정대리인은 아동의 개인정보에 대하여 열람, 정정, 탈퇴, 동의철회를 요청할 수 있으며, 이러한 요청이 있을 경우 (주)비에스투어앤리조트 도고콘도는 법정대리인 등 동일인 여부를 확인 후 지체없이 필요한 조치를 취하겠습니다. <br> 다. 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입 해지를 요청할 수도 있습니다. <br> 라. 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다.<br> - 온라인 : 마이페이지 內 '나의 회원정보'에서 본인 확인절차를 거친후 직접 열람, 정정, 탈퇴가능<br> - 오프라인 : 이용자 및 법정대리인 동의시 회원관리파트 (02-6303-7100)을 통해 열람, 정정, 탈퇴가능<br><br>

					<strong class="privacy">7. 개인정보보호를 위한 기술적 대책</strong><br> 가. (주)비에스투어앤리조트 도고콘도는 이용자의 개인정보를 취급함에 있어 정보의 분실, 도난, 누출, 외부로부터의 공격, 해킹 등을 방지하고 최상의 안전성을 확보하기 위하여 다음과 같은 기술적 대책을 강구하고 있습니다. <br><br> 나. 이용자의 개인정보는 비밀번호에 의해 보호되며, 파일 및 전송 데이터를 암호화하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다. 다. (주)비에스투어앤리조트 도고콘도는 컴퓨터 바이러스에 의한 피해가 발생하지 않도록 백신프로그램을 이용하고 있으며, 백신프로그램에 대한 주기적인 업데이트와 최신화를 기하고 있습니다.<br><br> 라. (주)비에스투어앤리조트 도고콘도는 암호 알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치를 채택하고 있습니다. 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스는 이용에 어려움이 있을 수 있습니다.<br><br> 마. 해킹 등에 의해 이용자의 개인정보가 유출되는 것을 방지하기 위해, 외부침입을 차단하는 보안장치를 이용하고 있으며, 침입탐지시스템을 설치하여 24시간 침입을 감시하고 있습니다. <br><br> 바.이용자의 개인정보를 처리하는 담당인원을 최소한으로 제한하며, 관련 직원에 대해서는 지속적인 보안교육의 실시와 함께 본 정책의 준수여부를 수시로 점검하고 있습니다. <br><br>

					<strong class="privacy">8. 개인정보 자동 수집 장치의 설치/운영 및 거부에 관한 사항</strong>
					<br> (주)비에스투어앤리조트 도고콘도는 이용자의 정보를 자동으로 저장하고 찾아내는 '쿠키(cookie)' 등을 운용합니다. 쿠키란 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. <br><br> 가. 쿠키 등 사용 목적<br> 로그인 식별/고객님의 사용 언어/기존 홈페이지 방문 회수 파악등을 통한 개인 맞춤 서비스 제공등을 위해 쿠키를 운용합니다. 이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다.<br> - 회사 홈페이지는 암호 알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있도록 보안장치를 채택하고 있습니다.<br><br> 나. 쿠키 설정 거부 방법 쿠키 설정을 거부하는 방법으로는 회원님이 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.※ 설정방법 예(인터넷 익스플로러의 경우) 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보취급 수준을 설정하시면 됩니다. 단, 이용자가 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다. <br><br>

					<strong class="privacy">9. 의견 및 불만처리</strong>
					<br>(주)비에스투어앤리조트 도고콘도는 개인정보보호와 관련하여 이용자에게 자유롭게 의견을 개진하고 불만을 토로할 수 있는 창구를 개설하여 운영하고 있습니다. <br> 아래 연락처로 의견이나 불만을 제기하시면 접수 즉시 조치하고, 그 처리결과를 통보하여 드리겠습니다. ▷ 홈페이지 : 『고객센터』을 통하여 접수 <br><br>

					<br> 귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. <br> 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다. <br> - 개인정보침해신고센터 (www.118.or.kr / 118)<br> - 정보보호마크인증위원회 (www.eprivacy.or.kr / 02-580-0533~4)<br> - 대검찰청 첨단범죄수사과 (www.spo.go.kr / 02-3480-2000)<br> - 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 02-392-0330)<br><br>

				</div>
			</div>
		</div>
		
		<div class="clr"></div>
		
		<footer class="footer">
			<div class="container clr">

				<ul class="f_menu">
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .term-wrap').show();">이용약관</a></li>
					<li><a href="javascript:;" onclick="$('#privacy-bg, #privacy-bg .privacy-wrap').show();">개인정보처리방침</a></li>
				</ul>

				<div class="cf-box clr">
					<p class="p-0">&lt;고객센터 안내&gt;</p>
					<div class="cf-in">
						<div class="callFor cf0">
							<span class="f-bd">고객센터 안내</span>
							문의에 따라 해당 고객센터로<br>
							전화주시면,문의사항을<br>
							해결해 드리겠습니다.
						</div>
						<a class="callFor cf1" href="tel:1666-1243">
							<span class="s1">예약문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="hidden-xs">&#40;</span>확정, 변경, 취소<span class="hidden-xs">&#41;</span><span class="show-xs"></span>/이벤트 문의</span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-542-7007</span>
							<span class="s1-2">주중 09~18시<span class="hidden-xs"> </span>/<span class="hidden-xs"> </span>주말 09~17시</span>
						</a>
						<a class="callFor cf2" href="tel:010-8844-0409">
							<span class="s1">프론트</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="hidden-xs">&#40;</span>체크인, 체크아웃<span class="show-xs"></span>시설이용문의<span class="hidden-xs">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 041-428-9422~3</span>
							<span class="s1-2">주중/주말 06시 ~ 23시</span>
						</a>
						<a class="callFor cf3" href="tel:010-8844-0409">
							<span class="s1">단체문의</span>
							<span class="mg-"></span>
							<span class="s1-2"><span class="hidden-xs">&#40;</span>워크샵, 학생단체,<span class="show-xs"></span> 산업단체 등<span class="hidden-xs">&#41;</span></span>
							<span class="s3"><img src="http://img.ocean2you.co.kr/renew/i_call.png" alt="전화아이콘"> 010-8544-8281</span>
							<span class="s1-2">주중/주말 06시 ~ 23시</span>
						</a>
					</div>
				</div>
				
				<div class="flt-1 clr">
					<img class="f-logo" src="http://img.bscondo.co.kr/footer_logo.png" alt="bscond">
				</div>
				<div class="flt-2 clr">
					<address>
						<p class="nth-1">
							BS콘도 도고온천 호텔앤리조트<br>
							주소 : 충청남도 아산시 도고면 기곡로62번길 6-8
							<br>
							사업자등록번호 : 312-86-43769 <span class="i-l"></span> 통신판매업 : 2017-충남아산-0196
							<br>
							<small>COPYRIGHT ⓒ (주)BS콘도 도고온천 호텔앤리조트 ALL RIGHT RESERVED</small>
						</p>
					</address>
					
				</div>
			</div>
		</footer>
	</div>
</body>
</html>