<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>비에스앤리조트도고콘도</title>

	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/m/common.css">
	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/m/gallery/init2.css">
<!--<link rel="stylesheet" type="text/css" href="../../../src/css/m/common.css">-->
<!--<link rel="stylesheet" type="text/css" href="../../../src/css/m/gallery/init2.css">-->

	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script src="../../../src/js/m/common.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	function fnMove(seq){
        var offset = $("#room" + seq).offset();
        $('html, body').animate({scrollTop : offset.top-60}, 400);
    }
	</script>

</head>
<body>

	<h1 class="hidden">비에스투어앤리조트도고콘도</h1>

	<div id="bs-wrap">

		<header class="header">
			<div class="hd-area clr">
				<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/m/logo.png" alt="비에스앤리조트로고"></a>
			</div>

			<button type="button" class="navTab" id="navTab">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<nav class="gNav" id="gNav">
				<ul class="gnb clr">
					<li class="nth-1">
						<a href="">콘도소개</a>
					</li>
					<li class="nth-2">
						<a href="">예약/예약확인</a>
					</li>
					<li class="nth-3">
						<a href="">갤러리</a>
					</li>
					<li class="nth-4">
						<a href="">단체문의</a>
					</li>
					<li class="nth-5">
						<a href="">오시는길</a>
					</li>
				</ul>
			</nav>
		</header>

		<div class="main container cf">
		
			<div class="mt-52"></div>
		
			<section class="main-contents">
				<h2 class="hidden">객실안내</h2>
				<div class="menu_tap clr">
					<ul class="clr">
						<li><a href="javascript:;" onclick="fnMove('01')">디럭스 온돌</a></li>
						<li><a href="javascript:;" onclick="fnMove('02')">디럭스 더블</a></li>
						<li><a href="javascript:;" onclick="fnMove('03')">디럭스 트윈</a></li>
						<li><a href="javascript:;" onclick="fnMove('04')">키즈룸 1</a></li>
						<li><a href="javascript:;" onclick="fnMove('05')">키즈룸 2</a></li>
					</ul>
				</div>
				<div class="d-part">
					<div class="room_wr" id="room01">
						<h3 class="ftfm-nt">디럭스 온돌</h3>
						<table class="drx_txt clr">
							<tr>
								<th>기준인원</th>
								<td>기준4인 / 최대6인</td>
							</tr>
							<tr>
								<th>이용시간</th>
								<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
							</tr>
							<tr>
								<th>객실구성</th>
								<td>침실(1) + 거실(1) + 주방(1) + 욕실(1) </td>
							</tr>	
							<tr>
								<th>객실비품</th>
								<td>일반TV,에어컨,싱크대,조리도구,냉장고,전기밥솥,<br>세면용품,수건 </td>
							</tr>
							<tr>
								<th>인원추가</th>
								<td>1인 10,000원 (현지지불)</td>
							</tr>																					
						</table>
						<div class="txt_Wr">
							<p class="d_txt txt1">* 기준인원 초과시 추가요금 발생됩니다.(1인당 10,000원,36개월 이상)</p>
							<p class="d_txt">* 객실입실과 퇴실시간을 꼭 지켜주세요.</p>
						</div>
						<figure><img src="http://img.bscondo.co.kr/m/gallery/room01.jpg" alt="룸사진"></figure>
					</div>
					
					<div class="room_wr" id="room02">
						<h3 class="ftfm-nt">디럭스 더블</h3>
						<table class="drx_txt clr">
							<tr>
								<th>기준인원</th>
								<td>기준4인 / 최대6인</td>
							</tr>
							<tr>
								<th>이용시간</th>
								<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
							</tr>
							<tr>
								<th>객실구성</th>
								<td>침실(1) + 거실(1) + 주방(1) + 욕실(1) </td>
							</tr>	
							<tr>
								<th>객실비품</th>
								<td>일반TV,에어컨,싱크대,조리도구,냉장고,전기밥솥,<br>세면용품,수건 </td>
							</tr>
							<tr>
								<th>인원추가</th>
								<td>1인 10,000원 (현지지불)</td>
							</tr>																					
						</table>
						<div class="txt_Wr">
							<p class="d_txt txt1">* 기준인원 초과시 추가요금 발생됩니다.(1인당 10,000원,36개월 이상)</p>
							<p class="d_txt">* 객실입실과 퇴실시간을 꼭 지켜주세요.</p>
						</div>
						<figure><img src="http://img.bscondo.co.kr/m/gallery/room02.jpg" alt="룸사진"></figure>
					</div>					
					
					<div class="room_wr" id="room03">
						<h3 class="ftfm-nt">디럭스 트윈</h3>
						<table class="drx_txt clr">
							<tr>
								<th>기준인원</th>
								<td>기준4인 / 최대6인</td>
							</tr>
							<tr>
								<th>이용시간</th>
								<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
							</tr>
							<tr>
								<th>객실구성</th>
								<td>침실(1) + 거실(1) + 주방(1) + 욕실(1) </td>
							</tr>	
							<tr>
								<th>객실비품</th>
								<td>일반TV,에어컨,싱크대,조리도구,냉장고,전기밥솥,<br>세면용품,수건 </td>
							</tr>
							<tr>
								<th>인원추가</th>
								<td>1인 10,000원 (현지지불)</td>
							</tr>																					
						</table>
						<div class="txt_Wr">
							<p class="d_txt txt1">* 기준인원 초과시 추가요금 발생됩니다.(1인당 10,000원,36개월 이상)</p>
							<p class="d_txt">* 객실입실과 퇴실시간을 꼭 지켜주세요.</p>
						</div>
						<figure><img src="http://img.bscondo.co.kr/m/gallery/room03.jpg" alt="룸사진"></figure>
					</div>	
					
					<div class="room_wr" id="room04">
						<h3 class="ftfm-nt">키즈룸 1</h3>
						<table class="drx_txt clr">
							<tr>
								<th>기준인원</th>
								<td>기준4인 / 최대6인</td>
							</tr>
							<tr>
								<th>이용시간</th>
								<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
							</tr>
							<tr>
								<th>객실구성</th>
								<td>침실(1) + 거실(1) + 주방(1) + 욕실(1) </td>
							</tr>	
							<tr>
								<th>객실비품</th>
								<td>일반TV,에어컨,싱크대,조리도구,냉장고,전기밥솥,<br>세면용품,수건 </td>
							</tr>
							<tr>
								<th>인원추가</th>
								<td>1인 10,000원 (현지지불)</td>
							</tr>																					
						</table>
						<div class="txt_Wr">
							<p class="d_txt txt1">* 기준인원 초과시 추가요금 발생됩니다.(1인당 10,000원,36개월 이상)</p>
							<p class="d_txt">* 객실입실과 퇴실시간을 꼭 지켜주세요.</p>
						</div>
						<figure><img src="http://img.bscondo.co.kr/m/gallery/room04.jpg" alt="룸사진"></figure>
					</div>	
					
					
					<div class="room_wr" id="room05">
						<h3 class="ftfm-nt">키즈룸 2</h3>
						<table class="drx_txt clr">
							<tr>
								<th>기준인원</th>
								<td>기준4인 / 최대6인</td>
							</tr>
							<tr>
								<th>이용시간</th>
								<td>체크인 14시 ~ 22시 / 체크아웃 11시</td>
							</tr>
							<tr>
								<th>객실구성</th>
								<td>침실(1) + 거실(1) + 주방(1) + 욕실(1) </td>
							</tr>	
							<tr>
								<th>객실비품</th>
								<td>일반TV,에어컨,싱크대,조리도구,냉장고,전기밥솥,<br>세면용품,수건 </td>
							</tr>
							<tr>
								<th>인원추가</th>
								<td>1인 10,000원 (현지지불)</td>
							</tr>																					
						</table>
						<div class="txt_Wr">
							<p class="d_txt txt1">* 기준인원 초과시 추가요금 발생됩니다.(1인당 10,000원,36개월 이상)</p>
							<p class="d_txt">* 객실입실과 퇴실시간을 꼭 지켜주세요.</p>
						</div>
						<figure><img src="http://img.bscondo.co.kr/m/gallery/room05.jpg" alt="룸사진"></figure>
					</div>																										
				</div>

			</section>
		</div>
		
		<div class="footer">
			<address>
				<span class="txt">
					(주)비에스투어앤리조트<br>
					충청남도 아산시 도고면 기곡로62번길 6-8 ㅣ 대표: 공병식<br>
					사업자등록번호 : 312-86-43769 ㅣ 예약전화: 041-542-7007<br>
					상담 및 문의전화: 041-428-9422~3 ㅣ 팩스: 041-532-6656<br>
					<small>COPYRIGHT © 2014-2017 (주)비에스투어앤리조트, ALL RIGHT RESERVED.</small>
				</span>
			</address>
		</div>




	</div>

</body>
</html>
