<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>비에스앤리조트도고콘도</title>

	<link rel="stylesheet" type="text/css" href="http://static.bscondo.co.kr/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../../src/css/m/common.css">
	<link rel="stylesheet" type="text/css" href="../../src/css/m/index.css">


	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script src="../../src/js/m/common.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

</head>
<body>

	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">

		<header class="header">
			<div class="hd-area clr">
				<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/m/logo.png" alt="비에스앤리조트로고"></a>
				<!--<a href="" class="gLogo"><img src="../../src/img/m/logo.png" alt="비에스앤리조트로고"></a>-->
			</div>

			<button type="button" class="navTab" id="navTab">
				<span></span>
				<span></span>
				<span></span>
			</button>
			<nav class="gNav" id="gNav">
				<ul class="gnb clr">
					<li class="nth-1">
						<a href="">콘도소개</a>
					</li>
					<li class="nth-2">
						<a href="">예약/예약확인</a>
					</li>
					<li class="nth-3">
						<a href="">갤러리</a>
					</li>
					<li class="nth-4">
						<a href="">단체문의</a>
					</li>
					<li class="nth-5">
						<a href="">오시는길</a>
					</li>
				</ul>
			</nav>
		</header>

		<div class="main container cf">

			<section class="visual-contents">
				<img class="bnImg" src="http://img.bscondo.co.kr/m/main_slide_bn01.jpg" alt="비에스앤리조트콘도">
				<!--<img class="bnImg" src="../../src/img/m/main_slide_bn01.jpg" alt="비에스앤리조트콘도">-->
				<!--<div class="bxBox" id="bxBox-1">
					<ul class="bxS">
						<li class="item-1"></li>
					</ul>
				</div>-->
			</section>

			<section class="main-contents">
				<h2 class="hidden">상품 리스트</h2>

				<ul class="main-item">
					<li>
						<a href="">
							<img src="http://img.bscondo.co.kr/m/tabPlus.png" alt="상품" class="tabPlus">
							<h3>객실단품 구매</h3>
							<span class="mg-"></span>
							<p class="p-1">BS투어 도고콘도의<br>편안한 객실</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="http://img.bscondo.co.kr/m/tabPlus.png" alt="상품" class="tabPlus">
							<h3>파라다이스 패키지 구매</h3>
							<span class="mg-"></span>
							<p class="p-1">국내 최고수준의<br>호텔 프리미엄 스파</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="http://img.bscondo.co.kr/m/tabPlus.png" alt="" class="tabPlus">
							<h3>스파비스 패키지 구매</h3>
							<span class="mg-"></span>
							<p class="p-1">건강증진을 도모하는<br>온 가족 종합온천</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="http://img.bscondo.co.kr/m/tabPlus.png" alt="" class="tabPlus">
							<h3>리솜스파캐슬 패키지 구매</h3>
							<span class="mg-"></span>
							<p class="p-1">온 가족이 모두 즐기는<br>원스톱 스파 서비스</p>
						</a>
					</li>
					<li>
						<a href="">
							<img src="http://img.bscondo.co.kr/m/tabPlus.png" alt="" class="tabPlus">
							<h3>레일바이크 패키지 구매</h3>
							<span class="mg-"></span>
							<p class="p-1">나들이의 여유로움을<br>만끽하는 여행추억</p>
						</a>
					</li>
				</ul>
			</section>

		</div>

		<div class="footer">
			<address>
				<span class="txt">
					(주)비에스투어앤리조트<br>
					충청남도 아산시 도고면 기곡로62번길 6-8 ㅣ 대표: 공병식<br>
					사업자등록번호 : 312-86-43769 ㅣ 예약전화: 041-542-7007<br>
					상담 및 문의전화: 041-428-9422~3 ㅣ 팩스: 041-532-6656<br>
					<small>COPYRIGHT © 2014-2017 (주)비에스투어앤리조트, ALL RIGHT RESERVED.</small>
				</span>
			</address>
		</div>




	</div>

</body>
</html>
