<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/common2.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/etc/init.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">
		
		<header class="header">
			<div class="hd-top">
			</div>
			<div class="hd-area clr">
				<div class="glb">
					<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/top_logo.png" alt="비에스앤리조트로고"></a>
				</div>
				<nav class="gNav">
					<ul class="gnb clr">
						<li class="nth-1">
							<a href="">콘도소개</a>
							<div class="gDep2-nav">
								<ul class="gnb-dep2" id="gnb-dep2">
									<li><a href="javascript:;">디럭스온돌</a></li>
									<li><a href="javascript:;">디럭스더블</a></li>
									<li><a href="javascript:;">디럭스트윈</a></li>
									<li><a href="javascript:;">디럭스테마(키즈룸)</a></li>
									<li><a href="javascript:;">스위트</a></li>
									<li><a href="javascript:;">부대시설</a></li>
								</ul>
							</div>
						</li>
						<li class="nth-2">
							<a href="">객실안내</a>
						</li>
						<li class="nth-3">
							<a href="">단체문의</a>
						</li>
						<li class="nth-4">
							<a href="">오시는길</a>
						</li>
						<li class="nth-5">
							<a href="">예약/예약확인</a>
						</li>
					</ul>
				</nav>			
			</div>
		</header>
		
		<div class="container">
			
			<section class="policy-contents">
				<h2>개인정보취급방침</h2>
				
				<div class="txt-box">
					<p>
						‘BS투어앤리조트’(이하 '회사'라 함)는 고객님(이하 '귀하'라 함)의 개인정보를 매우 중요시하며, 정보통신망 이용 촉진 등에 관한 법률상의 개인정보 보호규정을 준수하고 있습니다.<br> 회사는 개인정보취급방침을 통하여 귀하께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br> 회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br><br>

						<span>개인정보 수집목적</span><br><br> - 고지사항 전달<br> - 서비스 이용에 따른 본인확인 및 구매 의사 확인 <br> - 개인식별<br> - 불량회원의 부정 이용 방지와 비인가사용 방지 등 <br> - 고객센터의 운영, 불만처리 등 민원처리<br><br>

						<span>개인정보 수집항목</span><br><br> - 예약자명<br> - 투숙자명<br> - 이메일 <br> - 휴대폰번호<br> - 기타연락처<br> - 결제 및 환불계좌정보<br><br>

						<span>보유기간</span><br><br> - 계약 또는 청약철회 등에 관한 기록 : 5년<br> - 대금결제 및 재화 등의 공급에 관한 기록 : 5년<br> - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br><br>

						<span>개인정보의 파기 절차 및 방법</span><br><br> 회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다.<br> 파기절차 및 파기시점, 파기방법은 다음과 같습니다<br><br> 1. 파기절차<br> 귀하께서 입력한 정보는 목적이 달성된 후 내부방침 및 기타 관련 법령에 의한 정보보호 사유에 따라 일정기간 저장된 후 파기되어 집니다. 본 개인정보는 법률에 의한 경우가 아니고서는 보유 되어지는 이외의 다른 목적으로 이용되지 않습니다.<br><br> 2. 파기방법<br> - 종이에 출력된 개인정보 : 분쇄기로 분쇄하거나 소각<br> - 전자적 파일 형태로 저장된 개인정보 : 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제<br><br>

						<span>개인정보 제공</span><br><br> 회사는 서비스 향상을 위해서 귀하의 개인정보가 필요한 경우 등의 법률상의 요건을 구비하여 외부에 수집, 취급, 관리 등을 위탁하여 처리할 수 있으며, 제 3자에게 제공할 수 있습니다.<br> 제공받는자 : 예약한숙소, 입장권을 구매한 시설 <br><br> 1. 귀하의 개인정보는 수집항목 및 방법, 이용목적에서 고지한 범위 내에서 사용하며, 동 범위를 초과하여 이용하거나 타인 또는 타기업∙기관에 제공하지 않습니다. 단, 다음 각호의 경우에는 예외로 합니다.<br> - 이용자들이 사전에 동의한 경우<br> - 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br> - 영업의 양수 등: 영업의 양수 등에 관한 사유가 발생하여 회원의 개인정보 이전이 필요한 경우, 회사는 『정보통신망이용촉진및정보보호등에관한법률』 등 관계법률에서 규정한 절차와 방법에 따라 개인정보 이전에 관한 사실 등을 사전에 고지합니다.<br>

						<span>개인정보 자동수집 장치의 설치, 운영 및<br>그 거부에 관한 사항</span><br><br> 회사는 귀하의 정보를 저장하고 수시로 찾아내는 ‘쿠키(cookie)’를 사용합니다. 쿠키란 BS투어앤리조트의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 쿠키는 귀하의 컴퓨터는 식별하지만 귀하를 개인적으로 식별하지는 않습니다. 또한 귀하는 쿠키에 대한 선택권이 있습니다. 쿠키가 설치될 때 통지를 보내도록 하거나 아니면 모든 쿠키를 거부할 수 있는 선택권을 가질 수 있습니다. <br> 회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.<br><br> 1. 쿠키 등 사용 목적<br> - 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공 - 귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br><br> 2. 쿠키 설정 거부 방법<br> 예: 쿠키 설정을 거부하는 방법으로는 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.<br> [설정방법] 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 &gt; 인터넷 옵션 &gt; 개인정보<br> 단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.<br><br>

					</p>
					<p>이용자 및 법정대리인의 권리와 그 행사방법 </p>
					이용자는 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 가입 해지를 요청할 수도 있으나, 미성년자는 이용을 하실 수 없습니다. <br> 이용자는 개인정보 조회/수정을 위해서는 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을 가입 해지(동의철회)를 위해서는 “회원탈퇴”를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다. <br> 혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다. 귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. <br> 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.<br><br>

					<p>개인정보에 관한 민원서비스</p>

					회사는 귀하의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.<br> 개인정보관리책임자 성명 : 박준수 팀장<br> 전화번호 : 02) 6255-3060<br> 이메일 : SITE_email<br> 귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다.<br> 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br> 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br> 1. 개인정보침해신고센터 (www.cyberprivacy.or.kr / 1336)<br> 2. 대검찰청 인터넷범죄수사센터 (http://sppo.go.kr / 02-3480-3600)<br> 3. 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 02-392-0330)



				</div>
			</section>
			
		</div>
		
		<div class="footer">
			<div class="copyright">	
				<span class="txt">
				<span class="footer_lgo"><img src="http://img.bscondo.co.kr/footer_logo.png" alt="bscond"></span>
					(주)비에스투어앤리조트<br/>
					충청남도 아산시 도고면 가곡로62번길 6-8 | 대표:공병식 | 사업자 등록번호: 312-86-43769<br/>
					예약전화:041-542-7007 | 상담 및 문의전화:041-428-9422~3 | 팩스:042-531-6656	
					<br><br>
					copyright 2014-2017 by (주)비에스투어앤리조트, all rights reserved. 
				</span>
			</div>
		</div>
		
		
		
		
		
	</div>
		
</body>
</html>