<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/common2.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/etc/init.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">
		
		<header class="header">
			<div class="hd-top">
			</div>
			<div class="hd-area clr">
				<div class="glb">
					<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/top_logo.png" alt="비에스앤리조트로고"></a>
				</div>
				<nav class="gNav">
					<ul class="gnb clr">
						<li class="nth-1">
							<a href="">콘도소개</a>
							<div class="gDep2-nav">
								<ul class="gnb-dep2" id="gnb-dep2">
									<li><a href="javascript:;">디럭스온돌</a></li>
									<li><a href="javascript:;">디럭스더블</a></li>
									<li><a href="javascript:;">디럭스트윈</a></li>
									<li><a href="javascript:;">디럭스테마(키즈룸)</a></li>
									<li><a href="javascript:;">스위트</a></li>
									<li><a href="javascript:;">부대시설</a></li>
								</ul>
							</div>
						</li>
						<li class="nth-2">
							<a href="">객실안내</a>
						</li>
						<li class="nth-3">
							<a href="">단체문의</a>
						</li>
						<li class="nth-4">
							<a href="">오시는길</a>
						</li>
						<li class="nth-5">
							<a href="">예약/예약확인</a>
						</li>
					</ul>
				</nav>			
			</div>
		</header>
		
		<div class="container">
			
			<section class="booking-contents">
				<h2>예약방법안내</h2>
				
				<div class="info">
					<p class="tab"><span>필독 1.</span> BS투어앤리조트 예약진행 절차</p>
					<div class="d-row">
						- 예약 후, 잠시만 기다려 주시면 상담원의 연락(문자 또는 전화)를 받으실 수 있습니다.<br> - 예약안내는 <span>18시 이전 접수건의 경우, 당일 22시까지 순차적</span>으로 문자 또는 전화를 통해 안내해 드립니다. (주말 및 휴일은 다음 영업일 안내)
					</div>
					<img src="http://img.bscondo.co.kr/etc/customer_info_img01.jpg" alt="예약진행 절차" class="coinmg" usemap="#info_Map">
					<!-- 클릭으로 바꿔도되는지 물어볼것 -->
					<map name="info_Map" id="info_Map">
						<area shape="rect" coords="590,236,663,263" alt="자세히보기" onmouseover="$(refund_t).show();" onmouseout="$(refund_t).hide();" style="cursor:pointer">
					</map>
					<!-- 자세히보기 버튼 마우스 오버시 노출 -->
					<table class="refund_t" id="refund_t" style="display:none;">
						<colgroup>
							<col width="90">
							<col width="210">
						</colgroup>
						<tbody>
							<tr>
								<th>결제타입</th>
								<th>실제 취소완료기간</th>
							</tr>
							<tr>
								<td>카드결제</td>
								<td>
									<b>결제 후 당일취소시</b><br> 해당일 카드취소완료<br>
									<b>결제한 익일 이후 취소시</b><br> 취소요청일로부터 4~5일소요<br> (해당카드사마다 소요날짜 상이)
								</td>
							</tr>
							<tr>
								<td>무통장입금</td>
								<td>
									<b>16시30분 이전에 환불계좌 접수시</b><br> 해당일 18:00 이후로 환불<br>
									<b>16시30분 이후에 환불계좌 접수시</b><br> 익일 18:00 이후로 환불
								</td>
							</tr>
							<tr>
								<td>휴대폰결제</td>
								<td>
									취소 신청한 날짜에 취소완료
								</td>
							</tr>
							<tr>
								<td>실시간계좌이체</td>
								<td>
									취소 신청한 날짜로부터 4~5일정도 소요<br> (은행별로 소요날짜 상이)
								</td>
							</tr>
							<tr>
								<td>가상계좌</td>
								<td>
									<b>16시30분 이전에 환불계좌 접수시</b><br> 해당일 18:00 이후로 환불<br>
									<b>16시30분 이후에 환불계좌 접수시</b><br> 익일 18:00 이후로 환불
								</td>
							</tr>
						</tbody>
					</table>

					<p class="tab"><span>필독 2.</span> 예약완료 후, 시설이용 안내</p>
					<div class="d-row">
						- 예약문자는 시설에 따라, <span>"예약자명"과 "예약번호" 2가지 형태</span>로 발송됩니다.
					</div>
					<img src="http://img.bscondo.co.kr/etc/customer_info_img02.jpg" alt="예약완료 후, 시설이용 안내">
				</div>
			</section>
			
		</div>
		<div class="footer">
			<div class="copyright">	
				<span class="txt">
				<span class="footer_lgo"><img src="http://img.bscondo.co.kr/footer_logo.png" alt="bscond"></span>
					(주)비에스투어앤리조트<br/>
					충청남도 아산시 도고면 가곡로62번길 6-8 | 대표:공병식 | 사업자 등록번호: 312-86-43769<br/>
					예약전화:041-542-7007 | 상담 및 문의전화:041-428-9422~3 | 팩스:042-531-6656	
					<br><br>
					copyright 2014-2017 by (주)비에스투어앤리조트, all rights reserved. 
				</span>
			</div>
		</div>
		
		
		
		
		
	</div>
		
</body>
</html>