@charset 'utf-8';

@media (max-width: 979px) {
	.footer {margin-top: 0;}

	.history .his-tab, .history .his-tab * {box-sizing: border-box;}
	.history {position: relative; padding: 0 0 40px; background: #f1f1f1;}
	.history .container {position: relative; width: 100%; padding: 8px 0; background: #fff;}
	.history .his-tab {position: relative; width: 100%; height: 36px;}
	.history .his-tab > li {position: relative; width: 33.33%; float: left; height: 100%; border: 1px solid #b7bfc8; border-right: none; background: #fff;}
	.history .his-tab > li:first-child {border-left-width: none;}
	.history .his-tab > li .btn-a {color: #6c7580; display: block; height: 100%; text-align: center; font-weight: 600; font-size: 13px; letter-spacing: -1px;}
	.history .his-tab > li .btn-a:after {content: ""; display: inline-block; height: 107%; vertical-align: middle;}
	.history .his-tab > li.on .btn-a {background: #ecb84a;}
	.history .his-tab > li.on .btn-a {color: #fff;}
	
	/* 180212_체크인아웃 밑 제공혜택 추가_다솜 */
	.calender-txt-box {width:92%; margin:0 auto;}
	.calender-txt-box .cal-bold {font-size:14.5px; line-height:1.3; font-weight:bold;}
	.calender-txt-box .cal-list {margin-top:6px;}
	.calender-txt-box .cal-list li, .calender-txt-box .cal-deco {font-size: 13.5px; line-height:1.4;}
	.calender-txt-box .cal-list li {padding-left:14px; text-indent:-12px;}
	.calender-txt-box .cal-deco {padding-left:16px; text-indent:-13px;}
	.calender-txt-box .mt-13 {margin-top:13px;}
	
}
@media (min-width: 980px) {
	/*--- layout.css 재정의 ---*/
	#contents {width: 978px; margin-top: 0; border-top: 3px solid #717171; margin-bottom: 100px;}

	.main-contents h3 {font-size: 35px; font-weight: 700; color: #434343; font-family: 'Malgun Gothic', 'Nanum Gothic', sans-serif; margin: 30px auto 15px; letter-spacing: -1px;}

	/*#main5 {width: 980px;}*/

	/* 20180321_오른쪽 퀵배너추가_다솜 */
	.lWing-wrap {position: absolute; top:50px; right: 50%; margin-right: -693px; z-index: 20;}

	.cont-side {position: absolute; top:50px;  z-index: 20;}
	.cont-side.right {right: 50%; margin-right: -625px;}
	.cont-side.right .item {position: relative; display: block; margin-top: 20px; color: #fff;}
	.cont-side.right .item:first-child {margin-top: 0;}
	/*.cont-side.right .item .txt-box,
	.cont-side.right .item .row-more {position: absolute; width: 100%; text-align: center;}
	.cont-side.right .item .txt-box {top: 23px;}
	.cont-side.right .item .txt-box .p-1 {font-size: 17px; font-weight: 700;}
	.cont-side.right .item .txt-box .p-2 {font-size: 16px;}
	.cont-side.right .item .row-more {position: relative; display: block; bottom: 0; background: #ff7a2d; font-size: 15px; padding: 6px 0;}
	.cont-side.right .item .row-more .rArrow:after {top: -1px; margin-right: -3px; border-color: #fff;}*/

}

/* ie8전용 css */
/*--- layout.css 재정의 ---*/
.ie8 #contents {width: 978px; margin-top: 0; border-top: 3px solid #717171; margin-bottom: 100px;}

.ie8 .main-contents h3 {font-size: 35px; font-weight: 700; color: #434343; font-family: 'Malgun Gothic', 'Nanum Gothic', sans-serif; margin: 30px auto 15px; letter-spacing: -1px;}
.ie8 #main5 {width: 980px;}