.main-contents .mapBox {font-size: 0;}
.mapBox .mapInfo {width:980px; padding: 20px 0; border-bottom:1px solid #cfcfcf; background-color:#f6f6f6}
.mapBox .mapInfo ul {}
.mapBox .mapInfo ul li {margin-top:10px; margin-left:15px; color:#585858; font-size:13px;}
.mapBox .mapInfo ul li:first-child {margin-top: 0;}
.mapBox .mapInfo ul li .map_i {display: inline-block; font-weight:bold; width:110px; font-size:14px; color:#000}
.mapBox .mapInfo ul li .map_i > img {position: relative; top: -1px;}


.main-contents .mapArea {position: relative;}
.main-contents .mapArea > div {float: left; color: #fff;}
.main-contents .mapArea .mapInf {position: relative; background: #000 url(http://img.bscondo.co.kr/waycome/mapInfoBg.jpg) no-repeat center top; width: 405px; height: 475px; background-size: contain;}
.main-contents .mapArea .map2 + .mapInf {position: relative; background: #000 url(http://img.bscondo.co.kr/waycome/mapInfoBg.jpg) no-repeat center top; width: 336px; height: 475px; background-size: contain; margin-left: 5px;}
.main-contents .mapArea .mapInf .mapInfUl {position: absolute; top: 0; left: 0; width: 100%;}
.main-contents .mapArea .mapInf .mapInfUl > li {position: relative; text-align: center; height: 237px; box-sizing: border-box;}
.main-contents .mapArea .mapInf .mapInfUl > li:first-child:after {content: ""; display: block; position: absolute; bottom: 0; width: 74%; height: 1px; background: #fff; left: 13%;}
.main-contents .mapArea .mapInf .mapInfUl > li.nth-1 {font-size: 20px;  padding: 60px 0 0 0; font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;}
.main-contents .mapArea .mapInf .mapInfUl > li.nth-1 .pTxt {padding-top: 20px; line-height: 1.6;}
.main-contents .mapArea .mapInf .mapInfUl > li.nth-2 {padding-top: 56px; font-family: "Malgun Gothic", sans-serif;}
.main-contents .mapArea .mapInf .mapInfUl > li.nth-2 .pTxt{padding-top: 14px; font-size: 34px; font-weight: 800; letter-spacing: -0.5px;}

.waytocome {margin-top:40px; font-size: 13px;}
.waytocome h4 {font-size:17px; font-weight:bold;}

.waytocome .tb-way {width:980px; margin-top:20px}
.waytocome .tb-way tr {border-bottom:1px solid #fff; height:65px}
.waytocome .tb-way th {width:20%; border-right:1px solid #fff; background-color:#ececec; text-align:center; font-weight:bold}
.waytocome .tb-way td {width:80%; background-color:#f6f6f6; padding-left:15px}

.waytocome .tb-way2 {position: relative; width:980px; margin-top:20px}
.waytocome .tb-way2 > ul > li {border-bottom:1px solid #fff; background-color:#ececec;}
.waytocome .tb-way2 > ul > li > div {/*float: left;*/ display: inline-block; font-size: 14px; padding: 12px 0; box-sizing: border-box; vertical-align: middle; word-break: keep-all;}
.waytocome .tb-way2 .d-th {width: 200px; text-align:center; font-weight:bold;}
.waytocome .tb-way2 .d-td {position: relative; left: 1px; width: 779px; width: 776px; background-color:#f6f6f6; padding-left: 8px;}