<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>비에스앤리조트도고콘도</title>

	<link rel="stylesheet" type="text/css" href="../src/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../src/css/common.css">
	<link rel="stylesheet" type="text/css" href="../src/css/index.css">


	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script src="../src/js/index.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
		/*WebFont.load({
			custom: {
				families: ['Nanum Square'],
				urls: ['http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css']
			}
		});*/
	</script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">

		<header class="header">
			<div class="hd-top">

			</div>
			<div class="hd-area clr">
				<div class="glb">
					<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/logo.jpg" alt="비에스앤리조트로고"></a>
				</div>
				<nav class="gNav">
					<ul class="gnb clr">
						<li class="nth-1">
							<a href="">콘도소개</a>
						</li>
						<li class="nth-2">
							<a href="">예약/예약확인</a>
						</li>
						<li class="nth-3">
							<a href="">갤러리</a>
							<div class="gDep2-nav">
								<ul class="gnb-dep2" id="gnb-dep2">
									<li><a href="javascript:;">디럭스온돌</a></li>
									<li><a href="javascript:;">디럭스더블</a></li>
									<li><a href="javascript:;">디럭스트윈</a></li>
									<li><a href="javascript:;">디럭스테마(키즈룸)</a></li>
									<li><a href="javascript:;">스위트</a></li>
								</ul>
							</div>
						</li>
						<li class="nth-4">
							<a href="">단체문의</a>
						</li>
						<li class="nth-5">
							<a href="">오시는길</a>
						</li>

					</ul>
				</nav>
			</div>
		</header>

		<div class="container">

			<section class="visual-contents">
				<div class="bxBox" id="bxBox-1">
					<ul class="bxS">
						<li class="item-1"></li>
						<li class="item-2"></li>
						<li class="item-3"></li>
					</ul>
				</div>

				<ul class="visual-tab clr">
					<li class="item-1"><a href=""></a></li>
					<li class="item-2"><a href=""></a></li>
					<li class="item-3"><a href=""></a></li>
					<li class="item-4"><a href=""></a></li>
					<li class="item-5"><a href=""></a></li>
				</ul>
			</section>

		</div>

		<div class="footer">
			<!--<div class="link">
				<a href="" title="이용약관">이용약관</a> <span class="mgl">|</span>
				<a href="" title="개인정보취급방침">개인정보취급방침</a>
			</div>-->
			<div class="copyright">
				<span class="txt">
					상호명 : (주)비에스투어앤리조트  ㅣ 대표이사 : 공병식 ㅣ 고객상담 및 빠른객실문의 041-428-9422~3 ㅣ 충청남도 아산시 도고면 기곡로62번길 6-8<br>
					사업자등록번호 : 312-86-43769 ㅣ 통신판매업 : xxxxxxxx ㅣ 여행업등록번호 : xxx <a href="javascript:pop.open('registration.jpg', '400', '568');"><img src="http://img.bscondo.co.kr/footer_icon.jpg"></a><br>
					여행영업보증서 : 국내여행 제100-000-2015 0298 5571호
					<br><br>
					copyright 2014-2017 by (주)비에스투어앤리조트, all rights reserved. 
				</span>
			</div>
		</div>




	</div>

</body>
</html>
