<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="../../src/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../../src/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../src/css/intro/init.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">
		
		<header class="header">
			<div class="hd-top">
				
			</div>
			<div class="hd-area clr">
				<div class="glb">
					<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/logo.jpg" alt="비에스앤리조트로고"></a>
				</div>
				<nav class="gNav">
					<ul class="gnb clr">
						<li class="nth-1 on">
							<a href="">콘도소개</a>
						</li>
						<li class="nth-2">
							<a href="">예약/예약확인</a>
						</li>
						<li class="nth-3">
							<a href="">갤러리</a>
							<div class="gDep2-nav">
								<ul class="gnb-dep2" id="gnb-dep2">
									<li><a href="javascript:;">디럭스온돌</a></li>
									<li><a href="javascript:;">디럭스더블</a></li>
									<li><a href="javascript:;">디럭스트윈</a></li>
									<li><a href="javascript:;">디럭스테마(키즈룸)</a></li>
									<li><a href="javascript:;">스위트</a></li>
								</ul>
							</div>
						</li>
						<li class="nth-4">
							<a href="">단체문의</a>
						</li>
						<li class="nth-5">
							<a href="">오시는길</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		
		<div class="container">
			
			<section class="tit-contents">
				<h2>콘 도 소 개</h2>
			</section>
			
			<section class="main-contents">
				<h3>BS투어앤리조트 소개</h3>
				
				<img src="http://img.bscondo.co.kr/intro/information_img.jpg" alt="리조트사진">
				<p class="p-1">저희 BS투어앤리조트를 찾아주신 고객여러분 감사합니다.</p>
				<p class="p-2">
					2005년 12월 구-IF로 개관한 BS투어앤리조트는 국내 최초의 천연 유황온천인 도고 온천의 보양 휴양과 안락한 휴가를 보낼 수 있는 최고의 숙박/관광 시설입니다.<br>
					충남 지역 숙박 시설중 가족 단위의 휴양에 최적화된 시설로서, 연회, 학술세미나, 학교 현장체험학습, 수련회등의 단체행사에도 적합한 12개의 중대형 연회장을 완비하고 있습니다.<br><br>
					고품격의 시설과 관광서비스를 넘어 자연과 함께하며 참 행복을 체험하는 Eco Tourism, 바로 사람의 마음을 풍요롭게 하고,<br>
					삶을 재충전하기 위하여 BS투어앤리조트가 추구하는 비전입니다.<br><br>
					앞으로도 BS투어앤리조트는 저탄소 녹색산업 Item 발굴, 리조트내 녹지기반 확대 등 인공적 가공을 최소화한 자연속에서 레저, 문화, 휴양을 어우러지게하는<br>
					참 행복의 레저 문화를 정착해 나가도록 끊임없이 노력해 나가며, 지친 일상을 회복할 수 있는 편안하고 안락한 보양 휴양을 위하여 최고의 서비스를 제공하여 드리겠습니다.<br><br>
					쉼이란 소모하는 것이 아니라, 충전하는 것이라 믿기에 가장 편안하고 여유로운 시간을 누릴 수 있도록 BS 투어앤리조트는 여러분 곁에 있습니다.<br><br>
					감사합니다.
				</p>
			</section>
			
		</div>
		
		<div class="footer">
			<div class="copyright">
				<span class="txt">
					상호명 : (주)투어포유  ㅣ 대표이사 : 이희열 ㅣ 고객상담 및 빠른객실문의 1666-6186 ㅣ 서울특별시 강남구 테헤란로82길 15, 14층(대치동, 디아이타워)<br>
					사업자등록번호 : 549-88-00105 ㅣ 통신판매업 : 제2015-서울강남-02198호 ㅣ 여행업등록번호 : 제2015-30호 <a href="javascript:pop.open('registration.jpg', '400', '568');"><img src="http://img.bscondo.co.kr/footer_icon.jpg"></a><br>
					여행영업보증서 : 국내여행 제100-000-2015 0298 5571호<br><br>
					copyright 2015 by bstourresort co., all rights reserved. 
				</span>
			</div>
		</div>
		
		
		
		
	</div>
		
</body>
</html>