<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>비에스앤리조트도고콘도</title>
	
	<link rel="stylesheet" type="text/css" href="../../src/css/reset.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../../src/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../src/css/group/init.css">
	
	
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

	<script>
		WebFont.load({
			custom: {
				families: ['Nanum Gothic', 'Noto Sans KR'],
				urls: ['http://fonts.googleapis.com/earlyaccess/nanumgothic.css','http://fonts.googleapis.com/earlyaccess/notosanskr.css']
			}
		});
	</script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	
	<h1 class="hidden">비에스앤리조트도고콘도</h1>

	<div id="bs-wrap">
		
		<header class="header">
			<div class="hd-top">
				
			</div>
			<div class="hd-area clr">
				<div class="glb">
					<a href="" class="gLogo"><img src="http://img.bscondo.co.kr/logo.jpg" alt="비에스앤리조트로고"></a>
				</div>
				<nav class="gNav">
					<ul class="gnb clr">
						<li class="nth-1">
							<a href="">콘도소개</a>
						</li>
						<li class="nth-2">
							<a href="">예약/예약확인</a>
						</li>
						<li class="nth-3">
							<a href="">갤러리</a>
							<div class="gDep2-nav">
								<ul class="gnb-dep2" id="gnb-dep2">
									<li><a href="javascript:;">디럭스온돌</a></li>
									<li><a href="javascript:;">디럭스더블</a></li>
									<li><a href="javascript:;">디럭스트윈</a></li>
									<li><a href="javascript:;">디럭스테마(키즈룸)</a></li>
									<li><a href="javascript:;">스위트</a></li>
								</ul>
							</div>
						</li>
						<li class="nth-4 on">
							<a href="">단체문의</a>
						</li>
						<li class="nth-5">
							<a href="">오시는길</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		
		<div class="container">
			
			<section class="tit-contents">
				<h2>단 체 문 의</h2>
			</section>
			
			<section class="main-contents">
				<div class="area-btn">
					<a href="javascript:;" class="a-btn" onclick="$('#contact-bg, #contact-pop').show(); $(window).scrollTop(0);">문의하기</a>
				</div>
				
				<div class="main-area">
					<ul class="groupEvt-list clr">
						<li class="nth-1">
							<strong>명랑운동회 <span class="dot">&#8226;</span> 체육대회</strong>
							<p class="p-1">동료들과 더욱 돈독해지는<br>기회를 만들어주는 기회</p>
						</li>
						<li class="nth-2">
							<strong>워크샵</strong>
							<p class="p-1">조직원의 커뮤니케이션이<br>증가되는 즐거운 행사</p>
						</li>
						<li class="nth-3">
							<strong>비전선포식</strong>
							<p class="p-1">한마음 공동체를 실현하여<br>기업의 활동을 촉진</p>
						</li>
						<li class="nth-4">
							<strong>창립기념행사</strong>
							<p class="p-1">전진하는 계기를 부여하고<br>미래를 공유하는 행사</p>
						</li>
						<li class="nth-5">
							<strong>기/준공식</strong>
							<p class="p-1">순조로운 진척과 무사안전을<br>기원하기위한 행사 </p>
						</li>
						<li class="nth-6">
							<strong>레크레이션</strong>
							<p class="p-1">모두가 즐겁고 행복한<br>공동체 행사</p>
						</li>
					</ul>
				</div>
				
				<div class="area-btn type-2">
					<a href="javascript:;" class="a-btn" onclick="$('#contact-bg, #contact-pop').show(); $(window).scrollTop(0);">문의하기</a>
				</div>
			</section>
			
		</div>


		<!-- 팝업 배경-->
		<div class="dropDown-bg" id="contact-bg" style="display: none;"></div>
		<!-- 단체문의 입력폼 -->
		<div class="contact-pop" id="contact-pop" style="display: none;">
			<div class="d-tit">
				<p><span class="hide show-sm-gte t-l"></span>비에스 앤 리조트</span> 단체 행사 문의<span class="hidden-xs">하기</span><span class="hide show-sm-gte t-r"></span></p>
				<a href="#" class="close a-i-x a-x" onclick="$('#contact-pop, #contact-bg').hide();"></a>
			</div>
			<p class="p-cf">
				<img class="pic-chk" src="http://img.bscondo.co.kr/group/pic_chk.png" alt="입력">
				기본 사항만 남겨주시면, 담당자가 빠르게 연락드리도록 하겠습니다.
			</p>
			<div class="d-top i-chk-bef">
				<span class="hidden-xs s-1">은 </span>필수 입력 사항<span class="hidden-xs">입니다.</span>
			</div>
			<ul class="ul-tb nece">
				<li class="li-tr">
					<span class="s-lbl i-chk-aft">예약자</span>
					<input type="text" class="wd-1">
					<span class="s-lbl i-chk-aft ml-1">연락처</span>
					<input type="text" class="wd-2">
					<span class="mg-"></span>
					<input type="text" class="wd-2">
					<span class="mg-"></span>
					<input type="text" class="wd-2">
					<div class="show-xs"></div>
				</li>
				<li class="li-tr">
					<span class="s-lbl i-chk-aft">이메일</span>
					<input type="text" class="wd-3">
				</li>
			</ul>
			<ul class="ul-tb">
				<li class="li-tr">
					<span class="s-lbl">단체명</span>
					<input type="text" class="wd-1">
					<span class="s-lbl ml-1">행사분류</span>
					<select name="" id="" class="wd-1 wd-1-2">
						<option value="">수련회</option>
						<option value="">워크샵/오티</option>
						<option value="">세미나/단체행사</option>
						<option value="">학술모임</option>
						<option value="">각종잔치</option>
						<option value="">기타</option>
					</select>
				</li>
				<li class="li-tr">
					<span class="s-lbl">이용일</span>
					<input type="text" class="wd-4">
					<select name="" id="" class="wd-1 wd-1-2">
						<option value="">1박 2일</option>
						<option value="">2박 3일</option>
						<option value="">3박 4일</option>
						<option value="">4박 5일</option>
						<option value="">5박 이상</option>
					</select>
				</li>
				<li class="li-tr">
					<span class="s-lbl">인원</span>
					<span class="s-txt">남자</span>
					<input type="text" class="wd-5"><span>명</span>
					<span class="s-txt">여자</span>
					<input type="text" class="wd-5"><span>명</span>
					<span class="mg-l"></span>
					<span class="s-txt">총 인원</span>
					<input type="text" class="wd-6"><span>명</span>
				</li>
				<li class="li-tr">
					<span class="s-lbl">예산</span>
					<input type="text" class="wd-7"><span>원</span>
				</li>
				<li class="li-tr">
					<span class="s-lbl ver-t">기타요청</span>
					<textarea name="" id="" cols="30" rows="10" class="wd-8"></textarea>
				</li>
			</ul>
			<p class="area-btn"><a href="javascript">단체 문의하기 <span class="ic-rArrow"></span></a></p>
			<div class="d-bottom">
				<p class="p-1">
					빠른 상담이 필요하신가요?<br>
					<span class="hide show-lg-1190">연락주시면</span> 담당자가 빠르게 안내해 드리겠습니다.
					<span class="fl-r"><img src="http://img.ocean2you.co.kr/renew/group/pic_callW.png" alt="전화">단체 예약문의 010-8844-0409</span>
				</p>
			</div>
		</div>

		
		<div class="footer">
			<div class="copyright">
				<span class="txt">
					상호명 : (주)투어포유  ㅣ 대표이사 : 이희열 ㅣ 고객상담 및 빠른객실문의 1666-6186 ㅣ 서울특별시 강남구 테헤란로82길 15, 14층(대치동, 디아이타워)<br>
					사업자등록번호 : 549-88-00105 ㅣ 통신판매업 : 제2015-서울강남-02198호 ㅣ 여행업등록번호 : 제2015-30호 <a href="javascript:pop.open('registration.jpg', '400', '568');"><img src="http://img.bscondo.co.kr/footer_icon.jpg"></a><br>
					여행영업보증서 : 국내여행 제100-000-2015 0298 5571호<br><br>
					copyright 2015 by bstourresort co., all rights reserved. 
				</span>
			</div>
		</div>
		
		
		
		
	</div>
		
</body>
</html>