@charset 'utf-8';

.header {background: #eaeaea;}

.main-contents {width: 96%; margin: 0 auto; padding-bottom: 30px;}
.main-contents .d-part {position: relative; text-align: center; padding-top: 25px;}
.main-contents .d-part h3 {font-size: 17px; text-align: center; font-weight: 500;}
.main-contents .d-part .p-1 {font-size: 13px; color: #7d7d7d;}
.main-contents .d-part figure {margin-top: 8px;}
.main-contents .d-part figure > img {width: 100%;}
